---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-L0R-CE6","submission_date":"2023-06-13","level_of_help":"certificated"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"1965-07-04","employed":false,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false},"capitals":{"bank_accounts":[{"description":"Online
        savings accounts","value":"1295957.11"}],"non_liquid_capital":[{"description":"Land","value":"50000.0"}]},"vehicles":[],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":["england_infected_blood_support"]}],"dependants":[],"outgoings":[{"name":"rent_or_mortgage","payments":[{"payment_date":"2023-05-02","amount":1421.87,"client_id":"e9349c0c-0c7c-4492-aa42-51b5e845db59","housing_cost_type":"rent"}]}],"state_benefits":[{"name":"child_benefit","payments":[{"date":"2023-03-15","amount":283361.2,"client_id":"3f61b021-8466-4fbe-9718-c3811f4838f1"},{"date":"2023-04-14","amount":95186.0,"client_id":"e1506530-f896-490f-b5fb-0075d0ba220b"},{"date":"2023-05-14","amount":546959.76,"client_id":"cbd01e87-e142-4001-86b3-291403647693"}]}],"other_incomes":[{"source":"Pension","payments":[{"date":"2023-04-16","amount":115.55,"client_id":"0f1cccdd-6029-4fdc-ad8b-c147b1c2ea47"},{"date":"2023-05-16","amount":115.55,"client_id":"694ee6c9-0a9c-4a0b-b992-35d9a2ebda83"}]}],"irregular_incomes":{"payments":[]},"cash_transactions":{"income":[{"category":"pension","payments":[{"date":"2023-03-01","amount":100.0,"client_id":"a013d2bc-1c5b-4929-a877-a80bf877a8bf"},{"date":"2023-04-01","amount":100.0,"client_id":"2481dfca-6e93-46eb-90b7-d9f7a64feda3"},{"date":"2023-05-01","amount":100.0,"client_id":"e7c99e7d-65c4-40c6-a8ad-53a4a571813a"}]}],"outgoings":[{"category":"rent_or_mortgage","payments":[{"date":"2023-03-01","amount":100.0,"client_id":"ea01f85c-1807-4f15-8cad-cda8ce88a60f"},{"date":"2023-04-01","amount":100.0,"client_id":"faf27c35-34a3-41a0-bc1c-9ef04f81db9a"},{"date":"2023-05-01","amount":100.0,"client_id":"21d53381-d5a2-47b2-b926-3e47a36044e3"}]}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a165a96ae7d093c76ece1cf54028fbe9"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2023-06-13T07:37:06.207Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":1342957.11,"income_contribution":215384.7,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required"}]},"gross_income":{"total_gross_income":308679.35,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"eligible"}],"combined_total_gross_income":308679.35},"disposable_income":{"dependant_allowance_under_16":0,"dependant_allowance_over_16":0,"dependant_allowance":0,"gross_housing_costs":573.96,"housing_benefit":0.0,"net_housing_costs":545.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":545.0,"total_disposable_income":308134.35,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"income_contribution":215384.7,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"contribution_required"}],"combined_total_disposable_income":308134.35,"combined_total_outgoings_and_allowances":545.0,"partner_allowance":0},"capital":{"pensioner_disregard_applied":0.0,"total_liquid":1295957.11,"total_non_liquid":50000.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":1345957.11,"subject_matter_of_dispute_disregard":0.0,"assessed_capital":1345957.11,"total_capital_with_smod":1345957.11,"disputed_non_property_disregard":0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required"}],"combined_disputed_capital":0.0,"combined_non_disputed_capital":1345957.11,"capital_contribution":1342957.11,"pensioner_capital_disregard":0.0,"combined_assessed_capital":1345957.11}},"assessment":{"id":"1802592b-4692-4545-8955-fbb83f5af129","client_reference_id":"L-L0R-CE6","submission_date":"2023-06-13","level_of_help":"certificated","applicant":{"date_of_birth":"1965-07-04","involvement_type":"applicant","employed":false,"has_partner_opponent":false,"receives_qualifying_benefit":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":308502.32,"cash_transactions":0.0,"bank_transactions":[{"name":"Child
        Benefit","monthly_value":308502.32,"excluded_from_income_assessment":false}]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":177.03},"bank_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":77.03},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":100.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":573.96,"maintenance_out":0.0,"legal_aid":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":473.96,"maintenance_out":0.0,"legal_aid":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":100.0,"maintenance_out":0.0,"legal_aid":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Online
        savings accounts","value":1295957.11}],"non_liquid":[{"description":"Land","value":50000.0}],"vehicles":[],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0}]}}},"remarks":{"state_benefit_payment":{"amount_variation":["3f61b021-8466-4fbe-9718-c3811f4838f1","e1506530-f896-490f-b5fb-0075d0ba220b","cbd01e87-e142-4001-86b3-291403647693"],"unknown_frequency":["3f61b021-8466-4fbe-9718-c3811f4838f1","e1506530-f896-490f-b5fb-0075d0ba220b","cbd01e87-e142-4001-86b3-291403647693"]},"other_income_payment":{"unknown_frequency":["0f1cccdd-6029-4fdc-ad8b-c147b1c2ea47","694ee6c9-0a9c-4a0b-b992-35d9a2ebda83"]},"outgoings_housing_cost":{"unknown_frequency":["e9349c0c-0c7c-4492-aa42-51b5e845db59"]},"policy_disregards":["england_infected_blood_support"]}}}'
  recorded_at: Tue, 13 Jun 2023 07:37:06 GMT
recorded_with: VCR 6.1.0
