---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-TA7-YDW","submission_date":"2023-01-17"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37a68d14590eb72c706bf9681d411300"
    body:
      encoding: UTF-8
      string: '{"success":true,"assessment_id":"6643f941-3c19-4d22-a70d-bfbe25b33b27","errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:55 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/proceeding_types
    body:
      encoding: UTF-8
      string: '{"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:55 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"2004-08-03","employed":false,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:55 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[{"description":"Online savings accounts","value":"1054677.83"}],"non_liquid_capital":[{"description":"Land","value":"50000.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:56 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:56 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:56 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/explicit_remarks
    body:
      encoding: UTF-8
      string: '{"explicit_remarks":[{"category":"policy_disregards","details":["england_infected_blood_support"]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:56 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/dependants
    body:
      encoding: UTF-8
      string: '{"dependants":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:56 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/outgoings
    body:
      encoding: UTF-8
      string: '{"outgoings":[{"name":"rent_or_mortgage","payments":[{"payment_date":"2022-12-23","amount":893.88,"client_id":"fca4a010-7ca3-446e-a65f-e5c9b95c2501"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:56 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/state_benefits
    body:
      encoding: UTF-8
      string: '{"state_benefits":[{"name":"child_benefit","payments":[{"date":"2022-10-19","amount":417842.28,"client_id":"7750d5fb-988e-40fc-93d4-c0c3dba1105f"},{"date":"2022-11-18","amount":653377.76,"client_id":"c4880518-7228-42bc-a4aa-17a4bffadf55"},{"date":"2022-12-18","amount":793555.04,"client_id":"675cc02a-789e-4772-9394-c5dedf49c8ac"}]},{"name":"manually_chosen","payments":[{"date":"2022-12-27","amount":74.4,"client_id":"217676ab-7394-4829-842a-08346a2fb545"},{"date":"2022-12-31","amount":74.4,"client_id":"cc65a3ba-ab84-442c-8e2a-010c259db99c"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:57 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/other_incomes
    body:
      encoding: UTF-8
      string: '{"other_incomes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:57 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/irregular_incomes
    body:
      encoding: UTF-8
      string: '{"payments":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:57 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/employments
    body:
      encoding: UTF-8
      string: '{"employment_income":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:57 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27/cash_transactions
    body:
      encoding: UTF-8
      string: '{"income":[{"category":"benefits","payments":[{"date":"2022-10-01","amount":100.0,"client_id":"457fb877-0f25-4e0f-ba1a-95e3e988566b"},{"date":"2022-11-01","amount":100.0,"client_id":"a9207b18-1bb6-494a-af47-dc96029e9cf4"},{"date":"2022-12-01","amount":100.0,"client_id":"6b924b21-9d91-4a87-ad38-3660222190cb"}]}],"outgoings":[{"category":"rent_or_mortgage","payments":[{"date":"2022-10-01","amount":100.0,"client_id":"dbecc27f-f08f-4337-94b4-7c3d4e21063e"},{"date":"2022-11-01","amount":100.0,"client_id":"7dc602e3-b90e-4cae-87c1-64d108901947"},{"date":"2022-12-01","amount":100.0,"client_id":"e1ce6a63-6459-439f-9ec4-0ed50f46580e"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:28:57 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/6643f941-3c19-4d22-a70d-bfbe25b33b27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a9f5168bb34501498e8c52fb453d836"
    body:
      encoding: UTF-8
      string: '{"version":"5","timestamp":"2023-01-17T09:28:58.980Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":1101677.83,"income_contribution":434630.98,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required"}]},"gross_income":{"total_gross_income":621741.29,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"eligible"}]},"disposable_income":{"dependant_allowance":0.0,"gross_housing_costs":397.96,"housing_benefit":0.0,"net_housing_costs":397.96,"maintenance_allowance":0.0,"total_outgoings_and_allowances":397.96,"total_disposable_income":621343.33,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"income_contribution":434630.98,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"contribution_required"}]},"capital":{"total_liquid":1054677.83,"total_non_liquid":50000.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":1104677.83,"pensioner_capital_disregard":0.0,"subject_matter_of_dispute_disregard":0.0,"capital_contribution":1101677.83,"assessed_capital":1104677.83,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required"}]}},"assessment":{"id":"6643f941-3c19-4d22-a70d-bfbe25b33b27","client_reference_id":"L-TA7-YDW","submission_date":"2023-01-17","applicant":{"date_of_birth":"2004-08-03","involvement_type":"applicant","employed":false,"has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":621741.29,"cash_transactions":100.0,"bank_transactions":[{"name":"manually_chosen","monthly_value":"49.6","excluded_from_income_assessment":false},{"name":"Child
        Benefit","monthly_value":"621591.69","excluded_from_income_assessment":false}]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":397.96,"maintenance_out":0.0,"legal_aid":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":297.96,"maintenance_out":0.0,"legal_aid":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":100.0,"maintenance_out":0.0,"legal_aid":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Online
        savings accounts","value":"1054677.83"}],"non_liquid":[{"description":"Land","value":"50000.0"}],"vehicles":[],"properties":{"main_home":{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"0.0","assessed_equity":"0.0"}]}}},"remarks":{"state_benefit_payment":{"amount_variation":["675cc02a-789e-4772-9394-c5dedf49c8ac","c4880518-7228-42bc-a4aa-17a4bffadf55","7750d5fb-988e-40fc-93d4-c0c3dba1105f"],"unknown_frequency":["cc65a3ba-ab84-442c-8e2a-010c259db99c","217676ab-7394-4829-842a-08346a2fb545","675cc02a-789e-4772-9394-c5dedf49c8ac","c4880518-7228-42bc-a4aa-17a4bffadf55","7750d5fb-988e-40fc-93d4-c0c3dba1105f"]},"outgoings_housing_cost":{"unknown_frequency":["fca4a010-7ca3-446e-a65f-e5c9b95c2501"]},"policy_disregards":["england_infected_blood_support"]}}}'
  recorded_at: Tue, 17 Jan 2023 09:28:59 GMT
recorded_with: VCR 6.1.0
