---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-RFJ-DM5","submission_date":"2025-01-31","level_of_help":"certificated"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"2002-12-16","employed":false,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false},"capitals":{"bank_accounts":[{"description":"Online
        savings accounts","value":"927621.47"}],"non_liquid_capital":[{"description":"Land","value":"50000.0"}]},"vehicles":[],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":[]}],"dependants":[],"outgoings":[{"name":"rent_or_mortgage","payments":[{"payment_date":"2025-01-24","amount":580.32,"client_id":"eed5acdd-7667-4341-a162-e8299714df58","housing_cost_type":"rent"}]}],"state_benefits":[],"other_incomes":[{"source":"Pension","payments":[{"date":"2024-12-21","amount":1088.74,"client_id":"a2307582-eb2d-48d3-87d0-a32064c6b0da"},{"date":"2025-01-03","amount":1088.74,"client_id":"0db94d4d-ae70-4095-b5ab-fc6609ca7920"}]}],"irregular_incomes":{"payments":[]},"regular_transactions":[],"cash_transactions":{"income":[{"category":"pension","payments":[{"date":"2024-10-01","amount":100.0,"client_id":"a2115237-18d1-4196-9da0-22e961b1a1d3"},{"date":"2024-11-01","amount":100.0,"client_id":"ec2d6798-3f4a-45e7-90d5-119a0c64f733"},{"date":"2024-12-01","amount":100.0,"client_id":"78325b59-2155-4f97-98bd-7474fd023e32"}]}],"outgoings":[{"category":"rent_or_mortgage","payments":[{"date":"2024-10-01","amount":100.0,"client_id":"8eafeee8-db12-4946-b584-c3c1f6b0b3a3"},{"date":"2024-11-01","amount":100.0,"client_id":"e350e999-5756-48a8-8d12-381e1706d00d"},{"date":"2024-12-01","amount":100.0,"client_id":"ed9355ea-7042-49ef-aeee-193b6becadca"}]}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2fa1ea6da058c2c37e454f9ec5e280c1"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2025-01-31T16:27:59.862Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":974621.47,"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required","client_involvement_type":"A"}]},"gross_income":{"total_gross_income":100.0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_gross_income":100.0},"disposable_income":{"dependant_allowance_under_16":0,"dependant_allowance_over_16":0,"dependant_allowance":0,"gross_housing_costs":293.44,"housing_costs":293.44,"housing_benefit":0.0,"net_housing_costs":293.44,"allowed_housing_costs":293.44,"maintenance_allowance":0.0,"total_outgoings_and_allowances":293.44,"total_disposable_income":-193.44,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"prisoner_levy":0.0,"student_debt_repayment":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_disposable_income":-193.44,"combined_total_outgoings_and_allowances":293.44,"partner_allowance":0,"lone_parent_allowance":0,"income_contribution":0.0},"capital":{"pensioner_disregard_applied":0.0,"total_liquid":927621.47,"total_non_liquid":50000.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":977621.47,"subject_matter_of_dispute_disregard":0.0,"assessed_capital":977621.47,"total_capital_with_smod":977621.47,"disputed_non_property_disregard":0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required","client_involvement_type":"A"}],"combined_disputed_capital":0,"combined_non_disputed_capital":977621.47,"capital_contribution":974621.47,"pensioner_capital_disregard":0.0,"combined_assessed_capital":977621.47}},"assessment":{"id":"4bdbf8ae-2788-4f4d-af9e-ae613399b324","client_reference_id":"L-RFJ-DM5","submission_date":"2025-01-31","level_of_help":"certificated","applicant":{"date_of_birth":"2002-12-16","involvement_type":"applicant","employed":false,"has_partner_opponent":false,"receives_qualifying_benefit":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":100.0},"bank_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":100.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":293.44,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":193.44,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":100.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Online
        savings accounts","value":927621.47}],"non_liquid":[{"description":"Land","value":50000.0}],"vehicles":[],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0,"subject_matter_of_dispute":null},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0,"subject_matter_of_dispute":null}]}}},"remarks":{"client_other_income_payment":{"unknown_frequency":["a2307582-eb2d-48d3-87d0-a32064c6b0da","0db94d4d-ae70-4095-b5ab-fc6609ca7920"]},"client_outgoings_housing_cost":{"unknown_frequency":["eed5acdd-7667-4341-a162-e8299714df58"]}}}}'
  recorded_at: Fri, 31 Jan 2025 16:27:59 GMT
recorded_with: VCR 6.3.1
