---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-12J-YWF","submission_date":"2025-01-31","level_of_help":"certificated"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"1992-07-21","employed":false,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false},"capitals":{"bank_accounts":[{"description":"Online
        savings accounts","value":"534662.37"}],"non_liquid_capital":[{"description":"Land","value":"50000.0"}]},"vehicles":[],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":[]}],"dependants":[],"outgoings":[{"name":"rent_or_mortgage","payments":[{"payment_date":"2025-01-28","amount":754.45,"client_id":"2677b955-bfd8-4485-a976-a412319dba9c","housing_cost_type":"rent"}]}],"state_benefits":[],"other_incomes":[{"source":"Pension","payments":[{"date":"2024-12-19","amount":645.68,"client_id":"28a11092-535f-4133-b4a0-071b25a17267"},{"date":"2024-12-28","amount":645.68,"client_id":"1971cabe-91ea-4fd7-9708-d1370c32456c"}]}],"irregular_incomes":{"payments":[]},"regular_transactions":[],"cash_transactions":{"income":[{"category":"pension","payments":[{"date":"2024-10-01","amount":100.0,"client_id":"372a8d54-6814-4bd9-b9fd-83ca59d7ce36"},{"date":"2024-11-01","amount":100.0,"client_id":"48a9ab3c-0d52-469b-9614-a0650ba2e042"},{"date":"2024-12-01","amount":100.0,"client_id":"470e5601-deca-4e8d-9869-cfaf9d675601"}]}],"outgoings":[{"category":"rent_or_mortgage","payments":[{"date":"2024-10-01","amount":100.0,"client_id":"64ccc2b1-d9d7-46a9-8102-11917b94f295"},{"date":"2024-11-01","amount":100.0,"client_id":"567de2e7-1fbc-4a14-ae78-74a61cacf015"},{"date":"2024-12-01","amount":100.0,"client_id":"8cb0cbe2-a53e-45e6-bc26-e6b9886be0b4"}]}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fa2f3772bbfdf4d40278fe69cd83337b"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2025-01-31T13:31:49.287Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":581662.37,"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required","client_involvement_type":"A"}]},"gross_income":{"total_gross_income":100.0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_gross_income":100.0},"disposable_income":{"dependant_allowance_under_16":0,"dependant_allowance_over_16":0,"dependant_allowance":0,"gross_housing_costs":351.48,"housing_costs":351.48,"housing_benefit":0.0,"net_housing_costs":351.48,"allowed_housing_costs":351.48,"maintenance_allowance":0.0,"total_outgoings_and_allowances":351.48,"total_disposable_income":-251.48,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"prisoner_levy":0.0,"student_debt_repayment":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_disposable_income":-251.48,"combined_total_outgoings_and_allowances":351.48,"partner_allowance":0,"lone_parent_allowance":0,"income_contribution":0.0},"capital":{"pensioner_disregard_applied":0.0,"total_liquid":534662.37,"total_non_liquid":50000.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":584662.37,"subject_matter_of_dispute_disregard":0.0,"assessed_capital":584662.37,"total_capital_with_smod":584662.37,"disputed_non_property_disregard":0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required","client_involvement_type":"A"}],"combined_disputed_capital":0,"combined_non_disputed_capital":584662.37,"capital_contribution":581662.37,"pensioner_capital_disregard":0.0,"combined_assessed_capital":584662.37}},"assessment":{"id":"7d15e45b-9409-4b93-b8b8-4d1bcb34b304","client_reference_id":"L-12J-YWF","submission_date":"2025-01-31","level_of_help":"certificated","applicant":{"date_of_birth":"1992-07-21","involvement_type":"applicant","employed":false,"has_partner_opponent":false,"receives_qualifying_benefit":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":100.0},"bank_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":100.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":351.48,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":251.48,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":100.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Online
        savings accounts","value":534662.37}],"non_liquid":[{"description":"Land","value":50000.0}],"vehicles":[],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0,"subject_matter_of_dispute":null},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0,"subject_matter_of_dispute":null}]}}},"remarks":{"client_other_income_payment":{"unknown_frequency":["28a11092-535f-4133-b4a0-071b25a17267","1971cabe-91ea-4fd7-9708-d1370c32456c"]},"client_outgoings_housing_cost":{"unknown_frequency":["2677b955-bfd8-4485-a976-a412319dba9c"]}}}}'
  recorded_at: Fri, 31 Jan 2025 13:31:49 GMT
recorded_with: VCR 6.3.1
