---
http_interactions:
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?key=<ORDNANACE_SURVEY_API_KEY>&lr=EN&postcode=DA74NG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Tx-Id:
      - 1595936397963:963
      Status:
      - success
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?lr=EN&postcode=DA74NG",
            "query" : "postcode=DA74NG",
            "offset" : 0,
            "totalresults" : 11,
            "format" : "JSON",
            "dataset" : "DPA",
            "lr" : "EN",
            "maxresults" : 100,
            "epoch" : "77",
            "output_srs" : "EPSG:27700"
          },
          "results" : [ {
            "DPA" : {
              "UPRN" : "100020211558",
              "UDPRN" : "6248161",
              "ADDRESS" : "1, LONSDALE ROAD, BEXLEYHEATH, DA7 4NG",
              "BUILDING_NUMBER" : "1",
              "THOROUGHFARE_NAME" : "LONSDALE ROAD",
              "POST_TOWN" : "BEXLEYHEATH",
              "POSTCODE" : "DA7 4NG",
              "RPC" : "2",
              "X_COORDINATE" : 548894.0,
              "Y_COORDINATE" : 176139.0,
              "STATUS" : "APPROVED",
              "LOGICAL_STATUS_CODE" : "1",
              "CLASSIFICATION_CODE" : "RD02",
              "CLASSIFICATION_CODE_DESCRIPTION" : "Detached",
              "LOCAL_CUSTODIAN_CODE" : 5120,
              "LOCAL_CUSTODIAN_CODE_DESCRIPTION" : "BEXLEY",
              "POSTAL_ADDRESS_CODE" : "D",
              "POSTAL_ADDRESS_CODE_DESCRIPTION" : "A record which is linked to PAF",
              "BLPU_STATE_CODE" : null,
              "BLPU_STATE_CODE_DESCRIPTION" : "Unknown/Not applicable",
              "TOPOGRAPHY_LAYER_TOID" : "osgb1000000095093",
              "LAST_UPDATE_DATE" : "10/02/2016",
              "ENTRY_DATE" : "19/03/2001",
              "LANGUAGE" : "EN",
              "MATCH" : 1.0,
              "MATCH_DESCRIPTION" : "EXACT"
            }
          }, {
            "DPA" : {
              "UPRN" : "100020211559",
              "UDPRN" : "6248164",
              "ADDRESS" : "2, LONSDALE ROAD, BEXLEYHEATH, DA7 4NG",
              "BUILDING_NUMBER" : "2",
              "THOROUGHFARE_NAME" : "LONSDALE ROAD",
              "POST_TOWN" : "BEXLEYHEATH",
              "POSTCODE" : "DA7 4NG",
              "RPC" : "1",
              "X_COORDINATE" : 548861.0,
              "Y_COORDINATE" : 176156.0,
              "S[...]
