<% content_for :navigation do %>
  <%= link_to 'Back', citizens_consent_path, class: 'govuk-back-link', id: 'back' %>
<% end %>

<h1 class="govuk-heading-xl">You have successfully shared your account information</h1>

<p>
  We have downloaded 3 months of your transaction history.
</p>
<p>
  We will show your statement from the last 30 days so you can tell us
  more about your financial situation
</p>

<p>
  <strong>Account holders's name</strong>
  <%= @applicant.first_name %>
</p>
