---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"4b7d09a4-f367-4d45-b07d-32b862d0677c","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d6806a59b09d171ceadda68350f5ead"
    body:
      encoding: UTF-8
      string: '{"request_id":"4b7d09a4-f367-4d45-b07d-32b862d0677c","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Tue, 10 May 2022 19:46:04 GMT
recorded_with: VCR 6.1.0
