---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"a5d7f0e4-11f4-49b9-9b98-45a8dc34c478","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5422b71c2da983048394bb4ee5036e5a"
    body:
      encoding: UTF-8
      string: '{"request_id":"a5d7f0e4-11f4-49b9-9b98-45a8dc34c478","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_name":[],"opponent_mental_capacity":[],"domestic_abuse_summary":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Thu, 04 Aug 2022 10:54:53 GMT
recorded_with: VCR 6.1.0
