---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.apps.live-1.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"c4546c16-5344-45a6-9bf5-334ed7b13d45","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c538ef2ce1e93ce265a206569a977a1"
    body:
      encoding: UTF-8
      string: '{"request_id":"c4546c16-5344-45a6-9bf5-334ed7b13d45","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Mon, 02 Aug 2021 07:32:42 GMT
recorded_with: VCR 6.0.0
