---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.apps.live-1.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"3d273839-7e9b-430c-aed3-90e957d2f1ec","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0916d6a80c7ea4015330f055f0d57b56"
    body:
      encoding: UTF-8
      string: '{"request_id":"3d273839-7e9b-430c-aed3-90e957d2f1ec","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Wed, 19 Jan 2022 09:31:16 GMT
recorded_with: VCR 6.0.0
