---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"f9f73c97-35a6-48c4-991f-2890adffcad6","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58c02e94bef37bb171e783adde30e126"
    body:
      encoding: UTF-8
      string: '{"request_id":"f9f73c97-35a6-48c4-991f-2890adffcad6","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Sat, 16 Jul 2022 15:48:33 GMT
recorded_with: VCR 6.1.0
