---
http_interactions:
- request:
    method: get
    uri: https://api.os.uk/search/places/v1/postcode?key=<ORDNANACE_SURVEY_API_KEY>&lr=EN&postcode=SW1H9EA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Omse-Category:
      - premium
      Omse-Transaction-Count:
      - '60'
      Omse-Premium-Count:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.os.uk/search/places/v1/postcode?lr=EN&postcode=SW1H9EA",
            "query" : "postcode=SW1H9EA",
            "offset" : 0,
            "totalresults" : 4,
            "format" : "JSON",
            "dataset" : "DPA",
            "lr" : "EN",
            "maxresults" : 100,
            "epoch" : "83",
            "output_srs" : "EPSG:27700"
          },
          "results" : [ {
            "DPA" : {
              "UPRN" : "100023337883",
              "UDPRN" : "23749699",
              "ADDRESS" : "SUPER FIRM LTD, 84, PETTY FRANCE, LONDON, SW1H 9EA",
              "ORGANISATION_NAME" : "SUPER FIRM LTD",
              "BUILDING_NUMBER" : "84",
              "THOROUGHFARE_NAME" : "PETTY FRANCE",
              "POST_TOWN" : "LONDON",
              "POSTCODE" : "SW1H 9EA",
              "RPC" : "2",
              "X_COORDINATE" : 529526.39,
              "Y_COORDINATE" : 179490.43,
              "STATUS" : "APPROVED",
              "LOGICAL_STATUS_CODE" : "1",
              "CLASSIFICATION_CODE" : "CR07",
              "CLASSIFICATION_CODE_DESCRIPTION" : "Restaurant / Cafeteria",
              "LOCAL_CUSTODIAN_CODE" : 5990,
              "LOCAL_CUSTODIAN_CODE_DESCRIPTION" : "CITY OF WESTMINSTER",
              "POSTAL_ADDRESS_CODE" : "D",
              "POSTAL_ADDRESS_CODE_DESCRIPTION" : "A record which is linked to PAF",
              "BLPU_STATE_CODE" : "2",
              "BLPU_STATE_CODE_DESCRIPTION" : "In use",
              "TOPOGRAPHY_LAYER_TOID" : "osgb1000042216527",
              "LAST_UPDATE_DATE" : "10/02/2016",
              "ENTRY_DATE" : "19/03/2001",
              "BLPU_STATE_DATE" : "19/03/2001",
              "LANGUAGE" : "EN",
              "MATCH" : 1.0,
              "MATCH_DESCRIPTION" : "EXACT"
            }
          }, {
            "DPA" : {
              "UPRN" : "100023337884",
              "UDPRN" : "23749702",
              "ADDRESS" : "TRANSPORT FOR LONDON, 98, PETTY FRANCE, LONDON, SW1H 9EA",
              "ORGANISATION_NAME" : "TRANSPORT FOR LONDON",
              "BUILDING_NUMBER" : "98",
              "THOROUGHFARE_NAME" : "PETTY FRANCE",
              "POST_TOWN" : "LONDON",
              "POSTCODE" : "SW1H 9EA",
              "RPC" : "2",
              "X_COORDI[...]
