---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-T8F-V6N","submission_date":"2025-01-31","level_of_help":"certificated"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"1987-11-24","employed":true,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false},"capitals":{"bank_accounts":[{"description":"Current
        accounts","value":"318770.82"},{"description":"Online current accounts","value":"39075.62"}],"non_liquid_capital":[]},"vehicles":[{"value":8164.0,"loan_amount_outstanding":972.0,"date_of_purchase":"2024-06-10","in_regular_use":false}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":[]}],"dependants":[],"outgoings":[{"name":"child_care","payments":[{"payment_date":"2024-12-28","amount":545.35,"client_id":"690934c5-aefa-4ca7-ac89-4706a75d64d3"}]}],"state_benefits":[],"other_incomes":[{"source":"Pension","payments":[{"date":"2024-12-20","amount":1139.27,"client_id":"eed84202-9846-44b6-98d8-40806a5118ec"}]}],"irregular_incomes":{"payments":[]},"employment_income":[{"name":"Job
        1","client_id":"36a7bfe4-68c8-4c77-83b4-4b121e3a109e","payments":[{"client_id":"32f28149-8970-4425-b014-ebff9c60de3c","date":"2025-01-31","gross":770.78,"benefits_in_kind":0.0,"tax":-154.0,"national_insurance":-4.17,"net_employment_income":612.61},{"client_id":"d2589775-3d48-4970-8a28-07d313a271e5","date":"2025-01-10","gross":500.0,"benefits_in_kind":0.0,"tax":-51.6,"national_insurance":-37.92,"net_employment_income":410.48},{"client_id":"bbd5ff3a-85f3-47ab-8b96-35cf1bb89ff1","date":"2025-01-03","gross":110.99,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"net_employment_income":110.99},{"client_id":"c9f83074-6563-4dc5-9a92-ebca5312e904","date":"2024-12-27","gross":146.31,"benefits_in_kind":0.0,"tax":0.0,"national_insu[...]
