---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-D8U-9R8","submission_date":"2025-01-31","level_of_help":"certificated"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"1987-11-24","employed":true,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false},"capitals":{"bank_accounts":[{"description":"Current
        accounts","value":"-383536.64"},{"description":"Online savings accounts","value":"787428.1"}],"non_liquid_capital":[]},"vehicles":[{"value":2289.0,"loan_amount_outstanding":938.0,"date_of_purchase":"2008-11-10","in_regular_use":true}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":[]}],"dependants":[],"outgoings":[{"name":"child_care","payments":[{"payment_date":"2024-12-15","amount":607.59,"client_id":"cebd7e3a-4358-4a4d-bafc-0c8ef68eaab3"}]}],"state_benefits":[],"other_incomes":[{"source":"Pension","payments":[{"date":"2025-01-23","amount":1011.63,"client_id":"2078e051-0c54-481d-a02e-2f7fc3a07a86"}]}],"irregular_incomes":{"payments":[]},"employment_income":[{"name":"Job
        1","client_id":"0bd6944b-d027-4d6c-945f-02000c2c85cd","payments":[{"client_id":"32ceeb81-e903-43ec-8651-43188d089b11","date":"2025-01-31","gross":770.78,"benefits_in_kind":0.0,"tax":-154.0,"national_insurance":-4.17,"net_employment_income":612.61},{"client_id":"8af64934-9f0f-4c83-9088-d2dc62753df0","date":"2025-01-10","gross":500.0,"benefits_in_kind":0.0,"tax":-51.6,"national_insurance":-37.92,"net_employment_income":410.48},{"client_id":"d4140cb6-d9b0-4e3b-a86a-e1f3fce8c692","date":"2025-01-03","gross":110.99,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"net_employment_income":110.99},{"client_id":"5254cee5-00e6-4288-a566-a38727365671","date":"2024-12-27","gross":146.31,"benefits_in_kind":0.0,"tax":0.0,"national_insu[...]
