---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-9PE-71L","submission_date":"2023-06-13","level_of_help":"certificated"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"1987-11-24","employed":true,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false},"capitals":{"bank_accounts":[{"description":"Current
        accounts","value":"858577.06"},{"description":"Online current accounts","value":"459508.83"}],"non_liquid_capital":[]},"vehicles":[],"properties":{"main_home":{"value":997781.84,"outstanding_mortgage":117457.54,"percentage_owned":1.16,"shared_with_housing_assoc":false},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":[]}],"dependants":[],"outgoings":[{"name":"rent_or_mortgage","payments":[{"payment_date":"2023-05-31","amount":268.95,"client_id":"5d14fd8b-16a5-4216-8e3c-a8ee53e0c684","housing_cost_type":"rent"}]}],"state_benefits":[],"other_incomes":[{"source":"Pension","payments":[{"date":"2023-06-10","amount":1185.45,"client_id":"f1c568f9-a201-49ec-b29b-08dea13c7c00"}]}],"irregular_incomes":{"payments":[]},"employment_income":[{"name":"Job
        1","client_id":"6f29dcfc-c276-4ce3-a9d9-c03ef194cd17","payments":[{"client_id":"63968969-1ceb-4b2d-b5d6-d7105f1b94f0","date":"2023-06-13","gross":770.78,"benefits_in_kind":0.0,"tax":-154.0,"national_insurance":-4.17,"net_employment_income":612.61},{"client_id":"3a3113bc-0387-42b8-a1d5-c1230048d1f0","date":"2023-05-23","gross":500.0,"benefits_in_kind":0.0,"tax":-51.6,"national_insurance":-37.92,"net_employment_income":410.48},{"client_id":"5d0f0081-7a83-48a5-8352-01362fce1f16","date":"2023-05-16","gross":110.99,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"net_employment_income":110.99},{"client_id":"5bb1225b-dfd4-454f-b87f-fa86da30d09f","date":"2023-05-09","gross":146.31,"benefits_in_kind":0.0,"tax":0.0,"national_insu[...]
