---
http_interactions:
- request:
    method: get
    uri: https://laa-provider-details-api-uat.apps.live.cloud-platform.service.justice.gov.uk/provider-offices/0X395U/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authorization:
      - "<PDA_AUTH_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - laa-pda-api-deployment-6d99c67c96-g4284
    body:
      encoding: UTF-8
      string: '{"firm":{"firmNumber":"1639","firmId":1639,"ccmsFirmId":19148,"parentFirmId":0,"firmName":"DAVID
        GRAY LLP","firmType":"Legal Services Provider","constitutionalStatus":"LLP","solicitorAdvocateYN":null,"advocateLevel":null,"barCouncilRoll":null,"companyHouseNumber":null},"office":{"firmOfficeId":4545,"ccmsFirmOfficeId":137570,"firmOfficeCode":"0X395U","officeName":"0X395U,OLD
        COUNTY COURT","officeCodeAlt":"DAVID GRAY LLP","type":"Legal Services Supplier
        (Civil/Crime/Both/Mediator)"},"pds":false,"schedules":[{"contractType":"Standard","contractDescription":"2024
        Standard Civil Contract","contractNumber":"1034798","contractReference":"01/0X395U/2024/1","contractStatus":"Open","contractAuthorizationStatus":"APPROVED","contractStartDate":"2024-09-01","contractEndDate":"2026-06-30","areaOfLaw":"LEGAL
        HELP","scheduleType":"Standard","scheduleNumber":"0X395U/2024/01","scheduleContractNumber":"1034798","scheduleContractReference":"01/0X395U/2024/1","scheduleAuthorizationStatus":"APPROVED","scheduleStatus":"Open","scheduleStartDate":"2024-09-01","scheduleEndDate":"2025-08-31","scheduleLines":[{"areaOfLaw":"LEGAL
        HELP","categoryOfLaw":"AAP","description":"Legal Help (Civil).Claims Against
        Public Authorities","devolvedPowersStatus":"No","dpTypeOfChange":null,"dpReasonForChange":null,"dpDateOfChange":null,"remainderWorkFlag":"No","minimumCasesAllowedCount":"0","maximumCasesAllowedCount":"0","minimumToleranceCount":"0","maximumToleranceCount":"0","minimumLicenseCount":"0","maximumLicenseCount":"0","workInProgressCount":"0","outreach":null,"cancelFlag":"N","cancelReason":null,"cancelDate":null,"closedDate":null,"closedReason":null},{"areaOfLaw":"LEGAL
        HELP","categoryOfLaw":"COM","description":"Legal Help (Civil).Community Care","devolvedPowersStatus":"No","dpTypeOfChange":null,"dpReasonForChange":null,"dpDateOfChange":null,"remainderWorkFlag":"No","minimumCasesAllowedCount":"0","maximumCasesAllowedCount":"0","minimumToleranceCount":"0","maximumToleranceCount":"0","minimumLicenseCount":"0","maximumLicenseCount":"0","workInProgressCount":"0","outreach":null,"cancelFlag":"N","cancelReason":null,"cancelDate":null[...]
- request:
    method: get
    uri: https://laa-provider-details-api-uat.apps.live.cloud-platform.service.justice.gov.uk/provider-users/System%20Tester
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authorization:
      - "<PDA_AUTH_KEY>"
  response:
    status:
      code: 204
      message: ''
    headers:
      Request-Handler:
      - laa-pda-api-deployment-6d99c67c96-mzqkq
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Aug 2025 14:04:38 GMT
recorded_with: VCR 6.3.1
