---
http_interactions:
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/SE013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"73c4fde10a8111737942f6ab203109a3"
    body:
      encoding: UTF-8
      string: '{"success":true,"ccms_code":"SE013","meaning":"Child arrangements order
        (CAO) - contact","ccms_category_law_code":"MAT","ccms_matter_code":"KSEC8","name":"child_arrangements_order_contact","description":"to
        be represented on an application for a child arrangements order-who the child(ren)
        spend time with.","sca_core":false,"sca_related":false,"ccms_category_law":"Family","ccms_matter":"section
        8 children (S8)","cost_limitations":{"substantive":{"start_date":"1970-01-01","value":"25000.0"},"delegated_functions":{"start_date":"2021-09-13","value":"2250.0"}},"default_scope_limitations":{"substantive":{"code":"FM059","meaning":"FHH
        Children","description":"Limited to Family Help (Higher) and to all steps
        necessary to negotiate and conclude a settlement. To include the issue of
        proceedings and representation in those proceedings save in relation to or
        at a contested final hearing."},"delegated_functions":{"code":"CV117","meaning":"Interim
        order inc. return date","description":"Limited to all steps necessary to apply
        for an interim order; where application is made without notice to include
        representation on the return date."}},"service_levels":[{"level":1,"name":"Family
        Help (Higher)","stage":1,"proceeding_default":true},{"level":3,"name":"Full
        Representation","stage":8,"proceeding_default":false}]}'
  recorded_at: Tue, 10 Jun 2025 11:28:43 GMT
recorded_with: VCR 6.3.1
