---
http_interactions:
- request:
    method: get
    uri: https://laa-provider-details-api-uat.apps.live.cloud-platform.service.justice.gov.uk/provider-user/DT_SCRIPT_USER1/provider-offices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authorization:
      - "<PDA_AUTH_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"firm":{"firmId":3959183,"firmNumber":"50736","ccmsFirmId":10835831,"firmName":"DT
        SCRIPT PROVIDER 1"},"user":{"userId":454031,"ccmsContactId":0,"userLogin":"DT_SCRIPT_USER1","name":"Dts
        User1","emailAddress":"deepak.tanna@digital.justice.gov.uk","portalStatus":"Active"},"officeCodes":[{"firmOfficeId":145434,"ccmsFirmOfficeId":34406595,"firmOfficeCode":"2Q242F","officeName":"2Q242F,1
        Skyscraper","officeCodeAlt":"DT Script Office 1"}]}'
  recorded_at: Fri, 20 Sep 2024 11:00:30 GMT
- request:
    method: get
    uri: https://laa-provider-details-api-uat.apps.live.cloud-platform.service.justice.gov.uk/provider-firms/3959183/provider-offices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authorization:
      - "<PDA_AUTH_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"firm":{"firmId":3959183,"firmNumber":"50736","ccmsFirmId":10835831,"firmName":"DT
        SCRIPT PROVIDER 1"},"offices":[{"firmOfficeId":145434,"ccmsFirmOfficeId":34406595,"firmOfficeCode":"2Q242F","officeName":"2Q242F,1
        Skyscraper","officeCodeAlt":"DT Script Office 1","addressLine1":"1 Skyscraper","addressLine2":"1
        Some Road","addressLine3":null,"addressLine4":null,"city":"Metropolis","county":null,"postCode":"LE1
        1AA","dxCentre":null,"dxNumber":null,"telephoneAreaCode":"01162","telephoneNumber":"555124","faxAreaCode":null,"faxNumber":null,"emailAddress":"me@email.uk","vatRegistrationNumber":null,"type":"Legal
        Services Provider","headOffice":"N/A","creationDate":"2023-11-10","lscRegion":"Midlands","lscBidZone":"Leicester","lscAreaOffice":"Nottingham","cjsForceName":"Leicestershire","localAuthority":"City
        of Leicester","policeStationAreaName":"Leicester","dutySolicitorAreaName":"Leicester"}]}'
  recorded_at: Fri, 20 Sep 2024 11:00:30 GMT
recorded_with: VCR 6.3.1
