---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3ba0238f-3579-4824-90a9-b9cbae8a3825/proceeding_types
    body:
      encoding: UTF-8
      string: '{"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 16 Jan 2023 09:31:32 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3ba0238f-3579-4824-90a9-b9cbae8a3825/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1980-01-10","employed":false,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 16 Jan 2023 09:31:33 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3ba0238f-3579-4824-90a9-b9cbae8a3825/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[{"description":"Current accounts","value":"-10.0"},{"description":"Money
        not in a bank account","value":"10000.0"}],"non_liquid_capital":[{"description":"Land","value":"50000.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 16 Jan 2023 09:31:33 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3ba0238f-3579-4824-90a9-b9cbae8a3825/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 16 Jan 2023 09:31:33 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3ba0238f-3579-4824-90a9-b9cbae8a3825/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":"200000.0","outstanding_mortgage":"100000.0","percentage_owned":"50.0","shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 16 Jan 2023 09:31:33 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3ba0238f-3579-4824-90a9-b9cbae8a3825/explicit_remarks
    body:
      encoding: UTF-8
      string: '{"explicit_remarks":[{"category":"policy_disregards","details":[]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 16 Jan 2023 09:31:33 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3ba0238f-3579-4824-90a9-b9cbae8a3825
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f364c6c412116968ea05e89a7490e98"
    body:
      encoding: UTF-8
      string: '{"version":"5","timestamp":"2023-01-16T09:31:34.430Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":57000.0,"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required"}]},"gross_income":{"total_gross_income":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"pending"}]},"disposable_income":{"dependant_allowance":0.0,"gross_housing_costs":0.0,"housing_benefit":0.0,"net_housing_costs":0.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":0.0,"total_disposable_income":0.0,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"pending"}]},"capital":{"total_liquid":10000.0,"total_non_liquid":50000.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":60000.0,"pensioner_capital_disregard":0.0,"subject_matter_of_dispute_disregard":0.0,"capital_contribution":57000.0,"assessed_capital":60000.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required"}]}},"assessment":{"id":"3ba0238f-3579-4824-90a9-b9cbae8a3825","client_reference_id":"L-5T7-2WP","submission_date":"2023-01-16","applicant":{"date_of_birth":"1980-01-10","involvement_type":"applicant","employed":false,"has_partner_opponent":false,"receives_qualifying_benefit":true,"self_employed":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Money
        not in a bank account","value":"10000.0"},{"description":"Current accounts","value":"-10.0"}],"non_liquid":[{"description":"Land","value":"50000.0"}],"vehicles":[],"properties":{"main_home":{"value":"200000.0","outstanding_mortgage":"100000.0","percentage_owned":"50.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"6000.0","allowable_outstanding_mortgage":"100000.0","net_value":"94000.0","net_equity":"47000.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"0.0","assessed_equity":"0.0"}]}}},"remarks":{}}}'
  recorded_at: Mon, 16 Jan 2023 09:31:34 GMT
[...]
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-XLW-A7L","submission_date":"2023-01-17"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"460ce2ebd11cf5641eb80228d840660f"
    body:
      encoding: UTF-8
      string: '{"success":true,"assessment_id":"5af188e7-ca5b-47c7-9a83-b6a93c58b1ee","errors":[]}'
  recorded_at: Tue, 17 Jan 2023 09:30:31 GMT
[...]
