<%= page_template page_title: t('.h1-heading') do %>

  <p class="govuk-body"><%= t('.text') %></p>

  <% params = { applicant_name: @legal_aid_application.applicant.full_name } %>
  <%= list_from_translation_path '.merits_declarations.show', params: params %>

  <div class="govuk-!-padding-bottom-4"></div>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_merits_declaration_path,
        method: :patch,
        show_draft: true,
        continue_button_text: t('generic.submit_and_continue')
      ) %>
<% end %>
