<% content_for(:navigation) { back_link(path: reset_citizens_check_answers_path, method: :patch) } %>
<% content_for(:page_title) { t('.h1-heading') } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= content_for(:page_title) %></h1>

    <h2 class="govuk-heading-m">
      <%= t('.assets.heading') %>
    </h2>

    <%= render partial: 'shared/check_answers_assets', locals: { user_type: :provider, application: @legal_aid_application } %>

    <%= button_to(
          t('generic.submit'),
          continue_citizens_check_answers_path,
          class: 'govuk-button',
          method: :patch
        ) %>

  </div>
</div>
