<li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">
      <img src="/assets/plus_icon.svg" />
    </span>
    <%= link_to t('.add_other_income'), citizens_identify_types_of_income_path %>
    </a>
  </h2>
</li>
