version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  allow:
    - dependency-type: "all"
  schedule:
    interval: daily
    time: "03:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: prometheus_exporter
    versions:
    - "> 0.4.17"
  reviewers:
  - "ministryofjustice/laa-apply-for-legal-aid"
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    day: wednesday
    time: "03:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  reviewers:
  - "ministryofjustice/laa-apply-for-legal-aid"
  ignore:
    - dependency-name: "puppeteer"
