version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      day: thursday
      time: "21:00"
      timezone: Europe/London
    groups:
      ruby:
        patterns:
          - "ruby*"
      actions:
        patterns:
          - "*"
        exclude-patterns:
          - "ruby*"
    open-pull-requests-limit: 10
  - package-ecosystem: "bundler"
    directory: "/"
    allow:
      - dependency-type: "all"
    schedule:
      interval: weekly
      day: tuesday
      time: "21:00"
      timezone: Europe/London
    groups:
      rubocop:
        patterns:
          - "rubocop*"
      bundler:
        patterns:
          - "*"
        exclude-patterns:
          - "rubocop*"
    open-pull-requests-limit: 10
  # Removed until shai-hulud threat has abated
  # - package-ecosystem: "npm"
  #   directory: "/"
  #   schedule:
  #     interval: weekly
  #     day: tuesday
  #     time: "21:15"
  #     timezone: Europe/London
  #   groups:
  #     moj-frontend:
  #       patterns:
  #         - "*frontend*"
  #     npm:
  #       patterns:
  #         - "*"
  #   open-pull-requests-limit: 10
