version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: cucumber
    versions:
    - ">= 4.a"
    - "< 5"
  - dependency-name: prometheus_exporter
    versions:
    - "> 0.4.17"
  - dependency-name: sprockets
    versions:
    - ">= 4.0.a"
    - "< 4.1"
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    day: wednesday
    time: "03:00"
    timezone: Europe/London
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: hint
    versions:
    - "> 5.2.3"
    - "< 5.3"
  - dependency-name: "@hint/configuration-web-recommended"
    versions:
    - "> 7.1.0"
    - "< 7.2"
  - dependency-name: "@hint/configuration-web-recommended"
    versions:
    - ">= 7.a"
    - "< 8"
  - dependency-name: "@hint/connector-local"
    versions:
    - "> 3.1.5"
    - "< 3.2"
  - dependency-name: "@hint/formatter-json"
    versions:
    - "> 3.1.5"
    - "< 3.2"
  - dependency-name: "@hint/parser-javascript"
    versions:
    - "> 3.0.8"
    - "< 3.1"
