# dotfiles
.bundle/
.byebug_history
.DS_Store
.DS_Store/
.env*
.git/
.github
.idea
.yarn-integrity
.cache
.vscode
.circle

# local setup/install related
Brewfile
README.md
docs/

# secrets supplied via CI/CD if necessary
config/master.key

# helm and infrastructure orchestration files, not needed
helm_deploy/

# temp/local dirs and files
log/*
tmp/*
storage/*
coverage/

# docker files only needed by "builder" containers
Dockerfile
docker-compose.yml

# Ignore assets that should be built as part of build stage
node_modules/
public/
!public/robots.txt

# dependencies and assets will be pulled and compiled at build time
/app/assets/builds/*
!/app/assets/builds/.keep
vendor/bundle/
vendor/cache

yarn-debug.log*
