<%= page_template page_title: t('.h1-heading'), template: :form do %>
  <div class="govuk-!-padding-top-4"></div>
  <%= render partial: '/citizens/restrictions/form',
             locals: {
               model: @legal_aid_application,
               show_draft: true,
               url: providers_legal_aid_application_restrictions_path(@legal_aid_application)
             } %>
<% end %>
