---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.apps.live-1.cloud-platform.service.justice.gov.uk/proceeding_types/searches
    body:
      encoding: UTF-8
      string: '{"search_term":"injunction","excluded_terms":"DA001"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b74784c3e7dbc14d1024d6a0563c9fe4"
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"meaning":"Harassment - injunction","ccms_code":"DA003","description":"to
        be represented in an action for an injunction under section 3 Protection from
        Harassment Act 1997.","ccms_category_law":"Family","ccms_matter":"Domestic
        abuse"},{"meaning":"Non-molestation order","ccms_code":"DA004","description":"to
        be represented on an application for a non-molestation order.","ccms_category_law":"Family","ccms_matter":"Domestic
        abuse"}]}'
  recorded_at: Mon, 11 Oct 2021 09:01:36 GMT
recorded_with: VCR 6.0.0
