---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/searches
    body:
      encoding: UTF-8
      string: '{"search_term":"occupation"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f77a11b7a543ad7d955fbb28921a55f"
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"meaning":"Occupation order","ccms_code":"DA005","description":"to
        be represented on an application for an occupation order.","ccms_category_law":"Family","ccms_matter":"Domestic
        abuse"}]}'
  recorded_at: Mon, 11 Oct 2021 08:48:07 GMT
recorded_with: VCR 6.0.0
