---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/searches
    body:
      encoding: UTF-8
      string: '{"search_term":"injunction"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"901c0060460c00ae528133e4f8cd1ae1"
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"meaning":"Inherent jurisdiction high court
        injunction","ccms_code":"DA001","description":"to be represented on an application
        for an injunction, order or declaration under the inherent jurisdiction of
        the court.","ccms_category_law":"Family","ccms_matter":"Domestic abuse"},{"meaning":"Harassment
        - injunction","ccms_code":"DA003","description":"to be represented in an action
        for an injunction under section 3 Protection from Harassment Act 1997.","ccms_category_law":"Family","ccms_matter":"Domestic
        abuse"},{"meaning":"Non-molestation order","ccms_code":"DA004","description":"to
        be represented on an application for a non-molestation order.","ccms_category_law":"Family","ccms_matter":"Domestic
        abuse"}]}'
  recorded_at: Mon, 11 Oct 2021 08:48:07 GMT
recorded_with: VCR 6.0.0
