<li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">
      <%= image_tag('plus_icon.svg') %>
    </span>
    <%= link_to t('.add_other_income'), '#todo', class: 'govuk-body' %>
  </h2>
</li>
