<%
 prospect = success_prospects.first
 conditional = "conditional-#{prospect}"
 text_area_name = "success_prospect_details_#{prospect}"
%>

<%= form.govuk_radio_button(:success_prospect,
                            prospect,
                            label: t(".#{prospect}"),
                            class: 'success_prospect_option',
                            'data-aria-controls' => conditional,
                            checked: @form.success_prospect.to_s == prospect.to_s) %>

<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="<%= conditional %>">

</div>
