---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/b44fe982-c3bc-40de-8b54-666b4987bbe6/employments
    body:
      encoding: UTF-8
      string: '{"employment_income":[{"name":"Job 788","client_id":"12345678-1234-1234-1234-123456789abc","payments":[{"client_id":"20211128-0000-0000-0000-123456789abc","date":"2021-11-28","gross":"1868.98","benefits_in_kind":"0.0","tax":"-161.8","national_insurance":"-128.64","net_employment_income":"1578.54"},{"client_id":"20211028-0000-0000-0000-123456789abc","date":"2021-10-28","gross":"1868.98","benefits_in_kind":"0.0","tax":"-111.0","national_insurance":"-128.64","net_employment_income":"1629.34"},{"client_id":"20210928-0000-0000-0000-123456789abc","date":"2021-09-28","gross":"2492.61","benefits_in_kind":"0.0","tax":"-286.6","national_insurance":"-203.47","net_employment_income":"2002.54"},{"client_id":"20210828-0000-0000-0000-123456789abc","date":"2021-08-28","gross":"2345.29","benefits_in_kind":"0.0","tax":"-257.2","national_insurance":"-185.79","net_employment_income":"1902.3"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"errors":["No such assessment id"]}'
  recorded_at: Thu, 24 Feb 2022 14:35:05 GMT
recorded_with: VCR 6.0.0
