---
http_interactions:
- request:
    method: get
    uri: https://sitsoa10.laadev.co.uk/CCMSInformationService/api/providerDetails/NEETADESOR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"providerFirmId":22381,"contactUserId":2016472,"contacts":[{"id":34419,"name":"Neeta
        Desor"}],"providerOffices":[{"id":81693,"name":"DESOR & CO-0B721W"}]}'
  recorded_at: Wed, 13 Nov 2019 16:31:20 GMT
recorded_with: VCR 5.0.0
