---
http_interactions:
- request:
    method: get
    uri: https://sitsoa10.laadev.co.uk/CCMSInformationService/api/providerDetails/NEETADESOR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"providerOffices":[{"providerfirmId":26403,"officeId":84705,"officeName":"RUSSELL
        COOKE LLP RE ABILOYE & CO-0M477A","smsVendorNum":"3534","smsVendorSite":"SMS_VENDOR_SITE"}],"contactId":34419,"contactName":"Neeta
        Desor"}'
  recorded_at: Thu, 27 Jun 2019 14:15:19 GMT
recorded_with: VCR 5.0.0
