---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","personalisation":{"created_at":"Sat,
        16 Feb 2019 07:33:35 +0000","user_data":"Windows - Opera 9.7.9 - Citizens","done_all_needed":"false","satisfaction":"satisfied","improvement_suggestion":"Ut
        temporibus ratione. In quisquam mollitia. Eos quidem et."}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NzA0NDU4MzB9.iifZ4aCcaKgssCyWhhE3haiVzIzCPwSZyGNq8uTFxkk
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - b1d53e73-8a27-451c-4d01-4ed2be46eba4
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Apply for Legal Aid Feedback - DEV\r\n\r\nSat,
        16 Feb 2019 07:33:35 +0000\r\n\r\nThe following feedback has been received:\r\n\r\n*
        Windows - Opera 9.7.9 - Citizens\r\n* Were you able to do what you needed
        today? false\r\n* How satisfied were you with this service? satisfied\r\n\r\nHow
        could we improve this service?\r\n\r\n---\r\nUt temporibus ratione. In quisquam
        mollitia. Eos quidem et.","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid Feedback \u2013 DEV"},"id":"891b689e-41f5-4583-b173-4828f3b483f5","reference":null,"scheduled_for":null,"template":{"id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/ac458f81-b7dd-4b2c-944c-3f17d2f2392c","version":9},"uri":"https://api.notifications.service.gov.uk/v2/notifications/891b689e-41f5-4583-b173-4828f3b483f5"}

        '
  recorded_at: Mon, 07 Oct 2019 10:57:10 GMT
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"570e1b9d-6238-45fd-b75c-96f2f39db8e9","personalisation":{"application_url":"/applications/123/citizen/start","client_name":"Domingo
        Reichert","ref_number":"1a409900fa6e2e562a817c566f77d61e"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NzA0NDU4MzB9.iifZ4aCcaKgssCyWhhE3haiVzIzCPwSZyGNq8uTFxkk
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 3e5838a4-dd7c-4ca6-4de9-eaaf5dbb58b3
    body:
      encoding: U[...]
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"a577582b-3e60-44a4-885c-d4b12bf23958","personalisation":{"applicant_name":"Avril
        Kris","provider":"8a1420c2-2a2b-4b71-914b-87ae65554a7d","application_ref":"165f8b218533171c5e17906352814bf7","requested_at":"11:57
        07-Oct-2019"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NzA0NDU4MzB9.iifZ4aCcaKgssCyWhhE3haiVzIzCPwSZyGNq8uTFxkk
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - d2a78c19-a42d-46b1-5a9b-17191c3e4f30
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Applicant is requesting a new link to access
        their application\r\n\r\n* name: Avril Kris\r\n* provider: 8a1420c2-2a2b-4b71-914b-87ae65554a7d\r\n*
        application reference: 165f8b218533171c5e17906352814bf7\r\n* requested: 11:57
        07-Oct-2019","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid \u2013 Applicant request for new link"},"id":"155264c5-3cba-4718-baf3-07bba73fe7ee","reference":null,"scheduled_for":null,"template":{"id":"a577582b-3e60-44a4-885c-d4b12bf23958","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/a577582b-3e60-44a4-885c-d4b12bf23958","version":1},"uri":"https://api.notifications.service.gov.uk/v2/notifications/155264c5-3cba-4718-baf3-07bba73fe7ee"}

        '
  recorded_at: Mon, 07 Oct 2019 10:57:10 GMT
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"ce2d89ee-1c10-404b-91cc-52068933ba7b","personalisation":{"provider_name":"Vanda
        Gutkowski","client_name":"Elvis Lind","ref_number":"9ecff8375873ee06d00c97dcc2868c5d"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NzA0NDU4MzB9.iifZ4aCcaKgssCyWhhE3haiVzIzCPwSZyGNq8uTFxkk
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      [...]
