---
http_interactions:
- request:
    method: get
    uri: https://auth.truelayer.com/api/providers/oauth/openbanking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"provider_id":"ob-barclaycard","display_name":"Barclaycard","logo_url":"https://truelayer-client-logos.s3-eu-west-1.amazonaws.com/banks/banks-icons/ob-barclaycard-icon.svg","scopes":["accounts","cards","balance","transactions","offline_access"]},{"provider_id":"ob-barclays","display_name":"Barclays","logo_url":"https://truelayer-client-logos.s3-eu-west-1.amazonaws.com/banks/banks-icons/ob-barclays-icon.svg","scopes":["accounts","cards","balance","direct_debits","standing_orders","transactions","offline_access"]},{"provider_id":"ob-bos","display_name":"Bank
        of Scotland","logo_url":"https://truelayer-client-logos.s3-eu-west-1.amazonaws.com/banks/banks-icons/ob-bos-ico[...]
