---
http_interactions:
- request:
    method: get
    uri: https://auth.truelayer.com/api/providers/oauth/openbanking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"provider_id":"ob-aib","display_name":"AIB","logo_url":"https://truelayer-client-logos.s3-eu-west-1.amazonaws.com/banks/banks-icons/ob-aib-icon.svg","scopes":["accounts","balance","transactions","offline_access"]},{"provider_id":"ob-barclaycard","display_name":"Barclaycard","logo_url":"https://truelayer-client-logos.s3-eu-west-1.amazonaws.com/banks/banks-icons/ob-barclaycard-icon.svg","scopes":["accounts","cards","balance","transactions","offline_access"]},{"provider_id":"ob-barclays","display_name":"Barclays","logo_url":"https://truelayer-client-logos.s3-eu-west-1.amazonaws.com/banks/banks-icons/ob-barclays-icon.svg","scopes":["accounts","cards","ba[...]
- request:
    method: get
    uri: https://auth.truelayer.com/api/providers/oauth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"provider_id":"oauth-amex","display_name":"Amex","logo_url":"https://truelayer-client-logos.s3-eu-west-1.amazonaws.com/banks/banks-icons/oauth-amex-icon.svg","scopes":["balance","cards","direct_debits","standing_orders","transactions","offline_access"]},{"provider_id":"oauth-monzo","display_name":"Monzo","logo_url":"https://truelayer-client-logos.s3-eu-west-1.amazonaws.com/banks/banks-icons/oauth-monzo-icon.svg","scopes":["accounts","balance","info","transactions","offline_access"]},{"provider_id":"oauth-starling","display_name":"Starling","logo_url":"https://truelayer-client-logos.s3-eu-west-1.amazonaws.com/banks/banks-icons/oauth-starling-icon.svg","scopes":["accounts","balance","info","transactions","offline_access"]}]'
  recorded_at: Thu, 06 Feb 2020 10:46:20 GMT
recorded_with: VCR 5.0.0
