---
http_interactions:
- request:
    method: get
    uri: https://auth.truelayer.com/api/providers/oauth/openbanking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"provider_id":"ob-revolut","display_name":"Revolut","country":"uk","logo_url":"https://truelayer-provider-assets.s3.amazonaws.com/global/logos/revolut.svg","scopes":["info","accounts","balance","transactions","direct_debits","standing_orders","offline_access"],"provider_scope_mappings":{"info":["accounts","info"],"accounts":["accounts"],"balance":["accounts","balance"],"transactions":["accounts","transactions"],"cards":["info","cards"],"offline_access":["offline_access"],"direct_debits":["accounts","direct_debits"],"standing_orders":["accounts","standing_orders"],"beneficiaries":["accounts","beneficiaries"],"scheduled_payments":["scheduled_payments"],"info_name":["accounts","info_name"],"info_date_of_birth":["accounts","info_date_of_birth"],"info_addresses":["accounts","info_addresses"],"info_phone_numbers":["accounts","info_phone_numbers"],"info_email_addresses":["accounts","info_email_addresses"]}},{"provider_id":"ob-lloyds-business","display_name":"Lloyds
        Business","country":"uk","logo_url":"https://truelayer-provider-assets.s3.amazonaws.com/global/logos/lloyds.svg","scopes":["info","accounts","balance","transactions","cards","direct_debits","standing_orders","offline_access"],"provider_scope_mappings":{"info":["accounts","info"],"accounts":["accounts"],"balance":["accounts","balance"],"transactions":["accounts","transactions"],"cards":["info"[...]
- request:
    method: get
    uri: https://auth.truelayer.com/api/providers/oauth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"provider_id":"oauth-amex","display_name":"Amex","country":"uk","logo_url":"https://truelayer-provider-assets.s3.amazonaws.com/global/logos/amex.svg","scopes":["info","balance","transactions","cards","offline_access"],"provider_scope_mappings":{}},{"provider_id":"oauth-starling","display_name":"Starling","country":"uk","logo_url":"https://truelayer-provider-assets.s3.amazonaws.com/global/logos/starling.svg","scopes":["info","accounts","balance","transactions","offline_access"],"provider_scope_mappings":{}}]'
  recorded_at: Sat, 16 Jul 2022 13:30:33 GMT
[...]
- request:
    method: get
    uri: https://auth.truelayer.com/api/providers/oauth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"provider_id":"oauth-amex","display_name":"Amex","country":"uk","logo_url":"https://truelayer-provider-assets.s3.amazonaws.com/global/logos/amex.svg","scopes":["info","balance","transactions","cards","offline_access"],"provider_scope_mappings":{}},{"provider_id":"oauth-starling","display_name":"Starling","country":"uk","logo_url":"https://truelayer-provider-assets.s3.amazonaws.com/global/logos/starling.svg","scopes":["info","accounts","balance","transactions","offline_access"],"provider_scope_mappings":{}}]'
  recorded_at: Sat, 16 Jul 2022 13:30:34 GMT
recorded_with: VCR 6.1.0
