<li class="app-task-list__item">
  <span class="app-task-list__task-name">
    <% formatted_name = t(".#{name}") %>
    <% if status != :waiting_for_dependency %>
      <%= link_to_accessible formatted_name, url, aria_describedby: "#{name}-status" %>
    <% else %>
      <p><%= formatted_name %></p>
    <% end %>
  </span>
  <%= govuk_tag(
        text: t(".states.#{status}"),
        colour: tag_colour,
        classes: "app-task-list__tag",
        html_attributes: { id: "#{name}_#{ccms_code}_status" },
      ) %>
</li>
