<li class="govuk-!-padding-bottom-4">
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number"><%= section_number %>.</span>
    <%= section[:title] %>
  </h2>
  <ul class="app_task_list__items">
    <% section[:stages].each do |item| %>
      <%= task_list_item(
              name: item[:name],
              status: item[:status]
          ) %>
    <% end %>
  </ul>
</li>
