<%= page_template(page_title: t(".h1-heading"), head_title: t(".h1-heading"), template: :basic, column_width: "full") do %>
  <%= interruption_card(heading: t(".h1-heading"), actions: -> { render "actions" }) do %>
    <p><%= t(".paragraph-1") %></p>
    <p><%= t(".paragraph-2") %></p>
  <% end %>
<% end %>
