---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"d04e64ae-0a66-4577-83d6-6ce9f7fa27b4","personalisation":{"email":"simulate-delivered@notifications.service.gov.uk","provider_name":"Samira
        Hyatt","applicant_name":"John Doe","ref_number":null,"application_url":"http://www.example.com/providers/applications"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NzY4NDI3ODN9.M-2KT_lAn4iTfBR2lkzzWI2Tjlq8Ie2Zqu5mC87eiO4
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 0503d912-e5e4-4d75-4b99-1386c8f0100c
    body:
      encoding: UTF-8
      string: '{"errors":[{"error":"AuthError","message":"Invalid token: API key revoked"}],"status_code":403}

        '
  recorded_at: Fri, 20 Dec 2019 11:53:03 GMT
recorded_with: VCR 5.0.0
