<%= page_template(page_title: t(".tab_title.#{@benefit_check_status}"), template: :basic, column_width: "full") do %>
  <%= interruption_card(heading: t(".title.#{@benefit_check_status}_html"),
                        actions: -> { render "#{@benefit_check_status.eql?(:negative) ? 'negative' : 'standard'}_actions" }) do %>
        <p class="govuk-body"><%= t(".body.#{@benefit_check_status}", default: "") %></p>
      <% end %>
<% end %>
