---
http_interactions:
- request:
    method: get
    uri: https://api.os.uk/search/places/v1/postcode?key=<ORDNANCE_SURVEY_API_KEY>&lr=EN&postcode=SW1H9EA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      omse-category:
      - premium
      omse-transaction-count:
      - '60'
      omse-premium-count:
      - '0'
    body:
      encoding: UTF-8
      string: "{\r\n  \"header\" : {\r\n    \"uri\" : \"https://api.os.uk/search/places/v1/postcode?lr=EN&postcode=SW1H9EA\",\r\n
        \   \"query\" : \"postcode=SW1H9EA\",\r\n    \"offset\" : 0,\r\n    \"totalresults\"
        : 5,\r\n    \"format\" : \"JSON\",\r\n    \"dataset\" : \"DPA\",\r\n    \"lr\"
        : \"EN\",\r\n    \"maxresults\" : 100,\r\n    \"epoch\" : \"106\",\r\n    \"lastupdate\"
        : \"2023-12-12\",\r\n    \"output_srs\" : \"EPSG:27700\"\r\n  },\r\n  \"results\"
        : [ {\r\n    \"DPA\" : {\r\n      \"UPRN\" : \"100023337883\",\r\n      \"UDPRN\"
        : \"23749699\",\r\n      \"ADDRESS\" : \"SUPER FIRM LTD, 84, PETTY FRANCE,
        LONDON, SW1H 9EA\",\r\n      \"ORGANISATION_NAME\" : \"SUPER FIRM LTD\",\r\n
        \     \"BUILDING_NUMBER\" : \"84\",\r\n      \"THOROUGHFARE_NAME\" : \"PETTY
        FRANCE\",\r\n      \"POST_TOWN\" : \"LONDON\",\r\n      \"POSTCODE\" : \"SW1H
        9EA\",\r\n      \"RPC\" : \"2\",\r\n      \"X_COORDINATE\" : 529526.39,\r\n
        \     \"Y_COORDINATE\" : 179490.43,\r\n      \"STATUS\" : \"APPROVED\",\r\n
        \     \"LOGICAL_STATUS_CODE\" : \"1\",\r\n      \"CLASSIFICATION_CODE\" :
        \"CR07\",\r\n      \"CLASSIFICATION_CODE_DESCRIPTION\" : \"Restaurant / Cafeteria\",\r\n
        \     \"LOCAL_CUSTODIAN_CODE\" : 5990,\r\n      \"LOCAL_CUSTODIAN_CODE_DESCRIPTION\"
        : \"CITY OF WESTMINSTER\",\r\n      \"COUNTRY_CODE\" : \"E\",\r\n      \"COUNTRY_CODE_DESCRIPTION\"
        : \"This record is within England\",\r\n      \"POSTAL_ADDRESS_CODE\" : \"D\",\r\n
        \     \"POSTAL_ADDRESS_CODE_DESCRIPTION\" : \"A record which is linked to
        PAF\",\r\n      \"BLPU_STATE_CODE\" : \"2\",\r\n      \"BLPU_STATE_CODE_DESCRIPTION\"
        : \"In use\",\r\n      \"TOPOGRAPHY_LAYER_TOID\" : \"osgb1000042216527\",\r\n
        \     \"LAST_UPDATE_DATE\" : \"10/02/2016\",\r\n      \"ENTRY_DATE\" : \"19/03/2001\",\r\n
        \     \"BLPU_STATE_DATE\" : \"19/03/2001\",\r\n      \"LANGUAGE\" : \"EN\",\r\n
        \     \"MATCH\" : 1.0,\r\n      \"MATCH_DESCRIPTION\" : \"EXACT\",\r\n      \"DELIVERY_POINT_SUFFIX\"
        : \"1B\"\r\n    }\r\n  }, {\r\n    \"DPA\" : {\r\n      \"UPRN\" : \"10033650067\",\r\n
        \     \"UDPRN\" : \"56825040\",\r\n      \"ADDRESS\" : \"BRITISH TRANSPORT
        POLICE, 98, PETTY FRANCE, LONDON, SW1H 9EA\",\r\n      \"ORGANISATION_NAME\"
        : \"BRITISH TRANSPORT POLICE\",\r\n      \"BUILDING_NUMBER\" : \"98\",\r\n
        \     \"THOROUGHFARE_NAME\" : \"PETTY FRANCE\",\r\n      \"POST_TOWN\" : \"LONDON\",\r\n
        \     \"POSTCODE\" : \"SW1H 9EA\",\r\n      \"RPC\" : \"2\",\r\n      \"X_COORDINATE\"
        : 529558.47,\r\n      \"Y_COORDINATE\" : 179482.17,\r\n      \"STATUS\" :
        \"APPROVED\",\r\n      \"LOGICAL_STATUS_CODE\" : \"1\",\r\n      \"CLASSIFICATION_CODE\"
        : \"CO01\",\r\n      \"CLASSIFICATION_CODE_DESCRIPTION\" : \"Office / Work
        Studio\",\r\n      \"LOCAL_CUSTODIAN_CODE\" : 5990,\r\n      \"LOCAL_CUSTODIAN_CODE_DESCRIPTION\"
        : \"CITY OF WESTMINSTER\",\r\n      \"COUNTRY_CODE\" : \"E\",\r\n      \"COUNTRY_CODE_DESCRIPTION\"
        : \"This record is within England\",\r\n      \"POSTAL_ADDRESS_CODE\" : \"D\",\r\n
        \     \"POSTAL_ADDRESS_CODE_DESCRIPTION\" : \"A record which is linked to
        PAF\",\r\n      \"BLPU_STATE_CODE\" : \"2\",\r\n      \"BLPU_STATE_CODE_DESCRIPTION\"
        : \"In use\",\r\n      \"TOPOGRAPHY_LAYER_TOID\" : \"osgb1000042217066\",\r\n
        \     \"PARENT_UPRN\" : \"100023337884\",\r\n      \"LAST_UPDATE_DATE\" :
        \"14/02/2022\",\r\n      \"ENTRY_DATE\" : \"19/03/2021\",\r\n      \"BLPU_STATE_DATE\"
        : \"19/03/2021\",\r\n      \"LANGUAGE\" : \"EN\",\r\n      \"MATCH\" : 1.0,\r\n
        \     \"MATCH_DESCRIPTION\" : \"EXACT\",\r\n      \"DELIVERY_POINT_SUFFIX\"
        : \"1Q\"\r\n    }\r\n  }, {\r\n    \"DPA\" : {\r\n      \"UPRN\" : \"100023337884\",\r\n
        \     \"UDPRN\" : \"23749702\",\r\n      \"ADDRESS\" : \"TRANSPORT FOR LONDON[...]
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dd6907b8448bc8458adb599124824756"
    body:
      encoding: UTF-8
      string: '[{"ccms_code":"DA001","meaning":"Inherent jurisdiction high court injunction","description":"to
        be represented on an application for an injunction, order or declaration under
        the inherent jurisdiction of the court.","full_s8_only":false,"ccms_category_law":"Family","ccms_matter_code":"MINJN","ccms_matter":"Domestic
        abuse"},{"ccms_code":"SE095","meaning":"Enforcement order 11J-S8","description":"to
        be represented on an application for an enforcement order under section 11J
        Children Act 1989.  Enforcement only.","full_s8_only":true,"ccms_category_law":"Family","ccms_matter_code":"KSEC8","ccms_matter":"Children
        - section 8"},{"ccms_code":"SE015A","meaning":"Vary CAO contact-Appeal","description":"to
        be represented on an application to vary/discharge a child ar[...]
[...]
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/DA004
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fbabf0efd65b63f03290a3f99682b0d4"
    body:
      encoding: UTF-8
      string: '{"success":true,"ccms_code":"DA004","meaning":"Non-molestation order","ccms_category_law_code":"MAT","ccms_matter_code":"MINJN","name":"nonmolestation_order","description":"to
        be represented on an application for a non-molestation order.","full_s8_only":false,"ccms_category_law":"Family","ccms_matter":"Domestic
        abuse","cost_limitations":{"substantive":{"start_date":"1970-01-01","value":"25000.0"},"delegated_functions":{"start_date":"2021-09-13","value":"2250.0"}},"default_scope_limitations":{"substantive":{"code":"AA019","meaning":"Injunction
        FLA-to final hearing","description":"As to proceedings under Part IV Family
        Law Act 1996 limited to all steps up to and including obtaining and serving
        a final order and in the event of breach leading to the exercise of a power
        of arrest to representation on the consideration of the breach by the court
        (but excluding applying for a warrant of arrest, if not attached, and representation
        in contempt proceedings)."},"delegated_functions":{"code":"CV117","meaning":"Interim
        order inc. return date","description":"Limited to all steps necessary to apply
        for an interim order; where application is made without notice to include
        representation on the return date."}},"service_levels":[{"level":3,"name":"Full
        Representation","stage":8,"proceeding_default":true}]}'
  recorded_at: Wed, 13 Dec 2023 16:26:49 GMT
[...]
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/client_involvement_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8bf337339345d42d16a9e6062fb65ccf"
    body:
      encoding: UTF-8
      string: '[{"ccms_code":"A","description":"Applicant/claimant/petitioner"},{"ccms_code":"D","description":"Defendant/respondent"},{"ccms_code":"W","description":"Subject
        of proceedings (child)"},{"ccms_code":"I","description":"Intervenor"},{"ccms_code":"Z","description":"Joined
        party"}]'
  recorded_at: Wed, 13 Dec 2023 16:26:58 GMT
[...]
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_type_defaults
    body:
      encoding: UTF-8
      string: '{"proceeding_type_ccms_code":"DA020","delegated_functions_used":true,"client_involvement_type":"A"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"65ca4eca3aa35e25dc82a369f068e056"
    body:
      encoding: UTF-8
      string: '{"success":true,"requested_params":{"proceeding_type_ccms_code":"DA020","delegated_functions_used":true,"client_involvement_type":"A"},"default_level_of_service":{"level":3,"name":"Full
        Representation","stage":8},"default_scope":{"code":"CV117","meaning":"Interim
        order inc. return date","description":"Limited to all steps necessary to apply
        for an interim order; where application is made without notice to include
        representation on the return date.","additional_params":[]}}'
  recorded_at: Wed, 13 Dec 2023 16:26:59 GMT
[...]
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_type_defaults
    body:
      encoding: UTF-8
      string: '{"proceeding_type_ccms_code":"DA005","delegated_functions_used":true,"client_involvement_type":"D"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2a548122c895182fbfbfe564e797f97e"
    body:
      encoding: UTF-8
      string: '{"success":true,"requested_params":{"proceeding_type_ccms_code":"DA005","delegated_functions_used":true,"client_involvement_type":"D"},"default_level_of_service":{"level":3,"name":"Full
        Representation","stage":8},"default_scope":{"code":"CV118","meaning":"Hearing","description":"Limited
        to all steps up to and including the hearing on [see additional limitation
        notes]","additional_params":[{"name":"hearing_date","type":"date","mandatory":true}]}}'
  recorded_at: Wed, 13 Dec 2023 16:27:01 GMT
[...]
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_type_defaults
    body:
      encoding: UTF-8
      string: '{"proceeding_type_ccms_code":"DA003","delegated_functions_used":false,"client_involvement_type":"D"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5991b1d963fc88128f76da3177d56c26"
    body:
      encoding: UTF-8
      string: '{"success":true,"requested_params":{"proceeding_type_ccms_code":"DA003","delegated_functions_used":false,"client_involvement_type":"D"},"default_level_of_service":{"level":3,"name":"Full
        Representation","stage":8},"default_scope":{"code":"AA019","meaning":"Injunction
        FLA-to final hearing","description":"As to proceedings under Part IV Family
        Law Act 1996 limited to all steps up to and including obtaining and serving
        a final order and in the event of breach leading to the exercise of a power
        of arrest to representation on the consideration of the breach by the court
        (but excluding applying for a warrant of arrest, if not attached, and representation
        in contempt proceedings).","additional_params":[]}}'
  recorded_at: Wed, 13 Dec 2023 16:27:04 GMT
recorded_with: VCR 6.2.0
