# Default values for apply-for-legal-aid.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: modsec-non-prod
  annotations:
    nginx.ingress.kubernetes.io/server-snippet: |
      if ($scheme = http) {
        return 444;
      }
    external-dns.alpha.kubernetes.io/aws-weight: '100'
    nginx.ingress.kubernetes.io/enable-modsecurity: "true"
    nginx.ingress.kubernetes.io/enable-owasp-core-rules: "true"
    nginx.ingress.kubernetes.io/modsecurity-transaction-id: "$request_id"
    nginx.ingress.kubernetes.io/modsecurity-snippet: |
      SecRuleEngine On
      SecDefaultAction "phase:1,pass,log,tag:github_team=laa-apply-for-legal-aid,tag:namespace=laa-apply-for-legalaid-uat"
      SecDefaultAction "phase:2,pass,log,tag:github_team=laa-apply-for-legal-aid,tag:namespace=laa-apply-for-legalaid-uat"
      SecAction "id:900110,phase:1,nolog,pass,t:none,setvar:tx.inbound_anomaly_score_threshold=6,setvar:tx.outbound_anomaly_score_threshold=4"
      SecRuleUpdateActionById 949110 "t:none,deny,status:423,logdata:%{SERVER_NAME}"
      SecRuleUpdateActionById 959100 "t:none,deny,status:423,logdata:%{SERVER_NAME}"
      SecRule ARGS "@rx testlog" "id:210001,phase:2,log,deny,status:406,tag:github_team=laa-apply-for-legal-aid,tag:namespace=laa-apply-for-legalaid-uat,tag:joel_test=1"
      SecRule REQUEST_FILENAME "^.*statement_of_case.*" "id:300001,ctl:ruleRemoveById=949110"
      SecRuleRemoveById 921110
      SecRuleRemoveById 200003
      SecRule MULTIPART_DATA_BEFORE "!@eq 0" "id:300002,phase:2,t:none,log,deny,status:400, msg:`Multipart request body failed custom  validation: DB %{MULTIPART_DATA_BEFORE}.`"
      SecRule MULTIPART_BOUNDARY_WHITESPACE "!@eq 0" "id:300003,phase:2,t:none,log,deny,status:400, msg:`Multipart request body failed custom  validation: DB %{MULTIPART_BOUNDARY_WHITESPACE}.`"
      SecRule MULTIPART_BOUNDARY_QUOTED "!@eq 0" "id:300004,phase:2,t:none,log,deny,status:400, msg:`Multipart request body failed custom  validation: DB %{MULTIPART_BOUNDARY_QUOTED}.`"
      SecRule MULTIPART_DATA_AFTER "!@eq 0" "id:300005,phase:2,t:none,log,deny,status:400, msg:`Multipart request body failed custom  validation: DB %{MULTIPART_DATA_AFTER}.`"
      SecRule MULTIPART_HEADER_FOLDING "!@eq 0" "id:300006,phase:2,t:none,log,deny,status:400, msg:`Multipart request body failed custom  validation: DB %{MULTIPART_HEADER_FOLDING}.`"
      SecRule MULTIPART_LF_LINE "!@eq 0" "id:300007,phase:2,t:none,log,deny,status:400, msg:`Multipart request body failed custom  validation: DB %{MULTIPART_LF_LINE}.`"
      SecRule MULTIPART_MISSING_SEMICOLON "!@eq 0" "id:300008,phase:2,t:none,log,deny,status:400, msg:`Multipart request body failed custom  validation: DB %{MULTIPART_MISSING_SEMICOLON}.`"
      SecRule MULTIPART_INVALID_PART "!@eq 0" "id:300009,phase:2,t:none,log,deny,status:400, msg:`Multipart request body failed custom  validation: DB %{MULTIPART_INVALID_PART}.`"
      SecRule MULTIPART_INVALID_HEADER_FOLDING "!@eq 0" "id:300010,phase:2,t:none,log,deny,status:400, msg:`Multipart request body failed custom  validation: DB %{MULTIPART_INVALID_HEADER_FOLDING}.`"
      SecRule MULTIPART_FILE_LIMIT_EXCEEDED "!@eq 0" "id:300011,phase:2,t:none,log,deny,status:400, msg:`Multipart request body failed custom  validation: DB %{MULTIPART_FILE_LIMIT_EXCEEDED}.`"
      SecRule REQUEST_FILENAME "^.*address_selection.*" "id:300012,ctl:ruleRemoveById=949110, msg:`Request filename anonmaly score exception for address selection failed custom validation: REQUEST_FILENAME %{REQUEST_FILENAME}.`"
  path: /

publicIngress:
  enabled: true
  className: modsec-non-prod
  whitelist:
    enabled: true
  annotations:
    external-dns.alpha.kubernetes.io/aws-weight: "100"
    nginx.ingress.kubernetes.io/enable-modsecurity: "false"
    nginx.ingress.kubernetes.io/server-snippet: |
      if ($scheme = http) {
        return 444;
      }
# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
resources: {}
  # limits:
  #   cpu: 1000m
  #   memory: 2Gi
  # requests:
  #   cpu: 10m
  #   memory: 512Mi

nodeSelector: {}

tolerations: []

affinity: {}
deploy:
  host: ""

postgresql:
  enabled: true
  image:
    repository: bitnamilegacy/postgresql
  global:
    security:
      allowInsecureImages: true
  resources:
    limits:
     cpu: 250m
     memory: 256Mi
    requests:
     cpu: 10m
     memory: 64Mi
  postgresqlUsername: postgres
  auth:
    Database: apply_for_legal_aid_uat
    enablePostgresUser: true
    existingSecret: laa-apply-for-legalaid-secrets
    secretKeys:
      adminPasswordKey: postgresqlPassword
  persistence:
    enabled: false
  primary:
    containerSecurityContext:
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop: [ "ALL" ]

# see https://artifacthub.io/packages/helm/bitnami/redis for parameters
redis:
  enabled: true
  architecture: standalone
  image:
    repository: bitnamisecure/redis
    tag: latest
  global:
    security:
      allowInsecureImages: true
  master:
    resources:
      limits:
        cpu: 250m
        memory: 256Mi
      requests:
        cpu: 10m
        memory: 64Mi
    containerSecurityContext:
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop: [ "ALL" ]
  auth:
    enabled: true
    existingSecret: laa-apply-for-legalaid-secrets
    existingSecretPasswordKey: redisPassword

benefit_checker:
  wsdlUrl: "https://uat.laa-benefit-checker.service.justice.gov.uk/lsx/lsc-services/benefitChecker?wsdl"

ccms_soa:
  submit_applications: "true"
  clientPasswordType: "http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"
  userRole: EXTERNAL
  caseServicesWsdl: CaseServicesDEVWsdl.xml
  clientProxyServiceWsdl: ClientProxyServiceDEVWsdl.xml
  documentServicesWsdl: DocumentServicesDEVWsdl.xml
  getReferenceDataWsdl: GetReferenceDataDEVWsdl.xml

omniauth_entraid:
  mock_auth_enabled: true
  redirect_uri: https://main-applyforlegalaid-uat.cloud-platform.service.justice.gov.uk/auth/entra_id/callback # overridden for branches (see deploy script)

admin_omniauth_entraid:
  mock_auth_enabled: false
  redirect_uri: https://main-applyforlegalaid-uat.cloud-platform.service.justice.gov.uk/auth/admin_entra_id/callback # overridden for branches (see deploy script)

pda:
  url: "https://laa-provider-details-api-uat.apps.live.cloud-platform.service.justice.gov.uk"

# We point our UAT to their Dev as it more closely matches logically, and there are currently only Dev and UAT
# namespaces/hosts available, and CUMA UAT is used by staging.
ccms_user_api:
  url: "http://user-details-api-service.laa-ccms-user-details-api-dev.svc.cluster.local:8080/api/v1"

trueLayer:
  enableMock: "true"

worker:
  replicaCount: 1

clamav:
  replicaCount: 1
  configFile: /etc/clamav/clamd.conf
  freshclamCheck: 24
  mirror: https://laa-clamav-mirror-production.apps.live.cloud-platform.service.justice.gov.uk

admin:
  allowAdminPassword: true
  allowReset: "true"
  allowCreateTestApplications: "true"
  showForm: "true"

google_tag_manager:
  trackingId: ""

checkFinancialEligibility:
  # this is routed using internal K8s addresses as it is only referred to in service calls
  civil_host: "http://cfe-civil.cfe-civil-production.svc.cluster.local"

email_domain:
  suffix: "@justice"

policy_disregards_start_date: "2020-12-20"
mtr_a_start_date: "2024-11-6"

hmrc_interface:
  host: "http://main-laa-hmrc-interface-service-api.laa-hmrc-interface-uat.svc.cluster.local"
  duration: '93'
  hmrc_use_dev_mock: 'true'

service_account:
  name: laa-apply-for-legalaid-uat-irsa

maintenance_mode:
  enabled: "false"

collect_hmrc_data:
  enabled: "false"

# Force reauthentication 24 hours (UAT only) from last sign in, inline with SiLAS/EntraID
session:
   reauthenticate_after_minutes: "1440"
   idle_timeout_after_minutes: "60"

business_hours:
  start: 7
  end: 19

env: uat
