<%= page_template(
      page_title: t(".heading_1"),
      back_link: :none,
    ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <%= govuk_table do |table|
          table.with_caption(html_attributes: { class: "govuk-visually-hidden" }, text: t(".heading_1"))

          table.with_head do |head|
            head.with_row do |row|
              row.with_cell(html_attributes: { class: "govuk-!-width-one-quarter" }, text: t(".firms.firm"))
              row.with_cell(text: t(".firms.num_users"))
              row.with_cell(text: t(".firms.permissions"))
              row.with_cell(text: t(".firms.action"))
            end
          end

          table.with_body do |body|
            @firms.each do |firm|
              body.with_row do |row|
                row.with_cell(text: firm.name)
                row.with_cell(text: firm.providers.count)
                row.with_cell do
                  tag.ul(class: "govuk-list govuk-list--bullet") do
                    firm.permissions.each do |permission|
                      concat tag.li(permission.description)
                    end
                  end
                end
                row.with_cell do
                  govuk_link_to(
                    t(".firms.view_users_html", provider: firm.name),
                    admin_firm_providers_path(firm),
                    id: "firm-#{firm.id}",
                    method: :get,
                  )
                end
              end
            end
          end
        end %>

  </div>
</div>
