<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="open-banking-consent">
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <%= form.check_box :open_banking_consent, { class: 'govuk-checkboxes__input' }, 'YES', 'NO' %>
        <%= form.label :open_banking_consent, t('.label.html'), class: 'govuk-label govuk-checkboxes__label' %>
      </div>
    </div>
 </fieldset>
</div>
