<div class="govuk-checkboxes__item">
    <%= form.check_box field_name, { class: 'govuk-checkboxes__input' }, checked, unchecked %>
  <%= form.label field_name, label, class: 'govuk-label govuk-checkboxes__label' %>
  <%= govuk_hint(govuk_hint, class: 'govuk-checkboxes__hint') unless govuk_hint.blank? %>
</div>
