<div class="govuk-grid-column-two-thirds">
  <%= form_with(
        model: nil,
        url: url,
        method: method,
        local: true
      ) do |form| %>

    <%= render partial: 'shared/forms/continue_and_draft_buttons', locals: { continue_id: 'continue', show_draft: show_draft, form: form } %>
  <% end %>
</div>
