<% field_error_class = form.object.errors[field_name].present? || form.object.errors[parent_field].present? ? 'govuk-input--error' : '' %>
<% width = /_year\z/.match?(field_name.to_s) ? '4' : '2' %>

<div class="govuk-date-input__item">
  <div class="govuk-form-group">
    <%= form.label field_name, class: ['govuk-date-input__label govuk-label'] %>
    <%= form.text_field field_name, id: field_name, class: ["govuk-input govuk-date-input__input govuk-input--width-#{width} #{field_error_class}"] %>
  </div>
</div>
