<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= t "#{translation_path}.list_heading" %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <%= list_from_translation_path translation_path %>
  </div>
</details>
