<div class="govuk-error-summary hidden" id="error-summary-hideable" tabindex="-1" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      <%= t("generic.errors.problem_text") %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list"></ul>
    </div>
  </div>
</div>
