<% attribute_prefix = local_assigns[:attribute_prefix] ? attribute_prefix : '' %>
<% if model.errors.any? %>
  <div class="govuk-error-summary" id="error_explanation">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t('generic.errors.problem_text') %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% model.errors.each do |attribute, message| %>
          <li>
            <%= link_to message, "##{attribute_prefix}#{attribute}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
