<% attribute_prefix = local_assigns[:attribute_prefix] ? attribute_prefix : '' %>
<% if model.errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t('generic.errors.problem_text') %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% model.errors.attribute_names.each do |attribute| %>
          <li>
            <%= link_to_accessible model.errors[attribute].first, "##{attribute_prefix}#{attribute}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
