<% error_message = local_assigns[:error_message] ? error_message : t('generic.errors.problem_text')
   field_id = local_assigns[:field_id] ? field_id : '#' %>
<div class="govuk-error-summary hidden" id="error-summary-hideable" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        <%= t('generic.errors.problem_text') %>
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <%= link_to_accessible error_message, "##{field_id}" %>
            </li>
        </ul>
    </div>
</div>
