<div class="govuk-list">
  <% if translation_path.include? 'warning' %>
    <ul class="govuk-list govuk-list--bullet">
      <% t("#{translation_path}.list", **params).each_line do |item| %>
        <li><strong><%= item %></strong></li>
      <% end %>
    </ul>
    <% else %>
    <ul class="govuk-list govuk-list--bullet">
      <% t("#{translation_path}.list", **params).each_line do |item| %>
       <li><%= item %></li>
      <% end %>
    </ul>
  <% end %>
</div>
