<div class="<%= container_class %>">
  <% if show_continue %>
    <%= form.govuk_submit(
          continue_button_text,
          inverse: inverse_continue,
          id: continue_id,
          name: "continue_button",
          value: continue_button_text,
          class: "govuk-!-display-none-print",
        ) %>
  <% end %>
  <% if show_draft %>
    <%= form.govuk_submit(
          draft_button_text,
          id: "draft_button",
          name: "draft_button",
          value: draft_button_text,
          secondary: true,
          class: "govuk-!-display-none-print",
        ) %>
  <% end %>
  <% if additional_link_text %>
    <div class="govuk-body govuk-!-display-none-print">
      <%= govuk_link_to additional_link_text, additional_link_url %>
    </div>
  <% end %>
</div>
