<div class="govuk-grid-column-two-thirds">
  <%= form_with(
        model: nil,
        url: url,
        method: method,
        local: true
      ) do |form| %>

    <%= render partial: 'shared/forms/next_action_buttons',
               locals: {
                 continue_id: 'continue',
                 show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
                 form: form
               } %>
  <% end %>
</div>
