<%
  show_draft = false unless local_assigns.key?(:show_draft)
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form.submit t('generic.continue'), id: continue_id, name: 'continue_button', class: 'govuk-button form-button' %>
    <% if show_draft %>
      <%= form.submit t('generic.save_as_draft'), name: 'draft-button', id: 'draft_button', class: 'govuk-button form-button govuk-secondary-button' %>
    <% end %>
  </div>
</div>
