<div class="govuk-radios">
  <% value_label_pairs.each_with_index do |(value, label), index| %>
    <div class="govuk-radios__item">
      <%= radio_button_tag field_name, value, false, class: 'govuk-radios__input' %>
      <%= label_tag "#{field_name}_#{value}", label, class: 'govuk-label govuk-radios__label'  %>
    </div>
  <% end %>
</div>
