<div class="govuk-radios">
  <% value_label_pairs.each do |value, label| %>
    <div class="govuk-radios__item">
      <%= radio_button_tag(
            field_name,
            value,
            (selected == value),
            class: 'govuk-radios__input'
          ) %>
      <%= label_tag "#{field_name}_#{value}", label, class: 'govuk-label govuk-radios__label' %>
    </div>
  <% end %>
</div>
