<div aria-labelledby="notice-summary-heading" class="notice-summary" role="group" tabindex="-1">
  <div class="govuk-error-summary success_summary" id="error_explanation">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= success_message %>
    </h2>
  </div>

</div>
