  <div class="govuk-error-summary success_summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= success_message %>
    </h2>
  </div>
