version: 2.1

orbs:
  aws-cli: circleci/aws-cli@5.1.0
  browser-tools: circleci/browser-tools@1.4.8
  slack: circleci/slack@5.0.0

references:
  authenticate_k8s_live: &authenticate_k8s_live
    run:
      name: Authenticate with cluster
      command: |
        echo -n ${K8S_CLUSTER_CERT_LIVE} | base64 -d > ./ca.crt
        kubectl config set-cluster ${K8S_CLUSTER_NAME_LIVE} --certificate-authority=./ca.crt --server=https://${K8S_CLUSTER_NAME_LIVE}
        kubectl config set-credentials circleci --token=${K8S_TOKEN_LIVE}
        kubectl config set-context ${K8S_CLUSTER_NAME_LIVE} --cluster=${K8S_CLUSTER_NAME_LIVE} --user=circleci --namespace=${K8S_NAMESPACE}
        kubectl config use-context ${K8S_CLUSTER_NAME_LIVE}

  install_gems: &install_gems
    run:
      name: Install ruby gems
      command: |
        bundle config set --local path 'vendor/bundle'
        bundle install --jobs=4 && bundle clean

  update_packages: &update_packages
    run:
      name: Update packages
      command: sudo apt-get update

  restore_gems_cache: &restore_gems_cache
    restore_cache:
      keys:
        - v4.0.1-gems-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "Gemfile.lock" }}

  save_gems_cache: &save_gems_cache
    save_cache:
        key: v4.0.1-gems-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "Gemfile.lock" }}
        paths:
          - vendor/bundle

executors:
  basic-executor:
    docker:
      - image: cimg/base:2020.01
  basic-ruby-executor:
    docker:
      - image: cimg/ruby:4.0.1-browsers
        environment:
          RAILS_ENV: test
          TZ: "Europe/London"
  cloud-platform-executor:
    docker:
      - image: ministryofjustice/cloud-platform-tools:2.7.0
        environment:
          TZ: Europe/London
  notification-executor:
    docker:
      - image: 'cibuilds/base:latest'
        environment:
          TERM: dumb
    resource_class: small
  test-executor:
    docker:
      - image: ministryofjustice/apply-ci:latest-4.0.1
        environment:
          RAILS_ENV: test
          NODE_OPTIONS: --openssl-legacy-provider
          TZ: Europe/London
          PUPPETEER_SKIP_DOWNLOAD: "true"
          PUPPETEER_EXECUTABLE_PATH: "/usr/bin/google-chrome"
      - image: cimg/postgres:18.1
      - image: cimg/redis:6.2
      - image: ghcr.io/ministryofjustice/hmpps-clamav:sha-5cd6693

commands:
  install-js-dependencies:
    description: Install JavaScript dependencies using Yarn
    steps:
      - restore_cache:
          name: Restoring Yarn packages cache
          keys:
            - v4.0.1-yarn-packages-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install Yarn packages
          command: |
            echo "yarn version: $(yarn -v)"
            yarn install --immutable
      - save_cache:
          name: Saving Yarn packages cache
          key: v4.0.1-yarn-packages-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

  build-and-push-to-ecr:
    description: Build and push image to ECR repository
    steps:
      - run:
          name: Build docker image
          command: |
            docker build \
            --build-arg BUILD_DATE=$(date +%Y-%m-%dT%H:%M:%S%z) \
            --build-arg BUILD_TAG="app-${CIRCLE_SHA1}" \
            --build-arg APP_BRANCH=${CIRCLE_BRANCH} \
            -t app . | while read line ; do echo "$(date +"%T") > $line" ; done ;
      - aws-cli/setup:
          role_arn: $ECR_ROLE_TO_ASSUME
          region: $ECR_REGION
      - run:
          name: Push image to ECR repository
          command: |
            aws ecr get-login-password --region ${ECR_REGION} | docker login --username AWS --password-stdin ${ECR_REGISTRY}
            docker tag app "${ECR_REGISTRY}/${ECR_REPOSITORY}:${CIRCLE_SHA1}"
            docker push "${ECR_REGISTRY}/${ECR_REPOSITORY}:${CIRCLE_SHA1}"

            if [ "${CIRCLE_BRANCH}" == "main" ]; then
              docker tag app "${ECR_REGISTRY}/${ECR_REPOSITORY}:latest"
              docker push "${ECR_REGISTRY}/${ECR_REPOSITORY}:latest"
            fi

  deploy-to-environment:
      description: Deploy image to the specified environment
      parameters:
        environment:
          description: Name of environment to deploy to
          type: string
      steps:
        - aws-cli/setup:
            role_arn: $ECR_ROLE_TO_ASSUME
            region: $ECR_REGION
        - checkout
        - *authenticate_k8s_live
        - run:
            name: Deploy to << parameters.environment >>
            command: |
              ./bin/deploy << parameters.environment >>

jobs:
  lint_checks:
    executor: basic-ruby-executor
    steps:
    - checkout
    - setup_remote_docker
    - *update_packages
    - *restore_gems_cache
    - *install_gems
    - *save_gems_cache
    - install-js-dependencies
    - run:
        name: Run StandardJS
        command: yarn run standardjs
    - run:
        name: Run Stylelint
        command: yarn run stylelint
    - run:
        name: Run Rubocop
        command:  bundle exec rubocop
    - run:
        name: Run erblint
        command: bin/rails erblint
    - run:
        name: Check if new apply docker images are needed, and build if so
        command: |
          COMMITS_IN_BRANCH=$(git rev-list main.. --count)
          ALL_FILES_CHANGED=$(git diff --name-only HEAD~$COMMITS_IN_BRANCH)
          RUBY_VERSION_CHANGED=$((echo "$ALL_FILES_CHANGED" | grep ".ruby-version" || true) | wc -l | xargs)
          if [ "$RUBY_VERSION_CHANGED" = "1" ]; then
            TOKEN=$(curl -s -H "Content-Type: application/json" -X POST -d '{"username": "'${DOCKER_HUB_USERNAME}'", "password": "'${DOCKER_HUB_PAT}'"}' https://hub.docker.com/v2/users/login/ | jq -r .token)
            ./.circleci/docker_build ci
            ./.circleci/docker_build base
          else
            echo ".ruby-version not changed"
          fi

  unit_tests:
    parallelism: 6
    executor: test-executor
    steps:
    - checkout
    - *restore_gems_cache
    - *install_gems
    - *save_gems_cache
    - save_cache:
        key: apply-repo-{{ .Environment.CIRCLE_SHA1 }}
        paths:
          - ~/project
    - run: bundle exec rails db:prepare
    - install-js-dependencies
    - run: bundle exec rails assets:precompile
    - run:
        name: Run ruby tests
        command: |
          TESTFILES=$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings --timings-type=filename)
          echo "${TESTFILES}"
          bundle exec rspec --format progress \
          --format RspecJunitFormatter \
          -o /tmp/test-results/rspec/rspec.xml \
          -- ${TESTFILES}

    - store_test_results:
        path: /tmp/test-results/rspec

    - run:
        name: Stash Coverage Results
        command: |
          mkdir coverage_results
          cp -R coverage/.resultset.json coverage_results/.resultset-${CIRCLE_NODE_INDEX}-unit.json
    - persist_to_workspace:
        root: .
        paths:
          - coverage_results

  integration_tests:
    parallelism: 10
    executor: test-executor
    steps:
    - checkout
    - *restore_gems_cache
    - *install_gems
    - *save_gems_cache
    - run: bundle exec rails db:prepare
    - install-js-dependencies
    - run: bundle exec rails assets:precompile
    - browser-tools/install-chrome
    - run:
        name: Run integration tests
        command: |
          TESTFILES=$(circleci tests glob "features/**/*.feature" | circleci tests split --split-by=timings)
          echo "${TESTFILES}"
          bundle exec cucumber --format junit,fileattribute=true --out /tmp/test-results/cucumber --format pretty -- ${TESTFILES}
    - store_artifacts:
        path: tmp/capybara
    - store_test_results:
        path: /tmp/test-results/cucumber
    - run:
        name: Stash Coverage Results
        command: |
          mkdir coverage_results
          cp -R coverage/.resultset.json coverage_results/.resultset-${CIRCLE_NODE_INDEX}-integration.json
    - persist_to_workspace:
        root: .
        paths:
          - coverage_results

  coverage:
    executor: basic-ruby-executor
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          key: apply-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Process coverage
          command: |
            bundle exec rake simplecov:process_coverage
      - store_artifacts:
          path: ~/project/coverage
          destination: coverage

  build_and_push:
    executor: cloud-platform-executor
    steps:
    - checkout
    - setup_remote_docker
    - build-and-push-to-ecr

  deploy_uat: &deploy_uat
    executor: cloud-platform-executor
    steps:
      - deploy-to-environment:
          environment: uat

  deploy_main_uat:
    <<: *deploy_uat

  deploy_staging:
    executor: cloud-platform-executor
    steps:
      - deploy-to-environment:
          environment: staging

  deploy_production:
    executor: cloud-platform-executor
    steps:
      - deploy-to-environment:
          environment: production

  delete_dependabot_deployment:
    executor: cloud-platform-executor
    steps:
    - checkout
    - setup_remote_docker
    - *authenticate_k8s_live
    - run:
        name: Delete dependabot deployment
        command: |
          ./bin/delete_dependabot_deployment

generic-slack-fail-post-step: &generic-slack-fail-post-step
  post-steps:
    - slack/notify:
        event: fail
        template: basic_fail_1

workflows:
  open_pr:
    jobs:
      - lint_checks:
          filters:
            branches:
              ignore: main
          <<: *generic-slack-fail-post-step
      - build_and_push:
          requires:
          - lint_checks
          <<: *generic-slack-fail-post-step
      - deploy_uat:
          context: laa-apply-for-legalaid-uat
          requires:
          - build_and_push
          <<: *generic-slack-fail-post-step
      - unit_tests:
          requires:
            - lint_checks
          <<: *generic-slack-fail-post-step
      - integration_tests:
          requires:
          - lint_checks
          <<: *generic-slack-fail-post-step
      - coverage:
          requires:
            - unit_tests
            - integration_tests
          <<: *generic-slack-fail-post-step
      - delete_dependabot_deployment:
          context: laa-apply-for-legalaid-uat
          filters:
            branches:
              only:
                - /dependabot.*/
          requires:
          - deploy_uat
          <<: *generic-slack-fail-post-step

  merge_pr:
    max_auto_reruns: 1
    jobs:
      - lint_checks:
          filters:
            branches:
              only: main
          <<: *generic-slack-fail-post-step
      - build_and_push:
          requires:
          - lint_checks
          <<: *generic-slack-fail-post-step
      - unit_tests:
          requires:
            - lint_checks
          <<: *generic-slack-fail-post-step
      - integration_tests:
          requires:
            - lint_checks
          <<: *generic-slack-fail-post-step
      - deploy_main_uat:
          context: laa-apply-for-legalaid-uat
          requires:
            - integration_tests
            - unit_tests
            - build_and_push
          <<: *generic-slack-fail-post-step
      - deploy_staging:
          context: laa-apply-for-legalaid-staging
          requires:
            - integration_tests
            - unit_tests
            - build_and_push
          <<: *generic-slack-fail-post-step
      - slack/on-hold:
          custom: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "plain_text",
                    "text": ":circleci: $CIRCLE_USERNAME has a pending production approval for $CIRCLE_BRANCH"
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Project*: $CIRCLE_PROJECT_REPONAME"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Pull Request*: $CIRCLE_PULL_REQUEST"
                    }
                  ]
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "View Workflow"
                      },
                      "url": "https://circleci.com/workflow-run/${CIRCLE_WORKFLOW_ID}"
                    }
                  ]
                }
              ]
            }
          requires:
            - deploy_main_uat
            - deploy_staging
      - hold_production:
          type: approval
          requires:
            - deploy_main_uat
            - deploy_staging
      - deploy_production:
          context: laa-apply-for-legalaid-production
          requires:
            - hold_production
          <<: *generic-slack-fail-post-step
