<%= page_template(
      page_title: t(".page_title"),
      head_title: t(".no_cfe_assessment"),
      template: :basic,
      column_width: :full,
    ) do %>

  <div class="interruption-panel">
    <%= render @result_partial %>
  </div>

  <div class="govuk-!-padding-bottom-6"></div>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_no_eligibility_assessment_path(@legal_aid_application),
        method: :patch,
        show_draft: true,
        continue_button_text: t(".continue_button"),
      ) %>
<% end %>
