<table class="govuk-table">
<!--  <caption class="govuk-table__caption">Dates and amounts</caption>-->
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">File name</th>
    <th class="govuk-table__header" scope="col">Size</th>
    <th class="govuk-table__header" scope="col">Status</th>
    <th class="govuk-table__header" scope="col">Action</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">

  <% original_files.order(:created_at).each do |file| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= file.filename %></td>
      <td class="govuk-table__cell no-wrap"><%= number_to_human_size(file.blob.byte_size) %></td>
      <td class="govuk-table__cell"><span class="govuk-tag">Uploaded</span></td>
      <td class="govuk-table__cell">Delete</td>
    </tr>

  <% end %>
  </tbody>
</table>
