

<% proceedings.each_with_index do |proceeding, idx| %>
  <section class="print-no-break">

    <%#
      Print the heading WITHIN the print-no-break section BUT only for first proceedng.
      This is so that the overall heading is kept on the same page as the first
      proceeding card, at least, but that we do not force subsequent cards to be on the
      same page.
    %>
    <% if idx == 0 %>
      <h2 class="govuk-heading-m"><%= t ".heading" %></h2>
    <% end %>

    <% if proceeding.used_delegated_functions? %>

      <%= govuk_summary_card(title: proceeding.meaning,
                             heading_level: 3,
                             html_attributes: { id: "app-check-your-answers__delegated_functions__#{proceeding.name}" }) do |card|
            card.with_summary_list(actions: false, html_attributes: { id: "app-check-your-answers__delegated_functions__#{proceeding.name}__summary" }) do |summary_list|
              summary_list.with_row(html_attributes: { id: "app-check-your-answers__used_delegated_functions_reported_on__#{proceeding.name}" }) do |row|
                row.with_key(text: t(".delegated_functions.reported_on"), classes: "govuk-!-width-one-third")
                row.with_value(text: proceeding.used_delegated_functions_reported_on)
              end

              summary_list.with_row(html_attributes: { id: "app-check-your-answers__used_delegated_functions_on__#{proceeding.name}" }) do |row|
                row.with_key(text: t(".delegated_functions.used_on"))
                row.with_value(text: proceeding.used_delegated_functions_on)
              end

              summary_list.with_row(html_attributes: { id: "app-check-your-answers__delegated_functions_days_to_report__#{proceeding.name}" }) do |row|
                row.with_key(text: t(".delegated_functions.days_to_report"))
                row.with_value(text: distance_of_time_in_words(proceeding.used_delegated_functions_reported_on, proceeding.used_delegated_functions_on))
              end
            end
          end %>

    <% else %>

      <%= govuk_summary_card(title: proceeding.meaning,
                             heading_level: 3,
                             html_attributes: { id: "app-check-your-answers__delegated_functions__#{proceeding.name}" }) do |card|
            card.with_summary_list(actions: false, html_attributes: { id: "app-check-your-answers__delegated_functions" }) do |summary_list|
              summary_list.with_row(html_attributes: { id: "app-check-your-answers__used_delegated_functions_on__#{proceeding.name}" }) do |row|
                row.with_value(text: t(".delegated_functions.not_used"), classes: "govuk-!-width-full")
              end
            end
          end %>

    <% end %>
  </section>
<% end %>
