
<section class="print-no-break">
  <h2 class="govuk-heading-m"><%= t(".heading") %></h2>

  <%= govuk_summary_card(title: t(".card_title"),
                         heading_level: 3,
                         html_attributes: { id: "app-check-your-answers__proceeding_details__card" }) do |card|
        card.with_summary_list(actions: false, html_attributes: { id: "app-check-your-answers__proceeding_details__summary" }) do |summary_list|
          legal_aid_application.proceedings_by_name.each_with_index do |proceeding, i|
            summary_list.with_row(classes: "app-check-your-answers__#{proceeding.name}__row") do |row|
              row.with_key(text: "#{t('.proceeding_details.proceeding')} #{i + 1}", classes: "govuk-!-width-one-third")
              row.with_value { proceeding.meaning }
            end
          end
        end
      end %>
</section>
