---
http_interactions:
- request:
    method: get
    uri: https://api.geckoboard.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZjU5YzVmMTI5YmU4MTNjMzA0ZGVkYzk3OTc5MmMwOTE6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Instance-Id:
      - i-012ea96ced5161506
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Wed, 12 Feb 2020 14:15:33 GMT
- request:
    method: put
    uri: https://api.geckoboard.com/datasets/apply_for_legal_aid.test.number_provider_firms
    body:
      encoding: UTF-8
      string: '{"fields":{"number":{"name":"Firms","optional":false,"type":"number"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZjU5YzVmMTI5YmU4MTNjMzA0ZGVkYzk3OTc5MmMwOTE6
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
      X-Instance-Id:
      - i-0959545e1516cafbb
    body:
      encoding: UTF-8
      string: '{"error":{"message":"You have exceeded the API rate limit of 60 requests
        per minute. Try sending data less frequently"}}'
  recorded_at: Wed, 12 Feb 2020 14:15:33 GMT
recorded_with: VCR 5.0.0
