<div class="interruption-panel">
  <%= page_template(page_title: t(".tab_title"), column_width: :full, template: :basic) do %>
    <h1 class="govuk-heading-m govuk-!-padding-bottom-4">
      <%= t(".title") %>
    </h1>

    <%= next_action_buttons_with_form(
          url: providers_legal_aid_application_no_national_insurance_number_path,
          method: :patch,
          show_draft: true,
          inverse_continue: true,
          continue_button_text: t("generic.continue"),
        ) %>
  <% end %>
</div>
