<%= page_template(page_title: t(".tab_title"), template: :basic, column_width: "full") do %>
  <% interruption_card(heading: t(".title"), actions: -> { render "actions" }) do %>
    <p><%= t(".body") %></p>
  <% end %>
<% end %>
