---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/searches
    body:
      encoding: UTF-8
      string: '{"search_term":"harassment"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"04ac63de62fb76c08c56ed0d9b33975a"
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"meaning":"Harassment - injunction","ccms_code":"DA003","description":"to
        be represented in an action for an injunction under section 3 Protection from
        Harassment Act 1997.","ccms_category_law":"Family","ccms_matter":"Domestic
        abuse"},{"meaning":"Variation or discharge under section 5 protection from
        harassment act 1997","ccms_code":"DA002","description":"to be represented
        on an application to vary or discharge an order under section 5 Protection
        from Harassment Act 1997 where the parties are associated persons (as defined
        by Part IV Family Law Act 1996).","ccms_category_law":"Family","ccms_matter":"Domestic
        abuse"},{"meaning":"Non-molestation order","ccms_code":"DA004","description":"to
        be represented on an application for a non-molestation order.","ccms_category_law":"Family","ccms_matter":"Domestic
        abuse"}]}'
  recorded_at: Wed, 13 Oct 2021 10:21:25 GMT
recorded_with: VCR 6.0.0
