<% content_for :navigation do %>
  <%= link_to t('generic.back'), back_path, class: 'govuk-back-link', id: 'back' %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.heading_1') %></h1>
      <%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>
      <%= render 'shared/forms/shared_ownership_form', form_path: citizens_shared_ownership_path, journey_path: 'providers' %>
    </h1>
  </div>
</div>
