<h2 class="govuk-heading-l"><%= t(".heading") %></h2>

<% @legal_aid_application.applicant.bank_accounts.each_with_index do |account, index| %>
  <%= govuk_summary_card(title: t(".account", index: index + 1)) do |card|
        card.with_summary_list(actions: false) do |summary_list|
          summary_list.with_row do |row|
            row.with_key { t(".bank") }
            row.with_value { account.bank_provider.name }
          end
          summary_list.with_row do |row|
            row.with_key { t(".account_number") }
            row.with_value { account.account_number }
          end
          summary_list.with_row do |row|
            row.with_key { t(".sort_code") }
            row.with_value { account.sort_code }
          end
          summary_list.with_row do |row|
            row.with_key { t(".balance") }
            row.with_value { value_with_currency_unit(account.balance, account.currency) }
          end
        end
      end %>
<% end %>

<div class="govuk-body govuk-!-padding-bottom-4">
  <%= govuk_link_to t(".link_other_account"), citizens_banks_path %>
</div>
