<h2 class="govuk-heading-m"><%= t '.student_finance' %></h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <%= check_answer_link(
          name: :student_finance,
          url: citizens_student_finance_path,
          question: t('.do_you_get'),
          answer: yes_no(@legal_aid_application.receives_student_finance?),
          read_only: false,
      ) %>

  <%= check_answer_link(
          name: :student_finance_annual_amount,
          url: citizens_student_finances_annual_amount_path,
          question: t('.how_much'),
          answer: gds_number_to_currency(@legal_aid_application.value_of_student_finance),
          read_only: false,
      ) if @legal_aid_application.receives_student_finance? %>
</dl>
