<%= page_template(
      page_title: t('.h1-heading'),
      back_link: {
        path: reset_citizens_check_answers_path,
        method: :patch
      }
    ) do %>

  <h2 class="govuk-heading-m">
    <%= t('.assets.heading') %>
  </h2>

  <%= render 'shared/check_answers/assets' %>

  <%= next_action_buttons_with_form(
        url: continue_citizens_check_answers_path,
        method: :patch
      ) %>
<% end %>
