---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/civil_merits_questions
    body:
      encoding: UTF-8
      string: '{"request_id":"6a408691-aa40-4a3a-9e15-295c68bf07fe","proceedings":[{"ccms_code":"DA001","delegated_functions_used":false,"client_involvement_type":"D"},{"ccms_code":"SE013","delegated_functions_used":false,"client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0fdcfcf74543f1453fc3b4bb4c54acfc"
    body:
      encoding: UTF-8
      string: '{"request_id":"6a408691-aa40-4a3a-9e15-295c68bf07fe","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_name":[],"opponent_mental_capacity":[],"domestic_abuse_summary":[],"statement_of_case":[],"client_denial_of_allegation":[],"client_offer_of_undertakings":[],"children_application":[]}},"proceedings":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}},{"ccms_code":"SE013","tasks":{"chances_of_success":[],"children_proceeding":["children_application"],"attempts_to_settle":[]}}]}'
  recorded_at: Wed, 19 Oct 2022 14:10:54 GMT
recorded_with: VCR 6.1.0
