---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"45799de4-2feb-4861-8eb1-a27e4adaf645","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e5ae84f14b5141c46245a4717e4de346"
    body:
      encoding: UTF-8
      string: '{"request_id":"45799de4-2feb-4861-8eb1-a27e4adaf645","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Mon, 13 Jun 2022 15:39:12 GMT
recorded_with: VCR 6.1.0
