---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"a9136ce0-534b-4b11-b165-1dd029be5885","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8bb3ff47117ad3f266a641c2b3b78ad9"
    body:
      encoding: UTF-8
      string: '{"request_id":"a9136ce0-534b-4b11-b165-1dd029be5885","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Mon, 13 Jun 2022 10:46:46 GMT
recorded_with: VCR 6.1.0
