---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"7598cc67-342a-47c1-b6a6-a9df7e8743c8","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b939354aef9c5b1d0a88ef9ce750862f"
    body:
      encoding: UTF-8
      string: '{"request_id":"7598cc67-342a-47c1-b6a6-a9df7e8743c8","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Wed, 20 Jul 2022 09:05:28 GMT
recorded_with: VCR 6.1.0
