---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"6fa1e742-1f44-409c-9d92-d72bab1dbe08","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18609370bd04b9e185ecdb5b434d41c7"
    body:
      encoding: UTF-8
      string: '{"request_id":"6fa1e742-1f44-409c-9d92-d72bab1dbe08","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Sat, 16 Jul 2022 15:59:44 GMT
recorded_with: VCR 6.1.0
