---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"f5d68314-1dff-41fa-ba78-8d07e0404349","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"844820137e088168f1ca2561d5c15c4b"
    body:
      encoding: UTF-8
      string: '{"request_id":"f5d68314-1dff-41fa-ba78-8d07e0404349","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Sat, 16 Jul 2022 15:59:48 GMT
recorded_with: VCR 6.1.0
