---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"6faf4421-bd3d-437e-a13c-324c415f4899","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a85fd1acc229a20bde4dd6aacbabf9c"
    body:
      encoding: UTF-8
      string: '{"request_id":"6faf4421-bd3d-437e-a13c-324c415f4899","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_name":[],"opponent_mental_capacity":[],"domestic_abuse_summary":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Wed, 20 Jul 2022 09:05:24 GMT
recorded_with: VCR 6.1.0
