---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"47276083-3a3e-4c9e-9f69-d0f33fb617fa","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ee009cbee390847df4b0fa3b6dae1c1d"
    body:
      encoding: UTF-8
      string: '{"request_id":"47276083-3a3e-4c9e-9f69-d0f33fb617fa","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Mon, 13 Jun 2022 15:49:44 GMT
recorded_with: VCR 6.1.0
