---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"8ad535e8-9160-43dd-82d9-187b9bb3212b","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a86340a1f36dcddfd5a0a258aad5f0a"
    body:
      encoding: UTF-8
      string: '{"request_id":"8ad535e8-9160-43dd-82d9-187b9bb3212b","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Mon, 13 Jun 2022 11:01:52 GMT
recorded_with: VCR 6.1.0
