---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"a5dac0af-e4b4-45d6-985b-6bb1ef6030af","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30c5fc1f19bd9dff1752f25518a1ddef"
    body:
      encoding: UTF-8
      string: '{"request_id":"a5dac0af-e4b4-45d6-985b-6bb1ef6030af","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_name":[],"opponent_mental_capacity":[],"domestic_abuse_summary":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Wed, 20 Jul 2022 09:05:20 GMT
recorded_with: VCR 6.1.0
