---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"26175c1f-339b-4e86-bd08-39969ee03908","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c4b930ab81fd30de03f395fab38fccf"
    body:
      encoding: UTF-8
      string: '{"request_id":"26175c1f-339b-4e86-bd08-39969ee03908","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Sat, 16 Jul 2022 15:59:45 GMT
recorded_with: VCR 6.1.0
