---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"b1f0f888-3f59-4913-aa64-f52ccbb2f08d","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3050c11009fa0e8e04f5ad9f48b8062"
    body:
      encoding: UTF-8
      string: '{"request_id":"b1f0f888-3f59-4913-aa64-f52ccbb2f08d","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Sat, 16 Jul 2022 15:59:49 GMT
recorded_with: VCR 6.1.0
