---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"c0806a76-cce0-440f-9f11-556d7de03c43","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f6afaa16e335b7d9412c190186b032b"
    body:
      encoding: UTF-8
      string: '{"request_id":"c0806a76-cce0-440f-9f11-556d7de03c43","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Mon, 13 Jun 2022 09:51:09 GMT
recorded_with: VCR 6.1.0
