apiVersion: batch/v1beta1
kind: CronJob
metadata:
  # NOTE The cronjob name must not exceed 25 characters so that when appended to the release name
  # it doesn't exceed the limit of 52 characters
  name: {{ .Release.Name |" trunc 26 }}-total-submitted-applics
  labels:
    app: {{ template "apply-for-legal-aid.name" . }}
    chart: {{ template "apply-for-legal-aid.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  schedule: '*/10 * * * *'
  selector:
    matchLabels:
      app: {{ template "apply-for-legal-aid.name" . }}
      release: {{ .Release.Name }}
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 0
  failedJobsHistoryLimit: 0
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: total-submitted-applics
            image: '{{ .Values.image.repository }}:{{ .Values.image.tag }}'
            imagePullPolicy: IfNotPresent
            command: ['rake', 'job:dashboard:update[TotalSubmittedApplications]']
  {{ include "apply-for-legal-aid.envs" . | nindent 12 }}
            resources:
              limits:
                cpu: 200m
                memory: 256Mi
              requests:
                cpu: 100m
                memory: 128Mi
            restartPolicy: Never
