apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "apply-for-legal-aid.fullname" . }}
  labels:
    app: {{ template "apply-for-legal-aid.name" . }}
    chart: {{ template "apply-for-legal-aid.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "apply-for-legal-aid.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "apply-for-legal-aid.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: clamav
          image: '926803513772.dkr.ecr.eu-west-1.amazonaws.com/laa-apply-for-legal-aid/clamav:1.0.0'
          imagePullPolicy: IfNotPresent
          ports:
            - name: clamav
              containerPort: 3310
              protocol: TCP
          resources:
{{ toYaml .Values.clamav.resources | indent 12 }}
        - name: {{ .Chart.Name }}
          image: '{{ .Values.image.repository }}:{{ .Values.image.tag }}'
          imagePullPolicy: IfNotPresent
{{ include "apply-for-legal-aid.envs" . | nindent 10 }}
          ports:
            - name: http
              containerPort: 3002
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /status.json
              port: http
            initialDelaySeconds: 60
          readinessProbe:
            httpGet:
              path: /status.json
              port: http
            initialDelaySeconds: 60
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
