apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "apply-for-legal-aid.fullname" . }}-metrics
  labels:
    app: {{ template "apply-for-legal-aid.name" . }}
    chart: {{ template "apply-for-legal-aid.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 100%
  selector:
    matchLabels:
      service: {{ template "apply-for-legal-aid.fullname" . }}-metrics
  template:
    metadata:
      labels:
        app: {{ template "apply-for-legal-aid.name" . }}
        release: {{ .Release.Name }}
        service: {{ template "apply-for-legal-aid.fullname" . }}-metrics
    spec:
      serviceAccountName: "{{ .Values.service_account.name }}"
      containers:
        - name: metrics
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          command: ['sh', '-c', 'bundle exec prometheus_exporter -b 0.0.0.0 -a app/lib/prometheus_collectors/collectors.rb']
          ports:
          - containerPort: 9394
          livenessProbe:
            httpGet:
              path: /metrics
              port: 9394
            initialDelaySeconds: 10
            periodSeconds: 60
          readinessProbe:
            httpGet:
              path: /metrics
              port: 9394
            initialDelaySeconds: 10
            periodSeconds: 60
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 10m
              memory: 512Mi
          securityContext:
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop: [ "ALL" ]
