---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_type_scopes
    body:
      encoding: UTF-8
      string: '{"proceeding_type_ccms_code":"SE013","delegated_functions_used":false,"client_involvement_type":"A","level_of_service_code":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd1a5c6d808d308caf15f1939fad58b1"
    body:
      encoding: UTF-8
      string: '{"success":true,"requested_params":{"proceeding_type_ccms_code":"SE013","delegated_functions_used":false,"client_involvement_type":"A","level_of_service_code":1},"level_of_service":{"level":1,"name":"Family
        Help (Higher)","stage":1,"scope_limitations":[{"code":"FM007","meaning":"Blood
        Tests or DNA Tests","description":"Limited to all steps up to and including
        the obtaining of blood tests or DNA tests and thereafter a solicitor''s report.","additional_params":[]},{"code":"FM004","meaning":"CAFCASS
        report","description":"Limited to all steps up to and including the Children
        and Family Reporter''s Report and thereafter a solicitor''s report.","additional_params":[]},{"code":"CV079","meaning":"Counsel''s
        Opinion","description":"Limited to obtaining external Counsel''s Opinion or
        the opinion of an external solicitor with higher court advocacy rights on
        the information already available.","additional_params":[{"name":"hearing_date","type":"date","mandatory":true}]},{"code":"FM019","meaning":"Exchange
        of Evidence","description":"Limited to all steps up to and including the exchange
        of evidence (including any welfare officer''s/guardian ad litem''s report)
        and directions appointments but not including a final contested hearing and
        thereafter to a solicitors report (or if so advised a Counsel''s opinion)
        on the issues and prospects of success.","additional_params":[]},{"code":"FM059","meaning":"FHH
        Child[...]
