<h1 class="govuk-heading-xl">Existing application</h1>

<h2 class="govuk-heading-m">Search text</h2>
<p class="govuk-body"><%= @search_text %></p>

<h2 class="govuk-heading-m">Retrieved info</h2>
<p class="govuk-body"><%= @body %></p>
