<%= page_template page_title: t('.page_title'), back_link: :none do %>
  <p class="govuk-body">
    <%= t('.check_inbox') %>
  </p>
  <p class="govuk-body">
    <%= t('.valid_until') %>
  </p>
<% end %>
