---
http_interactions:
- request:
    method: get
    uri: https://auth.truelayer.com/api/providers/oauth/openbanking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"provider_id":"ob-monzo","display_name":"Monzo","country":"uk","logo_url":"https://truelayer-provider-assets.s3.amazonaws.com/global/logos/monzo.svg","scopes":["direct_debits","standing_orders","accounts","balance","info","transactions","offline_access"]},{"provider_id":"ob-barclays","display_name":"Barclays","country":"uk","logo_url":"https://truelayer-provider-assets.s3.amazonaws.com/global/logos/barclays.svg","scopes":["accounts","balance","cards","direct_debits","standing_orders","transactions","offline_access","info"]},{"provider_id":"ob-barclays-business","display_name":"Barclays
        Business","country":"uk","logo_url":"https://truelayer-pro[...]
- request:
    method: get
    uri: https://auth.truelayer.com/api/providers/oauth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"provider_id":"oauth-starling","display_name":"Starling","country":"uk","logo_url":"https://truelayer-provider-assets.s3.amazonaws.com/global/logos/starling.svg","scopes":["accounts","balance","info","transactions","offline_access"]}]'
  recorded_at: Tue, 19 May 2020 11:41:25 GMT
recorded_with: VCR 5.1.0
