---
http_interactions:
- request:
    method: get
    uri: https://auth.truelayer.com/api/providers/oauth/openbanking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Tl-Correlation-Id:
      - dfd4d027-a396-43fa-98dd-a86d1a3297e4
      Tl-Mix-1:
      - e30=
    body:
      encoding: ASCII-8BIT
      string: '[{"provider_id":"ob-revolut-it","display_name":"Revolut","country":"it","logo_url":"https://providers-assets.truelayer.com/ob-revolut-it/logo.svg","scopes":["info","accounts","balance","transactions","direct_debits","standing_orders","offline_access"],"provider_scope_mappings":{"info":["accounts","info"],"accounts":["accounts"],"balance":["accounts","balance"],"transactions":["accounts","transactions"],"cards":["info","cards"],"offline_access":["offline_access"],"direct_debits":["accounts","direct_debits"],"standing_orders":["accounts","standing_orders"],"beneficiaries":["accounts","beneficiaries"],"scheduled_payments":["scheduled_payments"],"info_name":["accounts","info_name"],"info_date_of_birth":["accounts","info_date_of_birth"],"info_addresses":["accounts","info_addresses"],"info_phone_numbers":["accounts","info_phone_numbers"],"info_email_addresses":["accounts","info_email_addresses"]}},{"provider_id":"ob-virgin-money","display_name":"Virgin
        Money","country":"uk","logo_url":"https://providers-assets.truelayer.com/ob-virgin-money/logo.svg","scopes":["info","accounts","balance","transactions","cards","direct_debits","standing_orders","offline_access"],"provider_scope_mappings":{"info":["accounts","info"],"accounts":["accounts"],"balance":["accounts","balance"],"transactions":["accounts","transactions"],"cards":["info","cards"],"offlin[...]
- request:
    method: get
    uri: https://auth.truelayer.com/api/providers/oauth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Tl-Correlation-Id:
      - eb813249-a6d9-4bed-8223-15fb7cf68803
      Tl-Mix-1:
      - e30=
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 31 Jan 2025 13:10:48 GMT
recorded_with: VCR 6.3.1
