<% if irregular_incomes.any? %>
  <section>
    <div class="govuk-!-padding-bottom-6"></div>
    <section class="print-no-break">
      <table class="govuk-table" style="margin-bottom: 15px;">
        <caption class="govuk-table__caption" style="padding-bottom:10px;">
          <%= t('date.date_period', from: period.first, to: period.last) %>
        </caption>
        <tbody class="govuk-table__body">
          <% irregular_incomes.each do |irregular_income| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= irregular_income.label %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <%= gds_number_to_currency irregular_income.amount %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </section>
  </section>
<% end %>
