<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t('.apply_ref') %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= legal_aid_application.application_ref %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t('.ccms_ref_html') %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= legal_aid_application.case_ccms_reference %>
    </dd>
  </div>
</dl>
