<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <%= check_answer_link(
        name: :restrictions,
        url: check_answer_url_for(user_type, :restrictions, application),
        question: t(".#{user_type}.question"),
        answer: yes_no(application.has_restrictions),
        no_border: application.has_restrictions?
      ) %>

  <% if application.has_restrictions %>
    <div class="govuk-summary-list__row normal-word-break summary-list-details">
      <dt class="govuk-visually-hidden">
        <%= t(".#{user_type}.details") %>
      </dt>
      <dd class="govuk-body wrap-text govuk-!-margin-bottom-0 govuk-!-margin-left-0">
        <%= simple_format application.restrictions_details %>
      </dd>
    </div>
  <% end %>
</dl>
