<div class="govuk-error-summary" id="error_explanation" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    <%= t('generic.errors.problem_text') %>
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <% if @error.is_a? String %>
        <li>
          <%= link_to_accessible @error, "#correct" %>
        </li>
      <% else %>
        <li>
          <%= link_to_accessible @error.values.first, "##{@error.keys.first}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
