<div class="govuk-error-summary" id="error_explanation" tabindex="-1" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      <%= t("generic.errors.problem_text") %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% if @error.is_a? String %>
          <li>
            <%= govuk_link_to @error, "#correct" %>
          </li>
        <% else %>
          <li>
            <%= govuk_link_to @error.values.first, "##{@error.keys.first}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
