<h2 class="govuk-heading-m"><%= t(".restrictions") %></h2>

<p class="govuk-body">
  <% if @legal_aid_application.has_restrictions? %>
    <%= @legal_aid_application.restrictions_details %>
  <% else %>
    <%= t(".none") %>
  <% end %>
</p>
