<tr style="border-top: 2px solid #000">
  <th scope="row" class="govuk-table__header">
    <%= caption %>
  </th>
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <b><%= value %></b>
  </td>
</tr>
