<ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
  <li class="govuk-header__navigation-item">
    <%= button = button_to_accessible(
        t('layouts.login'),
        providers_legal_aid_applications_path,
        class: 'button-as-link govuk-header__link'
    ) %>
  </li>
</ul>
