<% if attachments.empty? %>
  <p class="govuk-body govuk-!-padding-bottom-4">
     <%= t(".no_files") %>
  </p>
<% else %>
  <%= form_with(
        model: @form,
        url:,
        method: :delete,
        local: true,
        html: { id: "file-delete-form" },
      ) do |form| %>

    <%= govuk_table(html_attributes: { hidden: attachments.empty? }) do |table|
          table.with_caption(html_attributes: { class: "govuk-visually-hidden" }, text: t(".title"))

          table.with_head do |head|
            head.with_row do |row|
              row.with_cell(text: t(".filename"))
              row.with_cell(text: t(".status"))
              row.with_cell(text: t(".action"))
            end
          end

          table.with_body do |body|
            attachments.order(:created_at).each do |attachment|
              body.with_row do |row|
                row.with_cell(text: attachment.document.filename)
                row.with_cell(text: govuk_tag(text: t(".uploaded")))
                row.with_cell do
                  govuk_button_to(
                    t(".delete"),
                    url,
                    method: :delete,
                    class: "button-as-link",
                    params: { attachment_id: attachment.id },
                    suffix: attachment.document.filename,
                  )
                end
              end
            end
          end
        end %>
  <% end %>
<% end %>
