<%= page_template(page_title: t(".title_html"), head_title: t(".head_title"), template: :basic, column_width: "full") do %>
  <%= interruption_card(heading: t(".title_html"), actions: -> { render "shared/use_ccms_actions" }) do %>
    <p><%= body_text %></p>

    <%= govuk_list(list, type: :bullet) if local_assigns[:list] %>
  <% end %>
<% end %>
