<% failed_transactions_retrieval = locals[:failed_transactions_retrieval] || nil %>
<% error_description = locals[:error_description] || nil %>

<%= page_template page_title: failed_transactions_retrieval, column_width: :full do %>
  <div class="govuk-error-summary" tabindex="-1" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        <%= failed_transactions_retrieval %>: <%= error_description %>
      </h2>
    </div>
  </div>
  <span role="status" id="error"></span>
<% end %>
