<%
heading = locals[:heading] || nil
intro_text = locals[:intro_text] || nil
balance_text = locals[:balance_text] || nil
continue_text = locals[:continue_text] || nil
%>

<%= page_template page_title: heading do %>
  <p>
    <%= intro_text %>
  </p>
  <p>
    <%= balance_text %>
  </p>
  <div class="govuk-!-padding-top-3">
    <%= next_action_link(continue_text: continue_text) %>
  </div>
  <span role="status" id="complete"></span>
<% end %>
