<% heading = locals[:heading] || nil %>
<% intro_text = locals[:intro_text] || nil %>
<% balance_text = locals[:balance_text] || nil %>
<% continue_text = locals[:continue_text] || nil %>

<%= page_template page_title: heading do %>
  <p class="govuk-body"><%= intro_text %></p>
  <p class="govuk-body"><%= balance_text %></p>

  <%= govuk_button_link_to(continue_text, forward_path) %>

  <span role="status" id="complete"></span>
<% end %>
