<p><%= t(".line_1") %></p>
<%= govuk_list t(".details",
                 capital_contribution: gds_number_to_currency(@cfe_result.capital_contribution),
                 income_contribution: gds_number_to_currency(@cfe_result.income_contribution)),
               type: :bullet %>

<p><%= t(".line_2") %></p>
