<h1 class="govuk-heading-l moj-interruption-card__heading">
  <%= t(".heading", name: @legal_aid_application.applicant_full_name) %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% t(".details").each do |detail| %>
      <p class="govuk-body moj-interruption-card__body"><%= detail %></p>
    <% end %>
  </div>
</div>
