<h1 class="govuk-heading-l">
  <%= t('.heading', name: @legal_aid_application.applicant_full_name) %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t('.detail') %></p>
  </div>
</div>
