<h1 class="govuk-heading-l">
  <%= t('.heading') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t('.cannot_calculate') %></p>
    <p class="govuk-body"><%= t('.caseworker_check') %></p>
    <p class="govuk-body"><%= t('.continue') %></p>
  </div>
</div>
