<h1 class="govuk-heading-l moj-interruption-card__heading">
  <%= t(".heading") %>
</h1>

<p class="govuk-body moj-interruption-card__body"><%= t(".cannot_calculate") %></p>
<p class="govuk-body moj-interruption-card__body"><%= t(".caseworker_check") %></p>
<p class="govuk-body moj-interruption-card__body"><%= t(".continue") %></p>
