---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"1ad50d58-ab76-4583-8c31-258d7c8304a4","personalisation":{"application_url":"http://www.example.com/citizens/legal_aid_applications/3fb45c13-b3ec-4a87-abb2-1362c5483d28?locale=en","client_name":"John
        Doe","provider_firm":"Vandervort, Crona and Bechtelar","ref_number":"L-LF7-0KL","expiry_date":"9
        March 2021"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJjZjgxNmEzNC1mMmJkLTQxMjItOTQ0ZS00YjY4MjhhM2UzNTIiLCJpYXQiOjE2MTQ3MDQ1NTl9.23situ-0EOJVvPfWf-PWRWkPDNn0tm8lBSWxwgKy6Og
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 8c721e86-7a89-42b7-6d06-7129bfab534f
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Your legal aid application\r\n\r\nDear John Doe,\r\n\r\nYour
        solicitor at Vandervort, Crona and Bechtelar has started your legal aid application
        with the Legal Aid Agency (LAA).\r\n\r\nYour case reference is L-LF7-0KL.\r\n\r\n#
        What is the LAA?\r\n \r\nWe are a government body providing civil and criminal
        legal aid and advice to help people deal with their legal problems.\r\n \r\n#
        What happens next\r\n\r\nWe need to check if you qualify financi[...]
