---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"570e1b9d-6238-45fd-b75c-96f2f39db8e9","personalisation":{"application_url":"http://www.example.com/citizens/legal_aid_applications/2049a858-ba8b-43bd-b613-03ca6da157c9","client_name":"John
        Doe","ref_number":"L-YKU-YJ9"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxNTh9.qFSXWroZCEuFS_-S3u2R7cqjeJ8TALyvd7QTsK1VtH4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 6cf69047-ad73-41a2-45c2-07d93bfa04dc
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Complete your legal aid financial assessment\r\n\r\nDear
        John Doe,\r\n \r\n^ Legal Aid Agency case reference: L-YKU-YJ9\r\n\r\nYou
        need to answer questions about your financial situation as part of your legal
        aid application.\r\n\r\nYou might not have to pay legal costs if you are on
        certain benefits, a low income or have little or no savings.\r\n\r\n# What
        you need to do\r\n \r\nSign in securely to your online banking and allow temporary
        access to your bank accounts.\r\n\r\nWe\u2019ll download 3 months of bank
        statements to support your legal aid application. We will not use the information
        for anything else.\r\n\r\n# Start your financial assessment now\r\n http://www.example.com/citizens/legal_aid_applications/2049a858-ba8b-43bd-b613-03ca6da157c9\r\n\r\nThis
        link will only remain active for 7 days for security reasons.\r\n\r\nFrom
        the Legal Aid Agency\r\n\r\nThis message is automatically generated; please
        do not reply to this email.","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Complete
        your legal aid financial assessment"},"id":"2c74dfd0-32a4-463e-862a-b1546b69a19a","reference":null,"scheduled_for":null,"template":{"id":"570e1b9d-6238-45fd-b75c-96f2f39db8e9","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/570e1b9d-6238-45fd-b75c-96f2f39db8e9","version":3},"uri":"https://api.notifications.service.gov.uk/v2/notifications/2c74dfd0-32a4-463e-862a-b1546b69a19a"}

        '
  recorded_at: Mon, 10 Jun 2019 10:39:19 GMT
recorded_with: VCR 5.0.0
