---
http_interactions:
- request:
    method: post
    uri: https://uat.laa-benefit-checker.service.justice.gov.uk/lsx/lsc-services/benefitChecker?wsdl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"> <env:Body><wsdl:check>
        <clientReference>df56670b-aecf-49cc-8f1b-1c410cace3c5</clientReference> <nino>JA293483A</nino>
        <surname>WALKER</surname> <dateOfBirth>19800110</dateOfBirth> <dateOfAward>20220719</dateOfAward>
        <lscServiceName><BC_LSC_SERVICE_NAME></lscServiceName> <clientOrgId><BC_CLIENT_ORG_ID></clientOrgId>
        <clientUserId><BC_CLIENT_USER_ID></clientUserId> </wsdl:check></env:Body></env:Envelope>
    headers:
      Soapaction:
      - "#POST"
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><benefitCheckerResponse
        xmlns="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"><ns1:originalClientRef
        xmlns:ns1="http://lsc.gov.uk/benefitchecker/data/1.0">df56670b-aecf-49cc-8f1b-1c410cace3c5</ns1:originalClientRef><ns2:benefitCheckerStatus
        xmlns:ns2="http://lsc.gov.uk/benefitchecker/data/1.0">Yes</ns2:benefitCheckerStatus><ns3:confirmationRef
        xmlns:ns3="http://lsc.gov.uk/benefitchecker/data/1.0">T1765875076825</ns3:confirmationRef></benefitCheckerResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Tue, 16 Dec 2025 08:51:16 GMT
recorded_with: VCR 6.3.1
