  <% content_for :navigation do %>
    <!-- no nav needed here -->
  <% end %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply for Legal Aid</h1>
      <p class="govuk-body">Welcome Home</p>

    </div>
  </div>

