<%= page_template(template: :basic, column_width: "full") do %>
  <%= interruption_card(heading: t(".title")) do %>
    <p class="govuk-body moj-interruption-card__body"><%= t(".they_will_check") %></p>
  <% end %>
<% end %>
