<%= page_template(template: :basic, column_width: "full") do %>
  <%= render MojComponent::InterruptionCardComponent.new(heading: t(".title")) do |card| %>
    <% card.with_body do %>
      <p><%= t(".they_will_check") %></p>
    <% end %>
  <% end %>
<% end %>
