<%= form_with(
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      model: @form,
      url: form_path,
      method: :patch,
      local: true
    ) do |form| %>

  <%= form.govuk_fieldset legend: { size: 'xl', text: page_title }  do %>
    <%= form.govuk_text_field(
            :estimated_value,
            value: number_to_currency_or_original_string(@form.model.estimated_value),
            label: {text: :estimated_value, hidden: true},
            hint: {text: t('.use_car_valuation_sites')},
            width: 'one-third',
            prefix_text: '£'
        ) %>
  <% end %>

  <div class="govuk-!-padding-bottom-4"></div>

  <%= next_action_buttons(
        show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
        form: form
      ) %>
<% end %>
