<%= form_with(model: model, url: url, method: :patch, local: true) do |form| %>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
      <div class="govuk-checkboxes" data-module="checkboxes">
        <%= render partial: '/shared/forms/other_assets/second_home_conditional_checkbox', locals: { model: model, form: form } %>
        <%= render partial: '/shared/forms/revealing_checkbox/attribute',
                   collection: Citizens::OtherAssetsForm::SINGLE_VALUE_ATTRIBUTES,
                   locals: { model: model, form: form } %>
      </div>
    </fieldset>
  </div>

  <%= next_action_buttons(
        show_draft: local_assigns.key?(:show_draft) ? show_draft : false,
        form: form
      ) %>
<% end %>
