<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <%=  t(".#{scope}.#{name}") %>
  </th>
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <%= number_to_currency(@cfe_result.__send__(value_method)) %>
  </td>
</tr>
