<div class="govuk-summary-list__total-row  normal-word-break" id="<%= "means-merits-report__#{name}" %>">
  <dt class="govuk-summary-list__key govuk-!-width-one-half">
    <%= t(".#{name}") %>
  </dt>
  <dd class="govuk-summary-list__value align-text-right">
    <%= gds_number_to_currency(@cfe_result.__send__(value_method)) %>
  </dd>
</div>
