---
http_interactions:
- request:
    method: get
    uri: https://api.os.uk/search/places/v1/postcode?key=<ORDNANCE_SURVEY_API_KEY>&lr=EN&postcode=SW1A2AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Omse-Category:
      - premium
      Omse-Transaction-Count:
      - '60'
      Omse-Premium-Count:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"header\" : {\r\n    \"uri\" : \"https://api.os.uk/search/places/v1/postcode?lr=EN&postcode=SW1A2AA\",\r\n
        \   \"query\" : \"postcode=SW1A2AA\",\r\n    \"offset\" : 0,\r\n    \"totalresults\"
        : 1,\r\n    \"format\" : \"JSON\",\r\n    \"dataset\" : \"DPA\",\r\n    \"lr\"
        : \"EN\",\r\n    \"maxresults\" : 100,\r\n    \"epoch\" : \"100\",\r\n    \"lastupdate\"
        : \"2023-04-12\",\r\n    \"output_srs\" : \"EPSG:27700\"\r\n  },\r\n  \"results\"
        : [ {\r\n    \"DPA\" : {\r\n      \"UPRN\" : \"100023336956\",\r\n      \"UDPRN\"
        : \"23747771\",\r\n      \"ADDRESS\" : \"PRIME MINISTER & FIRST LORD OF THE
        TREASURY, 10, DOWNING STREET, LONDON, SW1A 2AA\",\r\n      \"ORGANISATION_NAME\"
        : \"PRIME MINISTER & FIRST LORD OF THE TREASURY\",\r\n      \"BUILDING_NUMBER\"
        : \"10\",\r\n      \"THOROUGHFARE_NAME\" : \"DOWNING STREET\",\r\n      \"POST_TOWN\"
        : \"LONDON\",\r\n      \"POSTCODE\" : \"SW1A 2AA\",\r\n      \"RPC\" : \"2\",\r\n
        \     \"X_COORDINATE\" : 530047.0,\r\n      \"Y_COORDINATE\" : 179951.0,\r\n
        \     \"STATUS\" : \"APPROVED\",\r\n      \"LOGICAL_STATUS_CODE\" : \"1\",\r\n
        \     \"CLASSIFICATION_CODE\" : \"RD04\",\r\n      \"CLASSIFICATION_CODE_DESCRIPTION\"
        : \"Terraced\",\r\n      \"LOCAL_CUSTODIAN_CODE\" : 5990,\r\n      \"LOCAL_CUSTODIAN_CODE_DESCRIPTION\"
        : \"CITY OF WESTMINSTER\",\r\n      \"COUNTRY_CODE\" : \"E\",\r\n      \"COUNTRY_CODE_DESCRIPTION\"
        : \"This record is within England\",\r\n      \"POSTAL_ADDRESS_CODE\" : \"D\",\r\n
        \     \"POSTAL_ADDRESS_CODE_DESCRIPTION\" : \"A record which is linked to
        PAF\",\r\n      \"BLPU_STATE_CODE\" : \"2\",\r\n      \"BLPU_STATE_CODE_DESCRIPTION\"
        : \"In use\",\r\n      \"TOPOGRAPHY_LAYER_TOID\" : \"osgb1000005572568\",\r\n
        \     \"LAST_UPDATE_DATE\" : \"24/11/2021\",\r\n      \"ENTRY_DATE\" : \"19/03/2001\",\r\n
        \     \"BLPU_STATE_DATE\" : \"19/03/2001\",\r\n      \"LANGUAGE\" : \"EN\",\r\n
        \     \"MATCH\" : 1.0,\r\n      \"MATCH_DESCRIPTION\" : \"EXACT\",\r\n      \"DELIVERY_POINT_SUFFIX\"
        : \"1A\"\r\n    }\r\n  } ]\r\n}"
  recorded_at: Thu, 13 Apr 2023 13:42:10 GMT
recorded_with: VCR 6.1.0
