<% if @legal_aid_application.copy_case? %>
  <% notification_banner_title = t("generic.important") %>
  <% notification_banner_text = t(".banner_text", application_ref: @legal_aid_application.lead_linked_application.lead_application.application_ref) %>
<% end %>

<%= page_template(
      page_title: t(".h1-heading"),
      back_link: { path: reset_providers_legal_aid_application_check_merits_answers_path(@legal_aid_application), method: :patch },
      notification_banner_title:,
      notification_banner_text:,
    ) do %>

  <%= render(
        "shared/check_answers/merits",
        incident: @legal_aid_application.latest_incident,
        statement_of_case: @legal_aid_application.statement_of_case,
        opponents: @legal_aid_application.opponents,
        parties_mental_capacity: @legal_aid_application.parties_mental_capacity,
        domestic_abuse_summary: @legal_aid_application.domestic_abuse_summary,
        gateway_evidence: @legal_aid_application&.gateway_evidence,
        allegation: @legal_aid_application&.allegation,
        undertaking: @legal_aid_application&.undertaking,
        urgency: @legal_aid_application&.urgency,
        read_only: false,
      ) %>
  <div class="govuk-!-padding-bottom-6"></div>

  <%= next_action_buttons_with_form(
        url: continue_providers_legal_aid_application_check_merits_answers_path(@legal_aid_application),
        method: :patch,
        show_draft: true,
      ) %>

<% end %>
