<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    <%= question %>
  </dt>
  <dd class="app-check-your-answers__answer">
    <%= answer %>
  </dd>
  <dd class="app-check-your-answers__change">
    <a href="#">
      Change<span class="govuk-visually-hidden"><%= question %></span>
    </a>
  </dd>
</div>
