---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-J03-WJB","submission_date":"2025-01-31","level_of_help":"certificated"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"2002-09-01","employed":true,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false},"capitals":{"bank_accounts":[{"description":"Current
        accounts","value":"754312.9"},{"description":"Online savings accounts","value":"259505.83"}],"non_liquid_capital":[{"description":"Timeshare
        property","value":"71522.71"},{"description":"Land","value":"880371.93"},{"description":"Any
        valuable items worth more than £500","value":"42770.38"},{"description":"Money
        or assets from the estate of a person who has died","value":"832133.92"},{"description":"Money
        owed to applicant","value":"284847.36"},{"description":"Interest in a trust","value":"956625.3"}]},"vehicles":[{"value":8527.0,"loan_amount_outstanding":618.0,"date_of_purchase":"2014-05-23","in_regular_use":true}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":769333.78,"outstanding_mortgage":848852.29,"percentage_owned":27.43,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":[]}],"dependants":[],"outgoings":[{"name":"child_care","payments":[{"payment_date":"2025-01-27","amount":527.49,"client_id":"5da6e24a-042b-41e6-acf3-0b0196178eae"}]}],"state_benefits":[],"other_incomes":[{"source":"Pension","payments":[{"date":"2024-12-24","amount":1089.71,"client_id":"d80fdd34-837a-44c1-a5c3-f07e1ff34e69"}]}],"irregular_incomes":{"payments":[]},"regular_transactions":[],"cash_transactions":{"income":[],"outgoings":[]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f587245c0b4e575aa5bcb6bb43baf3f7"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2025-01-31T16:15:55.949Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":4079090.33,"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required","client_involvement_type":"A"}]},"gross_income":{"total_gross_income":0.0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_gross_income":0.0},"disposable_income":{"dependant_allowance_under_16":0,"dependant_allowance_over_16":0,"dependant_allowance":0,"gross_housing_costs":0.0,"housing_costs":0.0,"housing_benefit":0.0,"net_housing_costs":0.0,"allowed_housing_costs":0.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":0.0,"total_disposable_income":0.0,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"prisoner_levy":0.0,"student_debt_repayment":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_disposable_income":0.0,"combined_total_outgoings_and_allowances":0.0,"partner_allowance":0,"lone_parent_allowance":0,"income_contribution":0.0},"capital":{"pensioner_disregard_applied":0.0,"total_liquid":1013818.73,"total_non_liquid":3068271.6,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":4082090.33,"subject_matter_of_dispute_disregard":0.0,"assessed_capital":4082090.33,"total_capital_with_smod":4082090.33,"disputed_non_property_disregard":0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required","client_involvement_type":"A"}],"combined_disputed_capital":0,"combined_non_disputed_capital":4082090.33,"capital_contribution":4079090.33,"pensioner_capital_disregard":0.0,"combined_assessed_capital":4082090.33}},"assessment":{"id":"4fbbb064-e7fd-472c-b78b-68433ecbfce9","client_reference_id":"L-J03-WJB","submission_date":"2025-01-31","level_of_help":"certificated","applicant":{"date_of_birth":"2002-09-01","involvement_type":"applicant","employed":true,"has_partner_opponent":false,"receives_qualifying_benefit":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Current
        accounts","value":754312.9},{"description":"Online savings accounts","value":259505.83}],"non_liquid":[{"description":"Timeshare
        property","value":71522.71},{"description":"Land","value":880371.93},{"description":"Any
        valuable items worth more than £500","value":42770.38},{"description":"Money
        or assets from the estate of a person who has died","value":832133.92},{"description":"Money
        owed to applicant","value":284847.36},{"description":"Interest in a trust","value":956625.3}],"vehicles":[{"value":8527.0,"loan_amount_outstanding":618.0,"date_of_purchase":"2014-05-23","in_regular_use":true,"included_in_assessment":false,"disregards_and_deductions":7909.0,"assessed_value":0.0}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0,"subject_matter_of_dispute":null},"additional_properties":[{"value":769333.78,"outstanding_mortgage":848852.29,"percentage_owned":27.43,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":848852.29,"net_value":-79518.51,"net_equity":-21811.93,"smod_allowance":0,"main_home_equity_disregard":-21811.93,"assessed_equity":0.0,"subject_matter_of_dispute":null}]}}},"remarks":{"client_other_income_payment":{"unknown_frequency":["d80fdd34-837a-44c1-a5c3-f07e1ff34e69"]},"client_current_account_balance":{"residual_balance":[]}}}}'
  recorded_at: Fri, 31 Jan 2025 16:15:55 GMT
recorded_with: VCR 6.3.1
