---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-013-AHW","submission_date":"2025-01-31","level_of_help":"certificated"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"2002-09-01","employed":true,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false},"capitals":{"bank_accounts":[{"description":"Current
        accounts","value":"-991419.66"},{"description":"Online savings accounts","value":"801301.78"}],"non_liquid_capital":[{"description":"Timeshare
        property","value":"485607.16"},{"description":"Land","value":"374672.51"},{"description":"Any
        valuable items worth more than £500","value":"483786.32"},{"description":"Money
        or assets from the estate of a person who has died","value":"222458.44"},{"description":"Money
        owed to applicant","value":"724182.11"},{"description":"Interest in a trust","value":"980724.69"}]},"vehicles":[{"value":6703.0,"loan_amount_outstanding":815.0,"date_of_purchase":"2005-07-08","in_regular_use":false}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":731053.42,"outstanding_mortgage":741823.01,"percentage_owned":21.72,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":[]}],"dependants":[],"outgoings":[{"name":"child_care","payments":[{"payment_date":"2024-12-09","amount":592.97,"client_id":"f8bb05b4-4f32-4be3-ab91-6636d0b8f01b"}]}],"state_benefits":[],"other_incomes":[{"source":"Pension","payments":[{"date":"2025-01-07","amount":863.63,"client_id":"0bdee5e8-dffe-4198-8749-1bc3db722052"}]}],"irregular_incomes":{"payments":[]},"regular_transactions":[],"cash_transactions":{"income":[],"outgoings":[]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8a7914c98a0acd37bc4bf82715970083"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2025-01-31T13:19:45.749Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":4076436.01,"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required","client_involvement_type":"A"}]},"gross_income":{"total_gross_income":0.0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_gross_income":0.0},"disposable_income":{"dependant_allowance_under_16":0,"dependant_allowance_over_16":0,"dependant_allowance":0,"gross_housing_costs":0.0,"housing_costs":0.0,"housing_benefit":0.0,"net_housing_costs":0.0,"allowed_housing_costs":0.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":0.0,"total_disposable_income":0.0,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"prisoner_levy":0.0,"student_debt_repayment":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_disposable_income":0.0,"combined_total_outgoings_and_allowances":0.0,"partner_allowance":0,"lone_parent_allowance":0,"income_contribution":0.0},"capital":{"pensioner_disregard_applied":0.0,"total_liquid":801301.78,"total_non_liquid":3271431.23,"total_vehicle":6703.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":4079436.01,"subject_matter_of_dispute_disregard":0.0,"assessed_capital":4079436.01,"total_capital_with_smod":4079436.01,"disputed_non_property_disregard":0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required","client_involvement_type":"A"}],"combined_disputed_capital":0,"combined_non_disputed_capital":4079436.01,"capital_contribution":4076436.01,"pensioner_capital_disregard":0.0,"combined_assessed_capital":4079436.01}},"assessment":{"id":"2f0b5727-fabb-41f5-8695-b7eec3e2c1a8","client_reference_id":"L-013-AHW","submission_date":"2025-01-31","level_of_help":"certificated","applicant":{"date_of_birth":"2002-09-01","involvement_type":"applicant","employed":true,"has_partner_opponent":false,"receives_qualifying_benefit":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Current
        accounts","value":-991419.66},{"description":"Online savings accounts","value":801301.78}],"non_liquid":[{"description":"Timeshare
        property","value":485607.16},{"description":"Land","value":374672.51},{"description":"Any
        valuable items worth more than £500","value":483786.32},{"description":"Money
        or assets from the estate of a person who has died","value":222458.44},{"description":"Money
        owed to applicant","value":724182.11},{"description":"Interest in a trust","value":980724.69}],"vehicles":[{"value":6703.0,"loan_amount_outstanding":815.0,"date_of_purchase":"2005-07-08","in_regular_use":false,"included_in_assessment":true,"disregards_and_deductions":-815.0,"assessed_value":6703.0}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0,"subject_matter_of_dispute":null},"additional_properties":[{"value":731053.42,"outstanding_mortgage":741823.01,"percentage_owned":21.72,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":741823.01,"net_value":-10769.59,"net_equity":-2339.15,"smod_allowance":0,"main_home_equity_disregard":-2339.15,"assessed_equity":0.0,"subject_matter_of_dispute":null}]}}},"remarks":{"client_other_income_payment":{"unknown_frequency":["0bdee5e8-dffe-4198-8749-1bc3db722052"]}}}}'
  recorded_at: Fri, 31 Jan 2025 13:19:45 GMT
recorded_with: VCR 6.3.1
