<%= provider_basic_page(
      page_title: t('.heading'),
      template: :basic
    ) do %>

  <%= form_with(
        model: @form,
        url: providers_legal_aid_application_online_banking_path(@legal_aid_application),
        method: :patch,
        local: true
      ) do |form| %>

    <%= form.govuk_collection_radio_buttons(:uses_online_banking, [true, false], title: t('.heading')) %>

    <div class="govuk-!-padding-bottom-6"></div>

    <%= form.submit t('generic.continue'), id: 'continue', class: 'govuk-button' %>
  <% end %>
<% end %>
