<%= page_template page_title: t(".title"), back_link: :none do %>
  <% t(".warning_html", online_support: govuk_link_to("Online Support", Rails.configuration.x.online_support, new_tab: true)).each do |line| %>
    <p class="govuk-body"><%= line %></p>
  <% end %>
<% end %>
