<%= page_template page_title: t(".title"), back_link: :none do %>
  <p class="govuk-body">
    <%= t(".warning", start: gds_human_time(Rails.configuration.x.business_hours.start.to_time),
                      end: gds_human_time(Rails.configuration.x.business_hours.end.to_time)) %>
  </p>
<% end %>
