---
http_interactions:
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/DA001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c6cea74ec5ea64cc582a7cfe74f24316"
    body:
      encoding: UTF-8
      string: '{"success":true,"ccms_code":"DA001","meaning":"Inherent jurisdiction
        high court injunction","ccms_category_law_code":"MAT","ccms_matter_code":"MINJN","name":"inherent_jurisdiction_high_court_injunction","description":"to
        be represented on an application for an injunction, order or declaration under
        the inherent jurisdiction of the court.","full_s8_only":false,"ccms_category_law":"Family","ccms_matter":"Domestic
        abuse","cost_limitations":{"substantive":{"start_date":"1970-01-01","value":"25000.0"},"delegated_functions":{"start_date":"2021-09-13","value":"2250.0"}},"default_scope_limitations":{"substantive":{"code":"AA019","meaning":"Injunction
        FLA-to final hearing","description":"As to proceedings under Part IV Family
        Law Act 1996 limited to all steps up to and including obtaining and serving
        a final order and in the event of breach leading to the exercise of a power
        of arrest to representation on the consideration of the breach by the court
        (but excluding applying for a warrant of arrest, if not attached, and representation
        in contempt proceedings)."},"delegated_functions":{"code":"CV117","meaning":"Interim
        order inc. return date","description":"Limited to all steps necessary to apply
        for an interim order; where application is made without notice to include
        representation on the return date."}},"service_levels":[{"level":3,"name":"Full
        Representation","stage":8,"proceeding_default":true}]}'
  recorded_at: Wed, 01 May 2024 07:52:44 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_type_defaults
    body:
      encoding: UTF-8
      string: '{"proceeding_type_ccms_code":"DA001","delegated_functions_used":true,"client_involvement_type":"A"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"394350725076183ab4ae0116449123c3"
    body:
      encoding: UTF-8
      string: '{"success":true,"requested_params":{"proceeding_type_ccms_code":"DA001","delegated_functions_used":true,"client_involvement_type":"A"},"default_level_of_service":{"level":3,"name":"Full
        Representation","stage":8},"default_scope":{"code":"CV117","meaning":"Interim
        order inc. return date","description":"Limited to all steps necessary to apply
        for an interim order; where application is made without notice to include
        representation on the return date.","additional_params":[]}}'
  recorded_at: Wed, 01 May 2024 07:52:44 GMT
recorded_with: VCR 6.2.0
