<%= page_template(page_title: t(".title_html"), template: :basic, column_width: "full") do %>
  <% interruption_card(heading: t(".title_html")) do %>
    <p class="govuk-body moj-interruption-card__body"><%= t(".paragraph") %></p>

    <div class="govuk-button-group moj-interruption-card__actions">
      <%= govuk_button_link_to t(".change"), providers_legal_aid_application_change_of_names_path, inverse: true, role: "button" %>
      <%= govuk_button_link_to t(".applications"), in_progress_providers_legal_aid_applications_path, inverse: true, role: "button" %>
    </div>
  <% end %>
<% end %>
