<%= page_template(page_title: t(".title_html"), template: :basic, column_width: "full") do %>
  <% interruption_card(heading: t(".title_html"), actions: -> { render "actions" }) do %>
    <p><%= t(".paragraph") %></p>
  <% end %>
<% end %>
