<%= page_template(
      page_title: t('.h1-heading'),
      back_link: { path: providers_legal_aid_application_capital_assessment_result_path(@legal_aid_application) }
    ) do %>
  <%= simple_format t('.do_merits_of_case_qualify') %>

  <%= list_from_translation_path '.start_chances_of_successes.show.do_merits_of_case_qualify_list' %>

  <div class="govuk-!-padding-bottom-4"></div>

  <%= next_action_buttons_with_form(
        url: providers_legal_aid_application_start_chances_of_success_path,
        method: :patch,
        show_draft: true,
        continue_button_text: t('generic.continue')
      ) %>
<% end %>
