<%= page_template(
      page_title: t(".page_title", result: t(".result.#{@capital_assessment_result}") ),
      template: :basic,
      column_width: :full
    ) do %>

  <div class="interruption-panel">
    <%= render @capital_assessment_result %>
  </div>
<% end %>
