<%= page_template(
      page_title: t(".page_title", result: t(".result.#{@cfe_result.assessment_result}") ),
      template: :basic,
      column_width: :full
    ) do %>

  <div class="interruption-panel">
    <%= render @result_partial %>
  </div>

  <%= render 'result_details' %>

  <br><br>

  <%= next_action_buttons_with_form(
          url: providers_legal_aid_application_capital_assessment_result_path(@legal_aid_application),
          method: :patch,
          show_draft: true
      ) %>
<% end %>
