/*
 * Project specific
 *
 * Everything below this comment should be project specific.
 * If you absolutely need to override gov.uk styles, don't,
 * instead create new classes or ids with a prefix based on the app name.
 */

@import 'admin';
@import 'bank-selection';
@import 'check-your-answers';
@import 'govuk-currency-input';
@import 'govuk-mods';
@import 'govuk-percent-input';
@import 'govuk-prefix-input';
@import 'govuk-secondary-button';
@import 'helpers';
@import 'interruption-panel';
@import 'language-switcher';
@import 'layout';
@import 'long-email-truncation';
@import 'moj-banner';
@import 'narrow-table-display';
@import 'no-wrap';
@import 'pagination';
@import 'print-styles';
@import 'submissions';
@import 'success-message';
@import 'table-category-column';
@import 'table-sort';
@import 'tags';
@import 'task-list';
@import 'tickbox-divider';
@import 'width-style-correction';
@import 'citizens/declarations';
@import 'citizens/spinner';
@import 'forms/revealing_checkboxes';
@import 'providers/legal_aid_applications';
@import 'providers/proceeding_types';
$govuk-new-link-styles: true;
@import 'govuk-frontend';
