/*
Used with:
  <div class="govuk-prefix-input">
    <div class="govuk-prefix-input__inner">
      <span class="govuk-prefix-input__inner__unit">£</span>
      <%= form.text_field :field_name, class: 'govuk-input govuk-prefix-input__inner__input' %>
    </div>
  </div>
*/
.govuk-prefix-input {
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__inner {
    position: relative;

    &__unit {
      position: absolute;
      bottom: 5px;
      left: 10px;
      font-size: 19px;
      font-weight: bold;
      line-height: 1.54;
    }

    &__input.govuk-input {
      padding-left: 26px;
    }
  }
}
