@import "~govuk-frontend/govuk/settings/all";
@import "~govuk-frontend/govuk/helpers/all";

.govuk-header {
  #navigation {
    line-height: 30px;

    a {
      margin-left: 1em;
      padding: 5px 0 6px;
    }
  }

  nav {
    @include govuk-media-query($from: desktop) {
      position: absolute;
      top: 7px;
      right: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
}

abbr[title] {
  text-decoration:none;
}
