.pagination-container {
  nav, .page-info {
    display: inline;
    line-height: 2em;
  }
  .page-info {
    float: right;
  }

  .pagy-nav .page {

    a {
      padding: 0 10px;
      text-decoration: none;
    }

    &.disabled,
    &.active {
      padding: 0 10px;
      
      a {
        padding:0;
      }
    }
    
    &.prev a:before,
    &.prev.disabled:before {
      border-width: 3px 0 0 3px;
      margin-right:4px;
    }
    
    &.next a:after,
    &.next.disabled:after {
      border-width: 0 3px 3px 0;
      margin-left:4px;
    }
  }
  
  .pagy-nav .page.prev.disabled:before,
  .pagy-nav .page.next.disabled:after,
  .pagy-nav .page.prev a:before,
  .pagy-nav .page.next a:after{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-style: solid;
    color: #0b0c0c;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
  }
  
}
