// stylelint-disable selector-no-qualifying-type

dl.kvp {
  position: relative;
  left: 1em;
  width: 100%;
  overflow: hidden;
}

dl.kvp dt {
  position: relative;
  width: 49%;
  padding: 0 0 3px;
  float: left;
  clear: both;
  font-weight: 600;
}

dl.kvp dd {
  width: 51%;
  margin-left: 0;
  padding: 0 0 3px;
  float: right;
}

// stylelint-enable selector-no-qualifying-type
