---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/d2e0a70e-b414-442a-8e6d-1bddc12c2759/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1969-12-21","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 10 May 2022 20:20:33 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/d2e0a70e-b414-442a-8e6d-1bddc12c2759/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[{"description":"Money not in a bank account","value":"4000.0"}],"non_liquid_capital":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 10 May 2022 20:20:33 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/d2e0a70e-b414-442a-8e6d-1bddc12c2759/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 10 May 2022 20:20:33 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/d2e0a70e-b414-442a-8e6d-1bddc12c2759/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 10 May 2022 20:20:33 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/d2e0a70e-b414-442a-8e6d-1bddc12c2759/explicit_remarks
    body:
      encoding: UTF-8
      string: '{"explicit_remarks":[{"category":"policy_disregards","details":[]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Tue, 10 May 2022 20:20:33 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/d2e0a70e-b414-442a-8e6d-1bddc12c2759
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90556f465952742031bf54a6295f8e5f"
    body:
      encoding: UTF-8
      string: '{"version":"4","timestamp":"2022-05-10T20:20:34.159Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":1000.0,"income_contribution":0.0,"matter_types":[{"matter_type":"domestic_abuse","result":"contribution_required"}],"proceeding_types":[{"ccms_code":"DA001","result":"contribution_required"}]},"gross_income":{"total_gross_income":0.0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"result":"pending"}]},"disposable_income":{"dependant_allowance":0.0,"gross_housing_costs":0.0,"housing_benefit":0.0,"net_housing_costs":0.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":0.0,"total_disposable_income":0.0,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"pending"}]},"capital":{"total_liquid":4000.0,"total_non_liquid":0.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":4000.0,"pensioner_capital_disregard":0.0,"capital_contribution":1000.0,"assessed_capital":4000.0,"proceeding_types":[{"ccms_code":"DA001","lower_threshold":3000.0,"upper_threshold":999999999999.0,"result":"contribution_required"}]}},"assessment":{"id":"d2e0a70e-b414-442a-8e6d-1bddc12c2759","client_reference_id":"L-YPE-B6B","submission_date":"2022-05-10","applicant":{"date_of_birth":"1969-12-21","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":true,"self_employed":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Money
        not in a bank account","value":4000.0}],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"main_home_equity_disregard":100000.0,"assessed_equity":0.0},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"main_home_equity_disregard":0.0,"assessed_equity":0.0}]}}},"remarks":{}}}'
  recorded_at: Tue, 10 May 2022 20:20:34 GMT
- request:
    method: post
    uri: https://ap-3297-client-involvement-cal-check-financial-uat.cloud-platform.service.justice.gov.uk/assessments/d2a5aae8-0399-456a-a117-311cae97492f/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1968-04-10","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Sat, 16 Jul 2022 11:19:41 GMT
- request:
    method: post
    uri: https://ap-3297-client-involvement-cal-check-financial-uat.cloud-platform.service.justice.gov.uk/assessments/d2a5aae8-0399-456a-a117-311cae97492f/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[{"description":"Money not in a bank account","value":"4000.0"}],"non_liquid_capital":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Sat, 16 Jul 2022 11:19:41 GMT
- request:
    method: post
    uri: https://ap-3297-client-involvement-cal-check-financial-uat.cloud-platform.service.justice.gov.uk/assessments/d2a5aae8-0399-456a-a117-311cae97492f/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Sat, 16 Jul 2022 11:19:41 GMT
- request:
    method: post
    uri: https://ap-3297-client-involvement-cal-check-financial-uat.cloud-platform.service.justice.gov.uk/assessments/d2a5aae8-0399-456a-a117-311cae97492f/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Sat, 16 Jul 2022 11:19:41 GMT
- request:
    method: post
    uri: https://ap-3297-client-involvement-cal-check-financial-uat.cloud-platform.service.justice.gov.uk/assessments/d2a5aae8-0399-456a-a117-311cae97492f/explicit_remarks
    body:
      encoding: UTF-8
      string: '{"explicit_remarks":[{"category":"policy_disregards","details":[]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Sat, 16 Jul 2022 11:19:42 GMT
- request:
    method: get
    uri: https://ap-3297-client-involvement-cal-check-financial-uat.cloud-platform.service.justice.gov.uk/assessments/d2a5aae8-0399-456a-a117-311cae97492f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ad6dffed9f927f4147023e97e37deb8"
    body:
      enco[...]
[...]
- request:
    method: post
    uri: https://ap-3297-client-involvement-cal-check-financial-uat.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-4EV-F5B","submission_date":"2022-07-16","proceeding_types":{"ccms_codes":["DA001"]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c301ec112d2308f06af2b363414a0bd3"
    body:
      encoding: UTF-8
      string: '{"success":true,"assessment_id":"4d0bbfdb-5ca5-469b-8b73-9befc00d518c","errors":[]}'
  recorded_at: Sat, 16 Jul 2022 15:50:00 GMT
[...]
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-260-8F3","submission_date":"2022-07-19","proceeding_types":{"ccms_codes":["DA001"]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ec6362117367872bb5047d221df02b3"
    body:
      encoding: UTF-8
      string: '{"success":true,"assessment_id":"7f8e989a-28ed-449a-8fe5-5870a94eedc2","errors":[]}'
  recorded_at: Tue, 19 Jul 2022 15:22:32 GMT
[...]
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"aa1eb836-0321-4c9a-a7f6-94096ed8cd29","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68b839096bcf8c4b0bc6826b35ad69c1"
    body:
      encoding: UTF-8
      string: '{"request_id":"aa1eb836-0321-4c9a-a7f6-94096ed8cd29","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Tue, 19 Jul 2022 15:22:33 GMT
recorded_with: VCR 6.1.0
