---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","personalisation":{"created_at":"Mon,
        10 Feb 2020 09:22:04 +0000","user_data":"Other - Generic Browser 0.0 - Unknown","done_all_needed":"true","satisfaction":"very_dissatisfied","improvement_suggestion":"Incidunt
        consequatur et. Doloremque sint fuga. Sunt sed est."}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1ODEzMjY1MjR9.vNol_kZ24G7dES-RwMzOcNAOTmsJ11VHX5CvOr3Q-UM
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 63db9dc1-f4d2-4ca2-5d2d-85b9fa389248
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Apply for Legal Aid Feedback - DEV\r\n\r\nMon,
        10 Feb 2020 09:22:04 +0000\r\n\r\nThe following feedback has been received:\r\n\r\n*
        Other - Generic Browser 0.0 - Unknown\r\n* Were you able to do what you needed
        today? true\r\n* How satisfied were you with this service? very_dissatisfied\r\n\r\nHow
        could we improve this service?\r\n\r\n---\r\nIncidunt consequatur et. Doloremque
        sint fuga. Sunt sed est.","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid Feedback \u2013 DEV"},"id":"685db6bc-fb37-4b07-bbf2-ea47a4190996","reference":null,"scheduled_for":null,"template":{"id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/ac458f81-b7dd-4b2c-944c-3f17d2f2392c","version":9},"uri":"https://api.notifications.service.gov.uk/v2/notifications/685db6bc-fb37-4b07-bbf2-ea47a4190996"}

        '
  recorded_at: Mon, 10 Feb 2020 09:22:04 GMT
recorded_with: VCR 5.0.0
