---
http_interactions:
- request:
    method: post
    uri: https://benefitchecker.dev.legalservices.gov.uk/lsx/lsc-services/benefitChecker?wsdl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:check><clientReference>ee7efca3-949c-427e-98a2-1a6b225af896</clientReference><nino>JA293483A</nino><surname>SERVICEEXCEPTION</surname><dateOfBirth>19800110</dateOfBirth><dateOfAward>20190410</dateOfAward><lscServiceName><BC_LSC_SERVICE_NAME></lscServiceName><clientOrgId><BC_CLIENT_ORG_ID></clientOrgId><clientUserId><BC_CLIENT_USER_ID></clientUserId></wsdl:check></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"check"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><soapenv:Fault><faultcode>soapenv:Server.generalException</faultcode><faultstring></faultstring><detail><ns1:benefitCheckerFaultException
        xmlns:ns1="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"><ns2:MessageCode
        xmlns:ns2="http://lsc.gov.uk/benefitchecker/data/1.0">LSCBC959</ns2:MessageCode><ns3:MessageText
        xmlns:ns3="http://lsc.gov.uk/benefitchecker/data/1.0">Service unavailable.</ns3:MessageText></ns1:benefitCheckerFaultException><ns4:exceptionName
        xmlns:ns4="http://xml.apache.org/axis/">uk.gov.lsc.benefitchecker.data._1_0.BenefitCheckerFaultException</ns4:exceptionName><ns5:hostname
        xmlns:ns5="http://xml.apache.org/axis/">d6acb6f1070e</ns5:hostname></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 10 Apr 2019 17:16:58 GMT
recorded_with: VCR 4.0.0
