---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_type_defaults
    body:
      encoding: UTF-8
      string: '{"proceeding_type_ccms_code":"PB059","delegated_functions_used":false,"client_involvement_type":"A"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d7f8483a4efb1204e25e85e98d53bd5"
    body:
      encoding: UTF-8
      string: '{"success":true,"requested_params":{"proceeding_type_ccms_code":"PB059","delegated_functions_used":false,"client_involvement_type":"A"},"default_level_of_service":{"level":3,"name":"Full
        Representation","stage":8},"default_scope":{"code":"FM062","meaning":"Final
        hearing","description":"Limited to all steps up to and including final hearing
        and any action necessary to implement (but not enforce) the order.","additional_params":[]}}'
  recorded_at: Tue, 20 Aug 2024 11:18:00 GMT
recorded_with: VCR 6.2.0
