---
http_interactions:
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?key=<ORDNANACE_SURVEY_API_KEY>&postcode=SW1H9AJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Status:
      - success
      Tx-Id:
      - 1541674469918:918
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?postcode=SW1H9AJ",
            "query" : "postcode=SW1H9AJ",
            "offset" : 0,
            "totalresults" : 0,
            "format" : "JSON",
            "dataset" : "DPA",
            "lr" : "EN,CY",
            "maxresults" : 100,
            "epoch" : "62",
            "output_srs" : "EPSG:27700"
          }
        }
  recorded_at: Thu, 08 Nov 2018 10:54:29 GMT
recorded_with: VCR 4.0.0
