---
http_interactions:
- request:
    method: post
    uri: https://main-cfe-civil-uat.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-DX5-HJX","submission_date":"2023-04-19"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"2000-10-29","employed":false,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":true},"capitals":{"bank_accounts":[{"description":"Current
        accounts","value":"-150954.15"},{"description":"Savings accounts","value":"-339940.2"},{"description":"Money
        not in a bank account","value":"294288.04"},{"description":"Access to another
        person''s bank account","value":"919707.29"},{"description":"ISAs, National
        Savings Certificates and Premium Bonds","value":"711060.65"},{"description":"Shares
        in a public limited company","value":"275469.78"},{"description":"PEPs, unit
        trusts, capital bonds and government stocks","value":"226298.62"},{"description":"Life
        assurance and endowment policies not linked to a mortgage","value":"437516.56"}],"non_liquid_capital":[]},"vehicles":[{"value":5000.0,"loan_amount_outstanding":250.0,"date_of_purchase":"2023-01-10","in_regular_use":true}],"properties":{"main_home":{"value":841157.03,"outstanding_mortgage":963023.55,"percentage_owned":38.47,"shared_with_housing_assoc":false},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":[]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3dcc3ea48d2a5c3eeef31d26047f488f"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2023-04-19T06:25:01.946Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":2861340.94,"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required"}]},"gross_income":{"total_gross_income":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"pending"}],"combined_total_gross_income":0.0},"disposable_income":{"dependant_allowance":0.0,"gross_housing_costs":0.0,"housing_benefit":0.0,"net_housing_costs":0.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":0.0,"total_disposable_income":0.0,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"pending"}],"combined_total_disposable_income":0.0,"combined_total_outgoings_and_allowances":0.0,"partner_allowance":0},"capital":{"pensioner_disregard_applied":0.0,"total_liquid":2864340.94,"total_non_liquid":0.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":2864340.94,"subject_matter_of_dispute_disregard":0.0,"capital_contribution":2861340.94,"assessed_capital":2864340.94,"total_capital_with_smod":2864340.94,"disputed_non_property_disregard":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required"}],"pensioner_capital_disregard":0.0,"combined_assessed_capital":2864340.94}},"assessment":{"id":"2db57108-9681-4a4a-b315-78f9c81bad2c","client_reference_id":"L-DX5-HJX","submission_date":"2023-04-19","level_of_help":"certificated","applicant":{"date_of_birth":"2000-10-29","involvement_type":"applicant","employed":false,"has_partner_opponent":false,"receives_qualifying_benefit":true,"self_employed":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"bank_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"cash_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Life
        assurance and endowment policies not linked to a mortgage","value":437516.56},{"description":"PEPs,
        unit trusts, capital bonds and government stocks","value":226298.62},{"description":"Shares
        in a public limited company","value":275469.78},{"description":"ISAs, National
        Savings Certificates and Premium Bonds","value":711060.65},{"description":"Access
        to another person''s bank account","value":919707.29},{"description":"Money
        not in a bank account","value":294288.04},{"description":"Savings accounts","value":-339940.2},{"description":"Current
        accounts","value":-150954.15}],"non_liquid":[],"vehicles":[{"value":5000.0,"loan_amount_outstanding":250.0,"date_of_purchase":"2023-01-10","in_regular_use":true,"included_in_assessment":false,"disregards_and_deductions":4750.0,"assessed_value":0.0}],"properties":{"main_home":{"value":841157.03,"outstanding_mortgage":963023.55,"percentage_owned":38.47,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":963023.55,"net_value":-121866.52,"net_equity":-46882.05,"smod_allowance":0,"main_home_equity_disregard":-46882.05,"assessed_equity":0.0},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0}]}}},"remarks":{}}}'
  recorded_at: Wed, 19 Apr 2023 06:24:59 GMT
recorded_with: VCR 6.1.0
