---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/filter
    body:
      encoding: UTF-8
      string: '{"current_proceedings":["PBM40","PBM40E","PBM45","PBM45E"],"allowed_categories":["MAT"],"search_term":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cf26ca1ee8f9c63a951189dc0c043e1f"
    body:
      encoding: UTF-8
      string: '{"success":false,"data":[]}'
  recorded_at: Thu, 12 Jun 2025 11:51:05 GMT
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c7862c608c023e33bd02b0d66a401da0"
    body:
      encoding: UTF-8
      string: '[{"ccms_code":"DA002","meaning":"Protection from harassment act 1997
        under section 5 - vary or discharge","description":"to be represented on an
        application to vary or discharge an order under section 5 Protection from
        Harassment Act 1997 where the parties are associated persons (as defined by
        Part IV Family Law Act 1996).","sca_core":false,"sca_related":false,"non_means_tested_plf":false,"ccms_category_law":"Family","ccms_category_law_code":"MAT","ccms_matter_code":"MINJN","ccms_matter":"domestic
        abuse (DA)"},{"ccms_code":"DA004","meaning":"Non-molestation order","description":"to
        be represented on an application for a non-molestation order.","sca_core":false,"sca_related":false,"non_means_tested_plf":false,"ccms_category_law":"Family","ccms_category_law_code":"MAT","ccms_matter_code":"MINJN","ccms_matter":"domestic
        abuse (DA)"},{"ccms_code":"DA005","meaning":"Occupation order","description":"to
        be represented on an application for an occupation [...]
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/client_involvement_types/PBM40
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"634b8c627a1b078b5d1fffcb51ca2121"
    body:
      encoding: UTF-8
      string: '{"success":true,"client_involvement_type":[{"ccms_code":"A","description":"Applicant/claimant/petitioner"},{"ccms_code":"D","description":"Defendant/respondent"},{"ccms_code":"W","description":"Subject
        of proceedings (child)"},{"ccms_code":"I","description":"Intervenor"},{"ccms_code":"Z","description":"Joined
        party"}]}'
  recorded_at: Thu, 12 Jun 2025 11:51:07 GMT
recorded_with: VCR 6.3.1
