<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary white_text">
    <span class="govuk-details__summary-text"
      id="checked-status"
      title="<%= t('.how_we_checked') %>"
      aria-label="<%= t('.how_we_checked') %>">
      <%= t('.how_we_checked') %>
    </span>
  </summary>
  <%= render 'applicant_details' %>
</details>
