<% content_for :navigation do %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-padding-top-4"></div>
    <h1 class="govuk-heading-xl">Benefit check results</h1>
    <p class="govuk_body">
      Your applicant's benefit check result: <%= @legal_aid_application.benefit_check_result.result %>
    </p>

    <%=
      link_to(
        "Continue",
        @next_step_link,
        class: "govuk-button govuk-button",
        id: 'continue'
      )
    %>
  </div>
</div>
