<li id="<%= provider_firm.id %>" class="govuk-grid-row govuk-!-margin-bottom-0" tabindex="0">
  <div class="govuk-grid-column-two-thirds text-column">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-top-6"><%= provider_firm.name %></h2>
  </div>

  <div class="govuk-grid-column-one-third control-column">
    <%= button_to_accessible(
            t('generic.select_and_continue'),
            admin_roles_permission_path(provider_firm.id),
            method: :get,
            tabindex: '-1',
            class: 'govuk-button govuk-!-margin-top-4'
        ) %>
  </div>

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-width-full govuk-!-margin-bottom-0" style="width: 100%;">

</li>
