<%= page_template(
  page_title: t('.heading_1'),
  column_width: :full,
  back_link: :none
  ) do %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row search-field govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          <input class="govuk-input" id="firm-search-input" name="firm-search-input" type="text">
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-top-0">
        <ul id="firms-list" class="govuk-grid-column-full govuk-list govuk-!-margin-bottom-0">
          <%= render partial: 'form', collection: @provider_firms, as: :provider_firm %>
        </ul>
      </div>
    </div>
  </div>

<% end %>
