---
http_interactions:
- request:
    method: post
    uri: https://uat.laa-benefit-checker.service.justice.gov.uk/lsx/lsc-services/benefitChecker?wsdl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?> <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"> <env:Body> <wsdl:check>
        <wsdl:clientReference>19f216a4-852e-4a03-8fcf-bcb4f264d123</wsdl:clientReference>
        <wsdl:nino>JA293483A</wsdl:nino> <wsdl:surname>WALKER</wsdl:surname> <wsdl:dateOfBirth>19800110</wsdl:dateOfBirth>
        <wsdl:dateOfAward>20251215</wsdl:dateOfAward> <wsdl:lscServiceName>https://benefitchecker.stg.legalservices.gov.uk/lsx/lsc-services/benefitChecker?wsdl</wsdl:lscServiceName>
        <wsdl:clientOrgId>dummy_client_org_id</wsdl:clientOrgId> <wsdl:clientUserId>dummy_client_user_id</wsdl:clientUserId>
        </wsdl:check> </env:Body> </env:Envelope>
    headers:
      Soapaction:
      - "#POST"
      Content-Type:
      - text/xml
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><soapenv:Fault><faultcode>soapenv:Server.generalException</faultcode><faultstring></faultstring><detail><ns1:benefitCheckerFaultException
        xmlns:ns1="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"><ns2:MessageCode
        xmlns:ns2="http://lsc.gov.uk/benefitchecker/data/1.0">LSCBC210</ns2:MessageCode><ns3:MessageText
        xmlns:ns3="http://lsc.gov.uk/benefitchecker/data/1.0">Invalid request credentials.</ns3:MessageText></ns1:benefitCheckerFaultException><ns4:exceptionName
        xmlns:ns4="http://xml.apache.org/axis/">uk.gov.lsc.benefitchecker.data._1_0.BenefitCheckerFaultException</ns4:exceptionName><ns5:hostname
        xmlns:ns5="http://xml.apache.org/axis/">laa-benefitchecker-c6b4587d5-n84c7</ns5:hostname></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 15 Dec 2025 16:05:51 GMT
recorded_with: VCR 6.3.1
