
<h2 class="govuk-heading-m print-no-break-after"><%= t(".heading") %></h2>

  <%= govuk_summary_card(title: t(".heading"),
                         heading_level: 3,
                         html_attributes: { id: "app-check-your-answers__capital_result__card" }) do |card|
        card.with_summary_list(actions: false, html_attributes: { id: "app-check-your-answers__capital_result__summary" }) do |summary_list|
          summary_list.with_row(classes: "app-check-your-answers__total_capital_assessed") do |row|
            row.with_key(text: t(".total"), classes: "govuk-!-width-one-third")
            row.with_value { gds_number_to_currency(@legal_aid_application.cfe_result.total_capital) }
          end

          summary_list.with_row(classes: "app-check-your-answers__capital_lower_limit") do |row|
            row.with_key { t(".lower_limit_label") }
            row.with_value(text: gds_number_to_currency(Rails.configuration.x.capital_result.lower_limit))
          end

          summary_list.with_row(classes: "app-check-your-answers__capital_upper_limit") do |row|
            row.with_key { t(".upper_limit_label") }
            row.with_value(text: gds_number_to_currency(Rails.configuration.x.capital_result.upper_limit))
          end

          summary_list.with_row(classes: "app-check-your-answers__capital_contribution") do |row|
            row.with_key { t(".contribution") }
            row.with_value(text: gds_number_to_currency(@legal_aid_application.cfe_result.capital_contribution))
          end
        end
      end %>
