<h2 class="govuk-heading-m"><%= t("providers.means_reports.dependants_heading") %></h2>

<dl id="dependants-questions" class="govuk-summary-list govuk-!-margin-bottom-9">
  <%= check_answer_link(
        name: "child_dependants",
        question: t("providers.means_reports.child_dependants"),
        answer: @legal_aid_application.dependants.child_relative.count,
        read_only:,
      ) %>

  <%= check_answer_link(
        name: "adult_dependants",
        question: t("providers.means_reports.adult_dependants"),
        answer: @legal_aid_application.dependants.adult_relative.count,
        read_only:,
      ) %>
</dl>

<% if @legal_aid_application.dependants %>
  <% @legal_aid_application.dependants.each_with_index do |dependant, index| %>
    <%= check_answer_one_change_link(
          name: "dependants_#{index + 1}",
          url: providers_legal_aid_application_means_dependant_path(@legal_aid_application, dependant),
          question: "Dependant #{index + 1}: #{dependant.name}",
          answer_hash: dependant_hash(dependant),
          read_only:,
        ) %>
  <% end %>
<% end %>
