<h2 class="govuk-heading-m"><%= t("providers.means_reports.outgoings_cash_payments_heading") %></h2>

<% debits = @legal_aid_application.legal_aid_application_transaction_types.debits %>
<% cash_debits = @legal_aid_application.cash_transactions.debits.order(:transaction_date) %>
<% debit_categories = TransactionType.debits %>

<% unless @legal_aid_application.transaction_types.debits.exists? %>
<div class="govuk-body"> <%= t("generic.none") %> </div>
<% end %>

<dl id="outgoings-cash-payments-questions" class="govuk-summary-list govuk-!-margin-bottom-9">
  <% debit_categories.each do |category| %>
    <% if debits.pluck(:transaction_type_id).include?(category.id) %>
      <% if cash_debits.pluck(:transaction_type_id).include?(category.id) %>
        <% cash_payments = cash_debits.where(transaction_type_id: category.id) %>

        <% cash_payment_list = cash_payments.each_with_object([]) do |payment, list|
             list << "#{payment.transaction_date.strftime('%B %Y')} #{gds_number_to_currency(payment.amount, precision: 2)}"
           end %>

        <%= check_answer_link(
              name: category.label_name,
              question: category.label_name,
              answer: cash_payment_list,
              read_only: true,
            ) %>
      <% else %>
        <%= check_answer_link(
              name: category.label_name,
              question: category.label_name,
              answer: t("generic.none"),
              read_only: true,
            ) %>
      <% end %>
    <% end %>
  <% end %>
</dl>
