<h2 class="govuk-heading-m"><%= t("providers.means_reports.student_finance_heading") %></h2>

<dl id="student-finance-questions" class="govuk-summary-list govuk-!-margin-bottom-9">
  <%= check_answer_no_link(
        name: :student_finance_annual_amount,
        question: "Student loan or grant (per year)",
        answer: gds_number_to_currency(@legal_aid_application.value_of_student_finance.to_f),
        read_only:,
      ) %>
</dl>
