---
http_interactions:
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/PB007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56c5b7b6ad5fb4847b57750494444570"
    body:
      encoding: UTF-8
      string: '{"success":true,"ccms_code":"PB007","meaning":"Contact with a child
        in care","ccms_category_law_code":"MAT","ccms_matter_code":"KPBLW","name":"contact_child_in_care_sca","description":"to
        be represented on an application for contact with a child in care.","sca_core":false,"sca_related":true,"ccms_category_law":"Family","ccms_matter":"special
        children act (SCA)","cost_limitations":{"substantive":{"start_date":"1970-01-01","value":"25000.0"},"delegated_functions":{"start_date":"2021-09-13","value":"2250.0"}},"default_scope_limitations":{"substantive":{"code":"FM062","meaning":"Final
        hearing","description":"Limited to all steps up to and including final hearing
        and any action necessary to implement (but not enforce) the order."},"delegated_functions":{"code":"FM062","meaning":"Final
        hearing","description":"Limited to all steps up to and including final hearing
        and any action necessary to implement (but not enforce) the order."}},"service_levels":[{"level":3,"name":"Full
        Representation","stage":8,"proceeding_default":true}]}'
  recorded_at: Tue, 10 Jun 2025 11:38:50 GMT
recorded_with: VCR 6.3.1
