---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.apps.live-1.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"bebf2a08-ab3e-4c6f-bbe9-c80e0c4da140","proceeding_types":["DA005","DA001","DA003"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9643b3c20eb78d5e8f2e3b0c3cb6764b"
    body:
      encoding: UTF-8
      string: '{"request_id":"bebf2a08-ab3e-4c6f-bbe9-c80e0c4da140","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA005","tasks":{"chances_of_success":[]}},{"ccms_code":"DA001","tasks":{"chances_of_success":[]}},{"ccms_code":"DA003","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Fri, 16 Apr 2021 15:52:20 GMT
recorded_with: VCR 6.0.0
