<% page_title = @provider.provider_details_api_error? ? '.error_title' : '.permission_title' %>
<% error_translation = @provider.invalid_login_details || 'api_details_user_not_found' %>

<%= page_template page_title: t(page_title), back_link: :none do %>
  <p><%= t(".#{error_translation}.html", team_email: Rails.configuration.x.support_email_address) %></p>
<% end %>

<p /><p />

<%= link_to_accessible t('generic.return_to_portal'), @portal_url, class: 'govuk-link' %>
