---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-1BV-W6J","submission_date":"2025-01-31","level_of_help":"certificated"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"1992-07-22","employed":true,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false},"capitals":{"bank_accounts":[{"description":"Current
        accounts","value":"429905.29"},{"description":"Online savings accounts","value":"561104.47"}],"non_liquid_capital":[{"description":"Timeshare
        property","value":"502980.78"},{"description":"Land","value":"752370.08"},{"description":"Any
        valuable items worth more than £500","value":"68086.73"},{"description":"Money
        or assets from the estate of a person who has died","value":"479305.96"},{"description":"Money
        owed to applicant","value":"239636.23"},{"description":"Interest in a trust","value":"781451.68"}]},"vehicles":[{"value":6573.0,"loan_amount_outstanding":258.0,"date_of_purchase":"2019-08-17","in_regular_use":true}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":696177.19,"outstanding_mortgage":514277.41,"percentage_owned":88.51,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":[]}],"dependants":[],"outgoings":[{"name":"child_care","payments":[{"payment_date":"2025-01-10","amount":798.68,"client_id":"9dbaaeb8-344a-4f18-bddf-5d532e8a9f55"}]}],"state_benefits":[],"other_incomes":[{"source":"Pension","payments":[{"date":"2024-11-09","amount":838.48,"client_id":"6f11632a-9992-4e86-b4b6-6e6e1a2b068b"}]}],"irregular_incomes":{"payments":[]},"employment_income":[{"name":"Job
        1","client_id":"6ad8acea-cfeb-4c45-930c-006d48e96a20","payments":[{"client_id":"81eb8a26-a589-438c-bfc7-fbe7a48c0978","date":"2025-01-31","gross":2083.33,"benefits_in_kind":0.0,"tax":-206.0,"national_insurance":-154.36,"net_employment_income":1722.97},{"client_id":"9d239649-75cc-4290-b837-9f4265ae37ac","date":"2024-12-30","gross":3083.33,"benefits_in_kind":0.0,"tax":-406.0,"national_insurance":-274.36,"net_employment_income":2402.97},{"client_id":"fbcf4de6-4035-438d-bc86-8979115aa612","date":"2024-12-01","gross":2000.0,"benefits_in_kind":0.0,"tax":-189.4,"national_insurance":-144.36,"net_employment_income":1666.24},{"client_id":"1fb61f4d-bf95-42a6-a0a2-3def1b24265b","date":"2024-11-01","gross":1750.0,"benefits_in_kind":0.0,"tax":-139.4,"national_insurance":-114.36,"net_employment_income":1496.24}]}],"regular_transactions":[],"cash_transactions":{"income":[],"outgoings":[]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"961955553d535f12bf6e4a3f2635e933"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2025-01-31T16:17:48.313Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":3954355.12,"income_contribution":934.63,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required","client_involvement_type":"A"}]},"gross_income":{"total_gross_income":2229.17,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_gross_income":2229.17},"disposable_income":{"dependant_allowance_under_16":0,"dependant_allowance_over_16":0,"dependant_allowance":0,"gross_housing_costs":0.0,"housing_costs":0.0,"housing_benefit":0.0,"net_housing_costs":0.0,"allowed_housing_costs":0.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":452.06,"total_disposable_income":1777.11,"employment_income":{"gross_income":2229.17,"benefits_in_kind":0.0,"tax":-235.2,"national_insurance":-171.86,"prisoner_levy":0.0,"student_debt_repayment":0.0,"fixed_employment_deduction":-45.0,"net_employment_income":1777.11},"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"contribution_required","client_involvement_type":"A"}],"combined_total_disposable_income":1777.11,"combined_total_outgoings_and_allowances":452.06,"partner_allowance":0,"lone_parent_allowance":0,"income_contribution":934.63},"capital":{"pensioner_disregard_applied":0.0,"total_liquid":991009.76,"total_non_liquid":2823831.46,"total_vehicle":0.0,"total_property":142513.9,"total_mortgage_allowance":999999999999.0,"total_capital":3957355.12,"subject_matter_of_dispute_disregard":0.0,"assessed_capital":3957355.12,"total_capital_with_smod":3957355.12,"disputed_non_property_disregard":0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required","client_involvement_type":"A"}],"combined_disputed_capital":0,"combined_non_disputed_capital":3957355.12,"capital_contribution":3954355.12,"pensioner_capital_disregard":0.0,"combined_assessed_capital":3957355.12}},"assessment":{"id":"f6832671-a333-44ad-b467-7bd7ac190bad","client_reference_id":"L-1BV-W6J","submission_date":"2025-01-31","level_of_help":"certificated","applicant":{"date_of_birth":"1992-07-22","involvement_type":"applicant","employed":true,"has_partner_opponent":false,"receives_qualifying_benefit":false},"gross_income":{"employment_income":[{"name":"Job
        1","payments":[{"date":"2025-01-31","gross":2083.33,"benefits_in_kind":0.0,"tax":-206.0,"national_insurance":-154.36,"prisoner_levy":0.0,"student_debt_repayment":0.0,"net_employment_income":1722.97},{"date":"2024-12-30","gross":3083.33,"benefits_in_kind":0.0,"tax":-406.0,"national_insurance":-274.36,"prisoner_levy":0.0,"student_debt_repayment":0.0,"net_employment_income":2402.97},{"date":"2024-12-01","gross":2000.0,"benefits_in_kind":0.0,"tax":-189.4,"national_insurance":-144.36,"prisoner_levy":0.0,"student_debt_repayment":0.0,"net_employment_income":1666.24},{"date":"2024-11-01","gross":1750.0,"benefits_in_kind":0.0,"tax":-139.4,"national_insurance":-114.36,"prisoner_levy":0.0,"student_debt_repayment":0.0,"net_employment_income":1496.24}]}],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Current
        accounts","value":429905.29},{"description":"Online savings accounts","value":561104.47}],"non_liquid":[{"description":"Timeshare
        property","value":502980.78},{"description":"Land","value":752370.08},{"description":"Any
        valuable items worth more than £500","value":68086.73},{"description":"Money
        or assets from the estate of a person who has died","value":479305.96},{"description":"Money
        owed to applicant","value":239636.23},{"description":"Interest in a trust","value":781451.68}],"vehicles":[{"value":6573.0,"loan_amount_outstanding":258.0,"date_of_purchase":"2019-08-17","in_regular_use":true,"included_in_assessment":false,"disregards_and_deductions":6315.0,"assessed_value":0.0}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0,"subject_matter_of_dispute":null},"additional_properties":[{"value":696177.19,"outstanding_mortgage":514277.41,"percentage_owned":88.51,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":20885.32,"allowable_outstanding_mortgage":514277.41,"net_value":161014.46,"net_equity":142513.9,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":142513.9,"subject_matter_of_dispute":null}]}}},"remarks":{"client_employment_gross_income":{"amount_variation":["81eb8a26-a589-438c-bfc7-fbe7a48c0978","9d239649-75cc-4290-b837-9f4265ae37ac","fbcf4de6-4035-438d-bc86-8979115aa612","1fb61f4d-bf95-42a6-a0a2-3def1b24265b"]},"client_other_income_payment":{"unknown_frequency":["6f11632a-9992-4e86-b4b6-6e6e1a2b068b"]},"client_current_account_balance":{"residual_balance":[]}}}}'
  recorded_at: Fri, 31 Jan 2025 16:17:48 GMT
recorded_with: VCR 6.3.1
