---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"client_reference_id":"L-CNL-YH4","submission_date":"2025-01-31","level_of_help":"certificated"},"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}],"applicant":{"date_of_birth":"1992-07-22","employed":true,"involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false},"capitals":{"bank_accounts":[{"description":"Current
        accounts","value":"-969151.94"},{"description":"Online savings accounts","value":"225362.06"}],"non_liquid_capital":[{"description":"Timeshare
        property","value":"381516.27"},{"description":"Land","value":"808649.64"},{"description":"Any
        valuable items worth more than £500","value":"780390.45"},{"description":"Money
        or assets from the estate of a person who has died","value":"295517.7"},{"description":"Money
        owed to applicant","value":"199967.39"},{"description":"Interest in a trust","value":"733212.56"}]},"vehicles":[{"value":5436.0,"loan_amount_outstanding":149.0,"date_of_purchase":"2024-01-22","in_regular_use":false}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":560673.79,"outstanding_mortgage":949575.9,"percentage_owned":55.52,"shared_with_housing_assoc":false}]},"explicit_remarks":[{"category":"policy_disregards","details":[]}],"dependants":[],"outgoings":[{"name":"child_care","payments":[{"payment_date":"2025-01-28","amount":368.31,"client_id":"b4a81d59-f2f0-42ca-aa32-64f0c3d69d86"}]}],"state_benefits":[],"other_incomes":[{"source":"Pension","payments":[{"date":"2024-12-12","amount":1016.0,"client_id":"387ce9bb-e532-4cb2-9731-254b62d1e944"}]}],"irregular_incomes":{"payments":[]},"employment_income":[{"name":"Job
        1","client_id":"b7e1289b-a940-4c87-a994-1dff234e59b4","payments":[{"client_id":"90f1ac7e-c8fe-45a3-bb2a-5a058281a1b0","date":"2025-01-31","gross":2083.33,"benefits_in_kind":0.0,"tax":-206.0,"national_insurance":-154.36,"net_employment_income":1722.97},{"client_id":"39c31c0c-19b1-439a-9a63-9b55e3f2b564","date":"2024-12-30","gross":3083.33,"benefits_in_kind":0.0,"tax":-406.0,"national_insurance":-274.36,"net_employment_income":2402.97},{"client_id":"2685aa68-0278-4b02-b721-1e7ca3134094","date":"2024-12-01","gross":2000.0,"benefits_in_kind":0.0,"tax":-189.4,"national_insurance":-144.36,"net_employment_income":1666.24},{"client_id":"1fbbd0cc-c72c-4a1a-9ff4-8af04c6ca8cf","date":"2024-11-01","gross":1750.0,"benefits_in_kind":0.0,"tax":-139.4,"national_insurance":-114.36,"net_employment_income":1496.24}]}],"regular_transactions":[],"cash_transactions":{"income":[],"outgoings":[]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6eb4ffc335e924908c7bc9f2ad6a5667"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2025-01-31T13:21:37.042Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":3427052.07,"income_contribution":934.63,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required","client_involvement_type":"A"}]},"gross_income":{"total_gross_income":2229.17,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_gross_income":2229.17},"disposable_income":{"dependant_allowance_under_16":0,"dependant_allowance_over_16":0,"dependant_allowance":0,"gross_housing_costs":0.0,"housing_costs":0.0,"housing_benefit":0.0,"net_housing_costs":0.0,"allowed_housing_costs":0.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":452.06,"total_disposable_income":1777.11,"employment_income":{"gross_income":2229.17,"benefits_in_kind":0.0,"tax":-235.2,"national_insurance":-171.86,"prisoner_levy":0.0,"student_debt_repayment":0.0,"fixed_employment_deduction":-45.0,"net_employment_income":1777.11},"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"contribution_required","client_involvement_type":"A"}],"combined_total_disposable_income":1777.11,"combined_total_outgoings_and_allowances":452.06,"partner_allowance":0,"lone_parent_allowance":0,"income_contribution":934.63},"capital":{"pensioner_disregard_applied":0.0,"total_liquid":225362.06,"total_non_liquid":3199254.01,"total_vehicle":5436.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":3430052.07,"subject_matter_of_dispute_disregard":0.0,"assessed_capital":3430052.07,"total_capital_with_smod":3430052.07,"disputed_non_property_disregard":0,"proceeding_types":[{"ccms_code":"DA001","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required","client_involvement_type":"A"}],"combined_disputed_capital":0,"combined_non_disputed_capital":3430052.07,"capital_contribution":3427052.07,"pensioner_capital_disregard":0.0,"combined_assessed_capital":3430052.07}},"assessment":{"id":"f02ef54c-d065-48de-8d68-b39ce3e6823b","client_reference_id":"L-CNL-YH4","submission_date":"2025-01-31","level_of_help":"certificated","applicant":{"date_of_birth":"1992-07-22","involvement_type":"applicant","employed":true,"has_partner_opponent":false,"receives_qualifying_benefit":false},"gross_income":{"employment_income":[{"name":"Job
        1","payments":[{"date":"2025-01-31","gross":2083.33,"benefits_in_kind":0.0,"tax":-206.0,"national_insurance":-154.36,"prisoner_levy":0.0,"student_debt_repayment":0.0,"net_employment_income":1722.97},{"date":"2024-12-30","gross":3083.33,"benefits_in_kind":0.0,"tax":-406.0,"national_insurance":-274.36,"prisoner_levy":0.0,"student_debt_repayment":0.0,"net_employment_income":2402.97},{"date":"2024-12-01","gross":2000.0,"benefits_in_kind":0.0,"tax":-189.4,"national_insurance":-144.36,"prisoner_levy":0.0,"student_debt_repayment":0.0,"net_employment_income":1666.24},{"date":"2024-11-01","gross":1750.0,"benefits_in_kind":0.0,"tax":-139.4,"national_insurance":-114.36,"prisoner_levy":0.0,"student_debt_repayment":0.0,"net_employment_income":1496.24}]}],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Current
        accounts","value":-969151.94},{"description":"Online savings accounts","value":225362.06}],"non_liquid":[{"description":"Timeshare
        property","value":381516.27},{"description":"Land","value":808649.64},{"description":"Any
        valuable items worth more than £500","value":780390.45},{"description":"Money
        or assets from the estate of a person who has died","value":295517.7},{"description":"Money
        owed to applicant","value":199967.39},{"description":"Interest in a trust","value":733212.56}],"vehicles":[{"value":5436.0,"loan_amount_outstanding":149.0,"date_of_purchase":"2024-01-22","in_regular_use":false,"included_in_assessment":true,"disregards_and_deductions":-149.0,"assessed_value":5436.0}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":0.0,"subject_matter_of_dispute":null},"additional_properties":[{"value":560673.79,"outstanding_mortgage":949575.9,"percentage_owned":55.52,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":949575.9,"net_value":-388902.11,"net_equity":-215918.45,"smod_allowance":0,"main_home_equity_disregard":-215918.45,"assessed_equity":0.0,"subject_matter_of_dispute":null}]}}},"remarks":{"client_employment_gross_income":{"amount_variation":["90f1ac7e-c8fe-45a3-bb2a-5a058281a1b0","39c31c0c-19b1-439a-9a63-9b55e3f2b564","2685aa68-0278-4b02-b721-1e7ca3134094","1fbbd0cc-c72c-4a1a-9ff4-8af04c6ca8cf"]},"client_other_income_payment":{"unknown_frequency":["387ce9bb-e532-4cb2-9731-254b62d1e944"]}}}}'
  recorded_at: Fri, 31 Jan 2025 13:21:37 GMT
recorded_with: VCR 6.3.1
