<% content_for(:page_title) { t('.h1-heading') } %>

<% content_for :navigation do %>
    <%= link_to t('generic.back'), citizens_property_value_path, class: 'govuk-back-link', id: 'back' %>
<% end %>

<%= render partial: 'shared/forms/error_summary', locals: { model: @form, attribute_prefix: :legal_aid_application_ } %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: '/shared/forms/outstanding_mortgage_form', locals: { model: @form,
                                                                             user_type: 'citizen',
                                                                             url: citizens_outstanding_mortgage_path } %>
  </div>
</div>
