<% content_for(:navigation) { back_link } %>
<% content_for(:page_title) { t('.h1-heading') } %>

<%= render partial: 'shared/forms/error_summary', locals: { model: @form, attribute_prefix: :legal_aid_application_ } %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: '/shared/forms/outstanding_mortgage_form', locals: { model: @form,
                                                                             user_type: 'citizen',
                                                                             url: citizens_outstanding_mortgage_path } %>
  </div>
</div>
