<h2 class="govuk-heading-m">
  <%= t(".heading") %>
</h2>
<%= govuk_summary_list(actions: false) do |summary_list| %>
  <% @legal_aid_application.applicant.state_benefits.each do |benefit| %>
    <% summary_list.with_row do |row|
         row.with_key { benefit.description || "" }
         row.with_value { "#{gds_number_to_currency(benefit.amount)} #{t("transaction_types.frequencies.#{benefit.frequency}").downcase}" }
       end %>
  <% end %>
<% end %>
