<% if partner
     individual = "partner"
     data_source = @legal_aid_application.partner
   else
     individual = "client"
     data_source = @legal_aid_application.applicant
   end %>
<h2 class="govuk-heading-m">
  <%= t(".#{individual}.heading") %>
</h2>
<%= govuk_summary_list(card: { title: t(".#{individual}.heading") }, actions: false) do |summary_list| %>
  <% data_source.state_benefits.each do |benefit| %>
    <% summary_list.with_row do |row|
         row.with_key(text: benefit.description || "", classes: "govuk-!-width-one-third")
         row.with_value { "#{gds_number_to_currency(benefit.amount)} #{t("transaction_types.frequencies.#{benefit.frequency}").downcase}" }
       end %>
  <% end %>
<% end %>
