<section>
  <table class="govuk-table">
    <tbody>
    <% {
           dependants_allowance: :dependants_allowance,
           disregarded_state_benefits: :disregarded_state_benefits
       }.each do |name, value_method|
    %>
      <%= render 'shared/means_report/item', name: name, scope: 'deductions', value_method: value_method %>
    <% end  %>
    <%= render 'shared/means_report/total', name: 'total_deductions', scope: 'deductions', value_method: :total_deductions %>
    </tbody>
  </table>
</section>
