<% if @legal_aid_application.dependants %>
  <% @legal_aid_application.dependants.each_with_index do |dependant, index| %>
    <%= check_answer_one_change_link(
      name: "dependants_#{index + 1}",
      url: providers_legal_aid_application_dependant_path(@legal_aid_application, dependant),
      question: "Dependant #{index + 1}",
      answer_hash: dependant_hash(dependant),
      read_only: FALSE
    ) %>
  <% end %>
<% end %>
<div class="govuk-summary-list govuk-!-padding-bottom-4">
  <div class="govuk-summary-list__row">
    <%= link_to t('providers.means_summaries.show.dependants.add-new'), new_providers_legal_aid_application_dependant_path, class: 'govuk-link' %>
  </div>
</div>
