<% individual = partner ? "partner" : "client" %>
<% model = partner ? @legal_aid_application.partner : @legal_aid_application.applicant %>
<div class="govuk-grid-row" id="app-check-your-answers__#{individual}_employment">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m"><%= t(".employment") %></h3>
  </div>
  <div class="govuk-grid-column-one-third govuk-summary-list--no-border align-text-right">
    <% unless read_only %>
      <p>
        <%= govuk_link_to(
              t("generic.change"), providers_legal_aid_application_means_employment_income_path(@legal_aid_application),
              class: "change-link"
            ) %>
      </p>
    <% end %>
  </div>
</div>
<dl id="employment-notes-questions" class="govuk-summary-list govuk-!-margin-bottom-9">

  <%= check_answer_no_link(
        name: :extra_employment_information,
        question: t(".employment_question.#{individual}"),
        answer: safe_yes_or_no(model.extra_employment_information?),
        read_only:,
      ) %>

  <% if model.extra_employment_information? %>
    <%= check_long_question_no_link(
          name: :extra_employment_information_details,
          question: t(".employment_details"),
          answer: model.extra_employment_information_details,
        ) %>
  <% end %>
</dl>
