<section class="print-no-break">
  <%= govuk_summary_card(title: heading,
                         heading_level: 3,
                         html_attributes: { id: "app-check-your-answers__income_result__card" }) do |card|
        card.with_summary_list(actions: false, html_attributes: { id: "app-check-your-answers__income_result__summary" }) do |summary_list|
          summary_list.with_row(html_attributes: { id: "app-check-your-answers__total_gross_income_assessed" }) do |row|
            row.with_key(text: t(".total_gross_income"), classes: "govuk-!-width-one-half")
            row.with_value(text: gds_number_to_currency(@legal_aid_application.cfe_result.combined_total_gross_income_assessed))
          end

          summary_list.with_row(html_attributes: { id: "app-check-your-answers__total_disposable_income_assessed" }) do |row|
            row.with_key(text: t(".total_disposable_income"), classes: "govuk-!-width-one-half")
            row.with_value(text: gds_number_to_currency(@legal_aid_application.cfe_result.total_disposable_income_assessed(partner: @legal_aid_application&.applicant&.has_partner_with_no_contrary_interest?)))
          end

          summary_list.with_row(html_attributes: { id: "app-check-your-answers__gross_income_limit" }) do |row|
            row.with_key(text: t(".gross_income_limit"), classes: "govuk-!-width-one-half")
            row.with_value(text: number_to_currency_or_na(@legal_aid_application.cfe_result.gross_income_upper_threshold))
          end

          summary_list.with_row(html_attributes: { id: "app-check-your-answers__disposable_income_lower_limit" }) do |row|
            row.with_key(text: t(".disposable_income_lower_limit"), classes: "govuk-!-width-one-half")
            row.with_value(text: gds_number_to_currency(@legal_aid_application.cfe_result.disposable_income_lower_threshold))
          end

          summary_list.with_row(html_attributes: { id: "app-check-your-answers__disposable_income_upper_limit_limit" }) do |row|
            row.with_key(text: t(".disposable_income_upper_limit"), classes: "govuk-!-width-one-half")
            row.with_value(text: number_to_currency_or_na(@legal_aid_application.cfe_result.disposable_income_upper_threshold))
          end

          summary_list.with_row(html_attributes: { id: "app-check-your-answers__disposable_income_contribution" }) do |row|
            row.with_key(text: t(".disposable_income_contribution"), classes: "govuk-!-width-one-half")
            row.with_value(text: gds_number_to_currency(@legal_aid_application.cfe_result.income_contribution))
          end
        end
      end %>
</section>
