<% no_border = no_border ? "govuk-summary-list--no-border" : "" %>
<div class="govuk-summary-list__row <%= no_border %>" id="app-check-your-answers__<%= name %>">
  <dt class="govuk-summary-list__key">
    <%= question %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= answer.presence || "-" %>
  </dd>
</div>
