<div class="govuk-summary-list__row normal-word-break" id="app-check-your-answers__<%= name.parameterize %>">
  <dt class="govuk-summary-list__key">
    <%= question %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= answer_for_transaction_type(legal_aid_application:, transaction_type:) %>
  </dd>
</div>
