<% no_border = no_border ? 'govuk-summary-list--no-border' : '' %>
<div class="govuk-summary-list__row <%= no_border %>" id="app-check-your-answers__<%= name %>">
  <dd class="govuk-summary-list__key">
    <%= question %>
  </dd>
  <dd class="govuk-summary-list__value">
    <%= answer.present? ? answer : '-' %>
  </dd>
</div>
