<% no_border = no_border ? 'govuk-summary-list--no-border' : '' %>
<div class="govuk-summary-list__row <%= no_border %> normal-word-break" id="app-check-your-answers__<%= name %>">
  <div class="govuk-summary-list__key">
    <%= question %>
  </div>
  <div class="govuk-summary-list__value">
    <%= answer.present? ? answer : '-' %>
  </div>
</div>
