<div class="govuk-summary-list__row normal-word-break" id="app-check-your-answers__<%= name %>">
  <div class="govuk-summary-list__value check-your-answers-question">
    <strong><%= question %></strong>
  </div>
  <div class="govuk-summary-list__value check-your-answers-answer">
    <%= answer.present? ? answer : '-' %>
  </div>
</div>
