<div class="govuk-summary-list__row normal-word-break" id="app-check-your-answers__<%= name %>">
  <div class="govuk-summary-list__value check-your-answers-question govuk-!-width-three-quarters">
    <strong><%= question %></strong>
  </div>
  <div class="govuk-summary-list__value check-your-answers-answer govuk-!-width-one-quarter">
    <%= answer.present? ? answer : '-' %>
  </div>
</div>
