<div class="govuk-grid-row" id="app-check-your-answers__<%= name %>">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= question %></h2>
  </div>
  <% unless read_only %>
      <div class="govuk-grid-column-one-third govuk-summary-list--no-border align-text-right">
        <p>
          <%= link_to_accessible(t('generic.change'), url, class: 'govuk-link change-link', suffix: question) %>
        </p>
      </div>
  <% end %>
</div>
