<section>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <%
      {
          housing: :moe_housing,
          childcare: :moe_childcare,
          maintenance_out: :moe_maintenance_out,
          legal_aid: :moe_legal_aid
      }.each do |name, value_method|
    %>
      <%= render 'shared/means_report/item', name: name, scope: 'outgoing', value_method: value_method, suppress_border: name == :legal_aid %>
    <% end %>
    <%= render 'shared/means_report/total', name: 'total_outgoings', value_method: :total_monthly_outgoings %>
  </dl>

</section>
