<% regular_transaction_amount, regular_transaction_frequency = regular_transaction_answer_by_type(legal_aid_application:, transaction_type:) %>
<div class="govuk-summary-list__row normal-word-break" id="app-check-your-answers__<%= name.parameterize %>">
  <dt class="govuk-summary-list__key">
    <%= question %>
  </dt>
  <dd class="govuk-summary-list__value">
    <p><%= regular_transaction_amount %></p>
    <p><%= regular_transaction_frequency %></p>
  </dd>
</div>
