<h3 class="govuk-heading-m"><%= t(".#{journey_type}.heading") %></h3>
<dl class="govuk-summary-list govuk-!-margin-bottom-0">
  <%= check_answer_link(
        name: :restrictions,
        url: check_answer_url_for(journey_type, :restrictions, @legal_aid_application),
        question: t(".#{journey_type}.question"),
        answer: yes_no(@legal_aid_application.has_restrictions),
        no_border: @legal_aid_application.has_restrictions?,
        read_only: read_only
      ) %>

</dl>

<% if @legal_aid_application.has_restrictions %>
  <div class="govuk-body wrap-text govuk-!-margin-bottom-4">
    <%= @legal_aid_application.restrictions_details %>
  </div>

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-width-full" style="width: 100%;">
<% end %>

<div class=" govuk-!-margin-bottom-9"></div>
