<h2 class="govuk-heading-m"><%= t(".#{journey_type}.heading#{individual}") %></h2>
<dl id="restrictions-on-clients-assets-questions" class="govuk-summary-list govuk-!-margin-bottom-0">
  <%= check_answer_link(
        name: :restrictions,
        url: check_answer_url_for(journey_type, :restrictions, @legal_aid_application),
        question: t(".#{journey_type}.question"),
        answer: yes_no(@legal_aid_application.has_restrictions),
        no_border: @legal_aid_application.has_restrictions?,
        read_only:,
      ) %>

  <% if @legal_aid_application.has_restrictions %>
      <%= check_answer_link(
            name: :restrictions_details,
            url: check_answer_url_for(journey_type, :restrictions, @legal_aid_application),
            question: t(".details"),
            answer: @legal_aid_application.restrictions_details,
            no_border: @legal_aid_application.has_restrictions?,
            read_only:,
          ) %>
<% end %>
</dl>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-width-full" style="width: 100%;">
<div class=" govuk-!-margin-bottom-9"></div>
