<li>
  <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">
              <img src="/assets/plus_icon.svg" />
            </span>
    <a class="govuk-body" href="<%= citizens_identify_types_of_income_path %>" aria-describedby="eligibility-completed">
      <%= t('.add_other_income') %>
    </a>
  </h2>
</li>
