<% if @legal_aid_applications.any? %>
  <%= govuk_table(html_attributes: { "data-module": "moj-sortable-table" }) do |table|
        table.with_caption(html_attributes: { class: "govuk-visually-hidden" }, text: t(".table_description"))

        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(html_attributes: { "aria-sort": "none" }, text: t("providers.legal_aid_applications.application_list.applicant_name"))
            row.with_cell(html_attributes: { "aria-sort": "descending" }, text: t("providers.legal_aid_applications.application_list.created_at"))
            row.with_cell(text: t("providers.legal_aid_applications.application_list.application_ref_html"))
            row.with_cell(html_attributes: { "aria-sort": "none" }, text: t("providers.legal_aid_applications.application_list.certificate_type"))
            if @scope.in? %i[in_progress voided]
              row.with_cell(text: t("providers.legal_aid_applications.application_list.action"))
            end
          end
        end

        table.with_body do |body|
          @legal_aid_applications.each do |application|
            name = @scope == :voided ? application.applicant_full_name : govuk_link_to(application.applicant_full_name, providers_legal_aid_application_resume_path(application))
            body.with_row do |row|
              row.with_cell(text: name, html_attributes: { "data-sort-value": application.applicant_full_name })
              row.with_cell(text: l(application.created_at.to_date, format: :short_date), html_attributes: { "data-sort-value": application.created_at.to_i })
              row.with_cell { application.application_ref }
              row.with_cell do
                if application.special_children_act_proceedings? && application.used_delegated_functions?
                  concat t("providers.legal_aid_applications.application_list.substantive")
                  concat tag.span(class: "govuk-body-s govuk-!-margin-bottom-0 govuk-!-display-block") {
                    t("providers.legal_aid_applications.application_list.backdated_to", date: l(application.used_delegated_functions_on, format: :short_date))
                  }
                elsif application.used_delegated_functions?
                  concat t("providers.legal_aid_applications.application_list.emergency")
                  if application.substantive_application_deadline_on? && application.summary_state == :in_progress
                    concat tag.span(class: "govuk-body-s govuk-!-margin-bottom-0 govuk-!-display-block") {
                      t("providers.legal_aid_applications.application_list.substantive_due", date: l(application.substantive_application_deadline_on, format: :short_date))
                    }
                  end
                else
                  t("providers.legal_aid_applications.application_list.substantive")
                end
              end
              if @scope.in? %i[in_progress voided]
                row.with_cell do
                  govuk_link_to(
                    t("providers.legal_aid_applications.application_list.delete"),
                    providers_legal_aid_application_delete_path(application),
                    secondary: true,
                    suffix: t("providers.legal_aid_applications.application_list.delete_suffix", reference: application.application_ref, applicant: application.applicant_full_name),
                  )
                end
              end
            end
          end
        end
      end %>
<% else %>
  <p class="govuk-body"><%= t(".no_applications_html") %></p>
<% end %>

<% if @scope == :in_progress && @voided_applications.any? %>
  <p class="govuk-body">
    <%= govuk_link_to "See applications you cannot submit", voided_providers_legal_aid_applications_path %>
  </p>
<% end %>

<% if @legal_aid_applications.any? %>
  <%= render "shared/partials/pagination", pagy: @pagy %>
<% end %>
