<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    <%= t('generic.errors.problem_text') %>
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <%= link_to_accessible @error, "#search_term" %>
      </li>
    </ul>
  </div>
</div>
