<tr class="legal_aid_application govuk-table__row">
  <td class="govuk-table__cell"><%= legal_aid_application.id %></td>
  <td class="govuk-table__cell"><%= legal_aid_application.created_at.to_s(:db) %></td>
  <td class="govuk-table__cell"><%= link_to t('generic.view'), url_for_application(legal_aid_application) %></td>
</tr>
