<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% unless @scope == :search %>
      <%= render MojComponent::SubNavigationComponent.new do |component|
            component.with_navigation_item(
              text: "In progress",
              href: in_progress_providers_legal_aid_applications_path,
              current: @scope == :in_progress,
            )
            component.with_navigation_item(
              text: "Submitted",
              href: submitted_providers_legal_aid_applications_path,
              current: @scope == :submitted,
            )
          end %>
    <% end %>
    <%= render "application_list", legal_aid_applications: @legal_aid_applications, pagy: @pagy %>
  </div>
</div>

<div id="screen-reader-messages" class="govuk-visually-hidden" aria-live="polite" aria-atomic="true" role="alert"></div>
