<% content_for :navigation do %>
  <%= link_to 'Home', providers_legal_aid_applications_path, class: 'govuk-back-link' %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">What does your client want legal aid for?</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Search for legal proceedings</h2>
    <span class="govuk-caption-m">For example by category of law, matter type or legal proceeding.</span>
  </div>
</div>

<div class="govuk-!-padding-bottom-2"></div>

<div class="govuk-grid-row search-field">
  <div class="govuk-grid-column-two-thirds">
    <input class="govuk-input" id="proceeding-search-input" name="proceeding-search-input" type="text" aria-describedby="offence-hint" />
  </div>

  <div class="govuk-!-padding-bottom-1"></div>

  <div class="govuk-grid-column-one-third">
      <a id="clear-proceeding-search" href="#" class="govuk-link govuk-!-font-size-19">Clear search</a>
  </div>
</div>

<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-grid-row">
  <div id="proceeding-list" class="govuk-grid-column-full">
    <%= render partial: 'proceeding_type', collection: @proceeding_types %>
  </div>
  <div class="govuk-grid-row no-proceeding-items" style="display: none;">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-body">No results found.</span>
    </div>
  </div>
</div>
