---
http_interactions:
- request:
    method: get
    uri: https://api.os.uk/search/places/v1/postcode?key=<ORDNANACE_SURVEY_API_KEY>&lr=EN&postcode=XX11XX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Tx-Id:
      - 1601039562327:327
      Status:
      - success
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.os.uk/search/places/v1/postcode?lr=EN&postcode=XX11XX",
            "query" : "postcode=XX11XX",
            "offset" : 0,
            "totalresults" : 0,
            "format" : "JSON",
            "dataset" : "DPA",
            "lr" : "EN",
            "maxresults" : 100,
            "epoch" : "78",
            "output_srs" : "EPSG:27700"
          }
        }
  recorded_at: Fri, 25 Sep 2020 13:12:42 GMT
recorded_with: VCR 6.0.0
