<li>
  <div class="app-task-list__section">
    <span class="app-task-list__section-number">
      <%= image_pack_tag('plus_icon.svg', alt: '') %>
    </span>
    <%= link_to_accessible t('.add_other_outgoings'), providers_legal_aid_application_identify_types_of_outgoing_path(@legal_aid_application), class: 'govuk-body' %>
  </div>
</li>
