@import "~govuk-frontend/govuk/settings/all";

#clear-search-div {
  padding-left: 15px;
  padding-top: 5px;
}

div.proceeding-item {
  margin-top: 20px;
  padding: 0px;
  border-bottom: 1px solid #ccc;
}

div.no-results {
  margin-left: 0px;
  font-family: "nta", Arial;
  font-size: 19px;
  padding-bottom: 20px;
}

.change-postcode-link {
  margin-left: .8em;
}

.button-as-link {
  background: none;
  color: $govuk-link-colour;
  border: none;
  padding: 0 !important;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  outline: none;

  &:focus {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    outline: 3px solid transparent;
    text-decoration: none;
  }
}

.govuk-header {
  .button-as-link {
    margin-left: 1em;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
  }
}

.govuk-details__summary.white_text {
  color: white;
}

a.black_text_on_focus{
  &:focus{ color: black; }
}
