@import "~govuk-frontend/govuk/settings/all";
@import "~govuk-frontend/govuk/helpers/all";

.proceeding-item {
  display: none;

  .control-column {
    text-align: right;
  }
}

.hover {
  background-color: #e7f4fb;
  cursor: pointer;
  padding-top: 2px;
}

.highlight {
  border-bottom: 3px solid #ffdd00;
  margin-right: 1px;
  background-color: #fff2d3;
  padding: 2px 0px 0px;
}

.selected-proceeding-types {
  .control-column {
    @include govuk-media-query($from: desktop) {
      text-align: right;
    }
  }
}

.govuk-link-right {
  float: right;
}
