---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/filter
    body:
      encoding: UTF-8
      string: '{"current_proceedings":["PBM40","PBM40E","PBM45","PBM45E"],"allowed_categories":["MAT"],"search_term":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cf26ca1ee8f9c63a951189dc0c043e1f"
    body:
      encoding: UTF-8
      string: '{"success":false,"data":[]}'
  recorded_at: Thu, 13 Mar 2025 13:59:00 GMT
recorded_with: VCR 6.3.1
