---
http_interactions:
- request:
    method: get
    uri: https://api.os.uk/search/places/v1/postcode?key=<ORDNANCE_SURVEY_API_KEY>&lr=EN&postcode=XX11XX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Omse-Category:
      - premium
      Omse-Transaction-Count:
      - '60'
      Omse-Premium-Count:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"header\" : {\r\n    \"uri\" : \"https://api.os.uk/search/places/v1/postcode?lr=EN&postcode=XX11XX\",\r\n
        \   \"query\" : \"postcode=XX11XX\",\r\n    \"offset\" : 0,\r\n    \"totalresults\"
        : 0,\r\n    \"format\" : \"JSON\",\r\n    \"dataset\" : \"DPA\",\r\n    \"lr\"
        : \"EN\",\r\n    \"maxresults\" : 100,\r\n    \"epoch\" : \"108\",\r\n    \"lastupdate\"
        : \"2024-03-04\",\r\n    \"output_srs\" : \"EPSG:27700\"\r\n  }\r\n}"
  recorded_at: Tue, 05 Mar 2024 14:49:05 GMT
recorded_with: VCR 6.2.0
