---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","personalisation":{"created_at":"Wed,
        16 Jan 2019 07:26:58 +0000","user_data":"Windows - Opera 8.8.1 - Unknown","done_all_needed":"false","satisfaction":"very_satisfied","improvement_suggestion":"Quia
        error perferendis. Nam ipsa odit. Fuga magnam fugit."}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxNjF9.VZzxBJ9_TPd1ANrOe9WCnJBGu-70x9OFLV9Ef4dFcHU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - e6b7e353-b3f5-4e59-56c0-dea18d83aabe
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Apply for Legal Aid Feedback - DEV\r\n\r\nWed,
        16 Jan 2019 07:26:58 +0000\r\n\r\nThe following feedback has been received:\r\n\r\n*
        Windows - Opera 8.8.1 - Unknown\r\n* Were you able to do what you needed today?
        false\r\n* How satisfied were you with this service? very_satisfied\r\n\r\nHow
        could we improve this service?\r\n\r\n---\r\nQuia error perferendis. Nam ipsa
        odit. Fuga magnam fugit.","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid Feedback \u2013 DEV"},"id":"02da9220-869f-4cc0-88f5-1f13c3863ec9","reference":null,"scheduled_for":null,"template":{"id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/ac458f81-b7dd-4b2c-944c-3f17d2f2392c","version":9},"uri":"https://api.notifications.service.gov.uk/v2/notifications/02da9220-869f-4cc0-88f5-1f13c3863ec9"}

        '
  recorded_at: Mon, 10 Jun 2019 10:39:21 GMT
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"570e1b9d-6238-45fd-b75c-96f2f39db8e9","personalisation":{"application_url":"/applications/123/citizen/start","client_name":"Pierre
        Gerhold","ref_number":"2523f3eb5dd584a6361ef3b251796db7"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxNjF9.VZzxBJ9_TPd1ANrOe9WCnJBGu-70x9OFLV9Ef4dFcHU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 0dede434-4080-4609-4750-97d06f0e6852
    body:
      encoding: U[...]
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"a577582b-3e60-44a4-885c-d4b12bf23958","personalisation":{"applicant_name":"Alfonso
        Deckow","provider":"712ec178-8165-429f-aa61-2f3efc850180","application_ref":"54dd26ce3beeb83bf3d52bcbda69cf08","requested_at":"10:39
        10-Jun-2019"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxNjJ9.7KyI8_WfJ2Qf6HW94Eg3XcytbI-OpHu7UpOoWFzWZjc
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 416b2265-7129-4084-65c9-4f9c13213133
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Applicant is requesting a new link to access
        their application\r\n\r\n* name: Alfonso Deckow\r\n* provider: 712ec178-8165-429f-aa61-2f3efc850180\r\n*
        application reference: 54dd26ce3beeb83bf3d52bcbda69cf08\r\n* requested: 10:39
        10-Jun-2019","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid \u2013 Applicant request for new link"},"id":"8afed569-c0ef-4b4d-b5d8-8312446fc928","reference":null,"scheduled_for":null,"template":{"id":"a577582b-3e60-44a4-885c-d4b12bf23958","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/a577582b-3e60-44a4-885c-d4b12bf23958","version":1},"uri":"https://api.notifications.service.gov.uk/v2/notifications/8afed569-c0ef-4b4d-b5d8-8312446fc928"}

        '
  recorded_at: Mon, 10 Jun 2019 10:39:23 GMT
recorded_with: VCR 5.0.0
