---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","personalisation":{"created_at":"Wed,
        28 Nov 2018 22:42:03 +0000","user_data":"Mac - Safari 2.9.2 - Providers","done_all_needed":"true","satisfaction":"very_dissatisfied","improvement_suggestion":"Minus
        vel dignissimos. Commodi adipisci et. Saepe est fugit."}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxNjd9.D2GbY5mIR3jo0jZJXxHHPhEU3YP3ahgg3QeEjrKAb7o
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 449d6cbf-0967-4524-718a-2dc0e988cc36
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Apply for Legal Aid Feedback - DEV\r\n\r\nWed,
        28 Nov 2018 22:42:03 +0000\r\n\r\nThe following feedback has been received:\r\n\r\n*
        Mac - Safari 2.9.2 - Providers\r\n* Were you able to do what you needed today?
        true\r\n* How satisfied were you with this service? very_dissatisfied\r\n\r\nHow
        could we improve this service?\r\n\r\n---\r\nMinus vel dignissimos. Commodi
        adipisci et. Saepe est fugit.","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid Feedback \u2013 DEV"},"id":"7d3ddd19-2bdf-42ea-9204-fa94540d8a61","reference":null,"scheduled_for":null,"template":{"id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/ac458f81-b7dd-4b2c-944c-3f17d2f2392c","version":9},"uri":"https://api.notifications.service.gov.uk/v2/notifications/7d3ddd19-2bdf-42ea-9204-fa94540d8a61"}

        '
  recorded_at: Mon, 10 Jun 2019 10:39:28 GMT
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"570e1b9d-6238-45fd-b75c-96f2f39db8e9","personalisation":{"application_url":"/applications/123/citizen/start","client_name":"Vince
        Block","ref_number":"745d209ec68bd0ac56895b9e37e5102b"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxNjh9.M1NJymeTr1A33udVMVu8F7Kt-3usZIoAJ4TIfduv510
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 6e92147a-1922-4430-6fd2-f3cc28f497cf
    body:
      encoding: U[...]
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"a577582b-3e60-44a4-885c-d4b12bf23958","personalisation":{"applicant_name":"Shantel
        Franecki","provider":"8e6ba234-cd8a-4ba9-b6c9-4467f5039e8c","application_ref":"b0552eb1b6f12c04b8f4b6640bb81ee9","requested_at":"10:39
        10-Jun-2019"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxNjh9.M1NJymeTr1A33udVMVu8F7Kt-3usZIoAJ4TIfduv510
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - f03f4f4f-7aff-4026-6f24-f221c0b75418
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Applicant is requesting a new link to access
        their application\r\n\r\n* name: Shantel Franecki\r\n* provider: 8e6ba234-cd8a-4ba9-b6c9-4467f5039e8c\r\n*
        application reference: b0552eb1b6f12c04b8f4b6640bb81ee9\r\n* requested: 10:39
        10-Jun-2019","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid \u2013 Applicant request for new link"},"id":"220eea87-66fa-4354-a439-3675c6592103","reference":null,"scheduled_for":null,"template":{"id":"a577582b-3e60-44a4-885c-d4b12bf23958","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/a577582b-3e60-44a4-885c-d4b12bf23958","version":1},"uri":"https://api.notifications.service.gov.uk/v2/notifications/220eea87-66fa-4354-a439-3675c6592103"}

        '
  recorded_at: Mon, 10 Jun 2019 10:39:29 GMT
recorded_with: VCR 5.0.0
