---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","personalisation":{"created_at":"Sun,
        21 Apr 2019 04:59:43 +0000","user_data":"Windows - Opera 0.0.4 - Unknown","done_all_needed":"false","satisfaction":"dissatisfied","improvement_suggestion":"Et
        voluptate et. Sunt in minus. Quod et quis."}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxNjN9.Nv-YQTQohA2uNKLTZBoZRrv36khoFet47tOmFygnlNY
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 68c2def3-3859-41c0-71ef-821825639ff3
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Apply for Legal Aid Feedback - DEV\r\n\r\nSun,
        21 Apr 2019 04:59:43 +0000\r\n\r\nThe following feedback has been received:\r\n\r\n*
        Windows - Opera 0.0.4 - Unknown\r\n* Were you able to do what you needed today?
        false\r\n* How satisfied were you with this service? dissatisfied\r\n\r\nHow
        could we improve this service?\r\n\r\n---\r\nEt voluptate et. Sunt in minus.
        Quod et quis.","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid Feedback \u2013 DEV"},"id":"d63883a5-fa07-406d-8bde-238e193778c8","reference":null,"scheduled_for":null,"template":{"id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/ac458f81-b7dd-4b2c-944c-3f17d2f2392c","version":9},"uri":"https://api.notifications.service.gov.uk/v2/notifications/d63883a5-fa07-406d-8bde-238e193778c8"}

        '
  recorded_at: Mon, 10 Jun 2019 10:39:24 GMT
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"570e1b9d-6238-45fd-b75c-96f2f39db8e9","personalisation":{"application_url":"/applications/123/citizen/start","client_name":"Virgie
        Gerlach","ref_number":"7b015d04decddfa3d32d976f70d76532"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxNjR9.RcaMkXN1AO7nGYGhKOwAHBlTsbvzOKROon4o-4I2O3c
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - e531bdae-2c7f-4ebe-6c31-5d7012c39b39
    body:
      encoding: U[...]
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"a577582b-3e60-44a4-885c-d4b12bf23958","personalisation":{"applicant_name":"Harris
        Donnelly","provider":"8aee3fff-1dc7-4dac-bea6-4ae4f4e955be","application_ref":"6e21248116a3527a7c152af1246115f1","requested_at":"10:39
        10-Jun-2019"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxNjV9.8cIKhddie9CzZKzqpW0oX8C_Pm9t_7s8_o_cPq_rhqY
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - b1a41ba2-dff3-4b6e-7c13-dd9f5dafbb4e
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Applicant is requesting a new link to access
        their application\r\n\r\n* name: Harris Donnelly\r\n* provider: 8aee3fff-1dc7-4dac-bea6-4ae4f4e955be\r\n*
        application reference: 6e21248116a3527a7c152af1246115f1\r\n* requested: 10:39
        10-Jun-2019","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid \u2013 Applicant request for new link"},"id":"c84c15d3-42d4-406c-af01-35e73589a5c9","reference":null,"scheduled_for":null,"template":{"id":"a577582b-3e60-44a4-885c-d4b12bf23958","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/a577582b-3e60-44a4-885c-d4b12bf23958","version":1},"uri":"https://api.notifications.service.gov.uk/v2/notifications/c84c15d3-42d4-406c-af01-35e73589a5c9"}

        '
  recorded_at: Mon, 10 Jun 2019 10:39:27 GMT
recorded_with: VCR 5.0.0
