<% content_for(:navigation) { back_link } %>
<% content_for(:page_title) { t('.h1-heading') } %>

<%= render partial: 'shared/forms/error_summary', locals: { model: @form } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= content_for(:page_title) %></h1>

    <%= render partial: '/shared/forms/other_assets/form',
               locals: {
                 model: @form,
                 url: citizens_other_assets_path
               } %>

  </div>
</div>
