@use "./imports" as *;

.admin-page {
  .app-navigation {
    @media (min-width: 40.0625em) {
      margin-top: -1em;
    }
  }

  .app-navigation .app-navigation__list {
    padding: 0;
  }

  .app-navigation .app-navigation__list li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .app-navigation .app-navigation__list li a {
    padding: .5em 2em;
    background-color: #f3f2f1;
  }

  .app-navigation .app-navigation__list .current-page a {
    color: govuk-colour("white");
    background-color: govuk-colour("black");
  }
}
