$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-new-typography-scale: true;
$govuk-assets-path: "/";

@import "govuk-frontend/dist/govuk/index";

// Project specific

// Everything below this comment should be project specific.
// If you absolutely need to override gov.uk styles, don't,
// instead create new classes or ids with a prefix based on the app name.

@import "admin";
@import "bank-selection";
@import "check-your-answers";
@import "govuk-mods";
@import "helpers";
@import "interruption-panel";
@import "language-switcher";
@import "layout";
@import "long-email-truncation";
@import "modal-dialogue";
@import "dropzone";
@import "no-wrap";
@import "pagination";
@import "print-styles";
@import "submissions";
@import "table-sort";
@import "tables";
@import "sort-transactions";
@import "width-style-correction";
@import "citizens/spinner";
@import "providers/legal_aid_applications";
@import "providers/search_results";
@import "dropzone/src/dropzone";
@import "dropzone/src/basic";
@import "providers/summary_list_action_width";
@import "accessible-autocomplete/src/autocomplete";
