@import "govuk-frontend/settings/all";
@import "govuk-frontend/tools/all";
@import "govuk-frontend/helpers/all";
$govuk-fonts-path: "/assets/";

// Recommended - Use these styles for the check your answers pattern
.app-check-your-answers {
  @include govuk-font(19);
  @include govuk-responsive-margin(3, "bottom");
  border-top: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(3, "top");

  .govuk-grid-row div:first-child {
    font-weight: bold;
  }

  .align_right {
    @include govuk-media-query($from: desktop) {
      text-align: right;
    }
  }
}

.app-check-your-answers--long {
  @include govuk-font(19);
  @include govuk-responsive-margin(3, "bottom");
  border-top: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(3, "top");

  .govuk-grid-row div:first-child {
    font-weight: bold;
    width: 50%;
  }

  .govuk-grid-row div:nth-child(2) {
    width: 25%;
  }

  .govuk-grid-row div:last-child {
    width: 25%;
  }

  .align_right {
    @include govuk-media-query($from: desktop) {
      width: 100%;
      text-align: right;
    }
  }
}

.govuk-summary-list__key {
  min-width: 8em;
}

.normal-word-break {
  .govuk-summary-list__value {
    word-break: normal;
    padding-right: 1px;
  }

  .govuk-summary-list__key {
    word-break: normal;
    padding-right: 1px;
  }
}

.check-your-answers-question {
  width: 90%;
}

.check-your-answers-answer {
  text-align: right;
}

.align-change-link-right {
  text-align: right;
}
