@import "govuk-frontend/settings/all";
@import "govuk-frontend/tools/all";
@import "govuk-frontend/helpers/all";
$govuk-fonts-path: "/assets/";

// Recommended - Use these styles for the check your answers pattern
.app-check-your-answers {
  @include govuk-font(19);
  @include govuk-responsive-margin(3, "bottom");
  border-top: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(3, "top");

  .govuk-grid-row div:first-child {
    font-weight: bold;
  }


  .align_right {
    @include govuk-media-query($from: desktop) {
      text-align: right;
    }
  }
}
