  /*
  Used with:
    <div class="govuk-currency-input">
      <div class="govuk-currency-input__inner">
        <span class="govuk-currency-input__inner__unit">£</span>
        <%= form.text_field :field_name, class: 'govuk-input govuk-currency-input__inner__input' %>
      </div>
    </div>
  */
.govuk-currency-input {
  &__inner {
    position: relative;

    &__unit {
      position: absolute;
      left: 10px;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.25;
      padding-top: 10px;
    }

    &__input.govuk-input {
      padding-left: 25px;
    }
  }
}

@media (min-width: 40.0625em) {
  .govuk-currency-input__inner__unit {
    font-size: 19px;
    line-height: 1.3157894737;
    padding-top: 5px;
  }
}
@media print {
  .govuk-currency-input__inner__unit {
    font-size: 14pt;
    line-height: 1.15;
  }
}
