// stylelint-disable selector-no-qualifying-type

dl.govuk-list.inline-list {
  dt:before {
    content: "";
    display: block;
  }

  dt,
  dd {
    display: inline;
  }

  dd {
    margin-inline-start: .1em;
  }
}

.govuk-panel {
  dl.govuk-list {
    color: govuk-colour("white");
    font-size: inherit;
  }
}

// Start button IE11 fix - adding a width of 15.5px to the SVG (AP-933)
.govuk-button__start-icon {
  width: 15.5px;
}

// stylelint-enable selector-no-qualifying-type
