// stylelint-disable selector-no-qualifying-type

dl.govuk-list.inline-list {
  dt:before {
    content: "";
    display: block;
  }

  dt,
  dd {
    display: inline;
  }

  dd {
    margin-inline-start: .1em;
  }
}

.govuk-table {
  .no-border-bottom {
    border-bottom: none;
  }
}

.govuk-panel {
  dl.govuk-list {
    color: govuk-colour("white");
    font-size: inherit;
  }
}

// stylelint-enable selector-no-qualifying-type
