.govuk-button.govuk-secondary-button {
  color: #0b0c0c;
  background-color: govuk-colour("light-grey");
  box-shadow: 0 2px 0 #b5babe;
}

.govuk-button.govuk-secondary-button:active,
.govuk-button.govuk-secondary-button:hover,
.govuk-button.govuk-secondary-button:focus {
  color: #0b0c0c;
  background-color: #d0d3d6;
}

.govuk-button--disabled.govuk-secondary-button:hover,
.govuk-button[disabled="disabled"].govuk-secondary-button[disabled="disabled"]:hover,
.govuk-button[disabled].govuk-secondary-button[disabled]:hover .govuk-button--disabled.govuk-secondary-button,
.govuk-button[disabled="disabled"].govuk-secondary-button[disabled="disabled"],
.govuk-button[disabled].govuk-secondary-button[disabled] {
  background: #f3f2f1;
}

.form-button {
  margin-right: 15px;
}
