// stylelint-disable declaration-no-important
@use "./imports" as *;

.small-loading-image {
  height: 22px;
  vertical-align: middle;
}

.hidden {
  display: none !important;
}

.display-none {
  display: none;
}

.wrap-text {
  word-break: break-all;
  word-break: break-word;
}

.only-print,
.only-print * {
  display: none !important;
}

.app-print-only {
  display: none !important;
  page-break-before: always;

  @include govuk-media-query($media-type: print) {
    display: inherit !important;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  .only-print,
  .only-print * {
    display: inherit !important;
  }
}

.page_break_before {
  page-break-before: always;
}

.show-empty {
  min-height: 1px;
}

.app-counter-list {
  counter-reset: list;
}

.app-counter::before {
  counter-increment: list;
  content: counter(list) ". ";
}
// stylelint-enable declaration-no-important
