.small-loading-image {
  height: 22px;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.wrap-text {
  word-break: break-all;
  word-break: break-word;
}

.only-print, .only-print * {
  display: none !important;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
  .only-print, .only-print * {
    display: inherit !important;
  }
}

.page_break_before {
  page-break-before: always;
}

.show-empty {
  min-height: 1px
}
