// stylelint-disable selector-max-id, selector-no-qualifying-type

.interruption-panel {
  padding: 30px;
  background-color: #1d70b8;

  p,
  h1,
  h2,
  ul,
  label {
    color: govuk-colour("white");
  }

  label {
    font-size: 24px;
  }

  .govuk-error-summary,
  .govuk-error-message {
    display: none;
  }

  .govuk-error-summary + .govuk-grid-row .govuk-form-group {
    padding-left: 15px;
    border-left: 5px solid govuk-colour("white");
  }

  h2 {
    font-size: 28px;
  }

  .maximize-text-width {
    padding: 1em 0;
    float: none;
  }

  .govuk-radios__label::before,
  & ::after {
    border-color: govuk-colour("black");
    color: govuk-colour("black");
    background-color: govuk-colour("white");
  }

  .govuk-inset-text {
    border-left: $govuk-border-width-wide solid govuk-colour("white");
    color: govuk-colour("white");
  }

  .govuk-list--bullet{
    a:visited{
      color: govuk-colour("white");
    }
  }
}

@media (min-width: 769px) {
  .interruption-panel {
    padding: 60px;
  }
}

// stylelint-enable selector-max-id, selector-no-qualifying-type
