// stylelint-disable selector-max-id, selector-no-qualifying-type

.interruption-panel {
  padding: 30px;
  background-color: #1d70b8;

  p,
  h1,
  h2,
  ul,
  label,
  a,
  a:link,
  a:visited {
    color: govuk-colour("white");
  }

  label {
    font-size: 24px;
  }

  .govuk-error-summary,
  .govuk-error-message {
    display: none;
  }

  .govuk-error-summary + .govuk-grid-row .govuk-form-group {
    padding-left: 15px;
    border-left: 5px solid govuk-colour("white");
  }

  h2 {
    font-size: 28px;
  }

  .maximize-text-width {
    padding: 1em 0;
    float: none;
  }

  #continue,
  a.white-button,
  button.white-button {
    color: #1d70b8;
    background: #ffffff;
    box-shadow: 0 2px 0 #001526;
    font-weight: bold;

    &:focus {
      background-color: #ffdd00;
    }

    &:active {
      box-shadow: inset 0 0 0 1px #ffdd00;
    }

    &:hover {
      background-color: #d0d3d6;
    }
  }

  .govuk-radios__label:before,
  & :after {
    border-color: govuk-colour("black");
    color: govuk-colour("black");
    background-color: govuk-colour("white");
  }

  .govuk-inset-text {
    border-left: $govuk-border-width-wide solid govuk-colour("white");
    color: govuk-colour("white");
  }
}
@media (min-width: 769px) {
  .interruption-panel {
    padding: 60px;
  }
}

// stylelint-enable selector-max-id, selector-no-qualifying-type
