.interruption-panel {
  background-color:#1d70b8;
  padding:30px;

  p,h1,h2,ul {
    color: #fff;
  }

  a, a:link, a:visited {
    color: #fff;
  }

  h2 {
    font-size:28px;
  }

  .maximize-text-width {
    padding: 1em 0;
    float: none;
  }

  #continue, a.white-button, button.white-button {
    color: #1d70b8;
    background: #fff;
    font-weight: bold;
    box-shadow: 0 2px 0 #001526;

    &:focus {
      background-color:#ffdd00;
    }

    &:active {
      box-shadow: inset 0 0 0 1px #ffdd00;
    }

    &:hover {
      background-color: #d0d3d6;
    }
  }

}
@media (min-width: 769px) {
  .interruption-panel {
    padding:60px;
  }
}
