/********
All screens
/********/

#navigation>li {
  max-width:100%;
  overflow:hidden;
  text-overflow: ellipsis;
  &:focus-within {
    color:#0b0c0c;
  }
}

/********
Approx 770px+
/********/

@media (min-width: 48.0625em) {
  #navigation>li {
    max-width:calc(50vw - 101px - 30px - 76px - 30px);
    vertical-align:top;
  }
}

/********
1020px+
(as per the govuk-width-container style)
/********/

@media (min-width: 1020px) {
  #navigation>li {
    max-width: 312px;
  }
}
