// modal (background overlay)
.modal {
  display: block;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .4);
}

// modal content
.modal-content {
  width: 40%;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888888;
  background-color: #fefefe;
}

// close button
.close {
  float: right;
  color: #575757;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: govuk-colour("black");
  text-decoration: none;
  cursor: pointer;
}
