@use "./imports" as *;

.app-pagination__container .app-pagination__info {
  text-align: center;

  @include govuk-media-query($from: tablet) {
    float: right;
    line-height: 2em;
    text-align: right;
  }
}
