// stylelint-disable declaration-no-important, selector-max-id, selector-no-qualifying-type

#print-logo {
  display: none;
  padding-bottom: 12mm;
  font-family: sans-serif;
  font-size: 8.45mm;
  font-weight: 700;
  line-height: 16mm;

  img {
    display: inline;
    position: relative;
    top: .2em;
    height: 10mm;
  }
}

@media print {
  main {
    width: 200mm;
  }

  .govuk-heading-xl {
    font-size: 8.45mm !important;
  }

  .govuk-heading-l {
    font-size: 6.9mm !important;
  }

  dl,
  tr,
  p.govuk-body,
  .govuk-body > p,
  .govuk-list {
    font-size: 4.25mm !important;
  }

  .income_payments_and_assets td:first-child {
    font-weight: bold;
  }

  .print-bottom-gap {
    padding-bottom: 3.5em;
  }

  #print-logo {
    display: inline;
  }

  .govuk-grid-column-two-thirds {
    width: 100% !important;
  }

  header {
    display: none;
  }

  dl.govuk-summary-list {
    .govuk-summary-list__key,
    .govuk-summary-list__value {
      display: table-cell;
      padding-top: 2.65mm;
      padding-bottom: 2.65mm;
      text-align: left;
    }
  }

  .print-position-correction {
    position: relative;
    top: 7mm;
  }

  section.print-no-break,
  dl,
  h2 {
    break-inside: avoid;
  }

  .print-header-wrapper {
    position: relative;
  }

  dl.govuk-list.inline-list.print-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 8.5mm;
    width: 100%;
    background-color: #ffffff;
    font-size: 3.7mm;

    & > dt::before {
      display: inline;
    }

    & > dd::after {
      content: "";
      padding-right: 2em;
    }
  }

  .print-remove-border,
  .print-remove-border * {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }

  .open-banking-guidance-img {
    max-width: 200px;
    height: auto;
  }
}

@page {
  margin-top: 10mm;
  margin-bottom: 10mm;
  size: 200mm 275mm;
}

@media print and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // IE10+ CSS styles
  .print-header-wrapper {
    position: static;
  }
}

// stylelint-enable declaration-no-important, selector-max-id, selector-no-qualifying-type
