p.table-category {
  padding: 4px 1px 1px;
  color: #1d70b8;
  border: 2px solid;
  margin: 0 1px 2px;
  background: white;
  white-space: nowrap;
  text-transform:none;
  text-align:center;
}

.table-category.table-category-vacant {
  visibility: hidden;
  &.table-category-preview {
    visibility: visible;
  }
}
.govuk-table__cell.tag-cell {
  text-align:center;
}

@media (min-width: 555px) {
  p.table-category {
    padding: 4px 3px 1px;
  }
}
@media (min-width: 655px) {
  p.table-category {
    padding: 4px 8px 1px;
  }
}
