---
http_interactions:
- request:
    method: get
    uri: https://laa-provider-details-api-uat.apps.live.cloud-platform.service.justice.gov.uk/provider-user/DT_SCRIPT_USER1/provider-offices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authorization:
      - "<PROVIDER_DETAILS_API_AUTH_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"firm":{"firmId":3959183,"firmNumber":"50736","ccmsFirmId":0,"firmName":"DT
        SCRIPT PROVIDER 1"},"user":{"userId":454031,"ccmsContactId":0,"userLogin":"DT_SCRIPT_USER1","name":"Dts
        User1"},"officeCodes":[{"firmOfficeCode":"2Q242F","ccmsProviderOfficeId":34406595}]}'
  recorded_at: Wed, 21 Aug 2024 07:03:02 GMT
recorded_with: VCR 6.2.0
