<div class="moj-banner moj-banner--success" role="alert">
  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
  </svg>
  <div class="moj-banner__message">
    <span class="moj-banner__assistive"><%= t('generic.success') %></span><%= @successfully_deleted %>
  </div>
</div>
