<% field_name="check_box_#{name}"
   model.__send__("#{field_name}=", model.send(field_name).present?)
   error_class=nil %>

<%= form.govuk_check_box field_name, true, '', link_errors: true, multiple: false, label: {text: controller_t("check_box_#{name}")} do %>
  <span class="govuk-hint"><% t(".#{journey_type}.#{controller_name}.hint") %></span>
  <% (1..number_of_fields).each do |number| %>
    <% error=model.errors.messages["#{name}#{number}".to_sym][0] %>
    <% if error %>
      <% error_class='govuk-form-group--error'
         error_id = "#{model.model_name.to_s.underscore.dasherize}-#{name.dasherize}#{number}" %>
      <span class='govuk-error-message' id="<% error_id %>"><%= error %></span>
    <% end %>
    <%= form.govuk_text_field "#{name}#{number}",
      label: {text: model.period(number)},
      value: gds_number_to_currency(model.__send__("#{name}#{number}"), unit: ''),
      prefix_text: defined?(input_prefix) ? input_prefix : nil,
      form_group: {classes: error_class},
      width: 'one-third' %>
  <% end %>
<% end %>
