---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_type_defaults
    body:
      encoding: UTF-8
      string: '{"proceeding_type_ccms_code":"SE014","delegated_functions_used":true,"client_involvement_type":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"errors":["The property ''#/client_involvement_type''
        value nil did not match one of the following values: A, D, W, Z, I in schema
        file://#"]}'
  recorded_at: Mon, 07 Jul 2025 15:07:41 GMT
recorded_with: VCR 6.3.1
