---
http_interactions:
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/organisation_searches/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5bc0fa14cb3e32c7a536f27724705201"
    body:
      encoding: UTF-8
      string: '[{"name":"2gether NHS Foundation Trust","ccms_opponent_id":"380755","ccms_type_text":"National
        Health Service","ccms_type_code":"NHS"},{"name":"5 Boroughs Partnership NHS
        Foundation Trust","ccms_opponent_id":"380756","ccms_type_text":"National Health
        Service","ccms_type_code":"NHS"},{"name":"Acklington","ccms_opponent_id":"378922","ccms_type_text":"HM
        Prison or Young Offender Institute","ccms_type_code":"HMO"},{"name":"Aintree
        University Hospital NHS Trust","ccms_opponent_id":"380757","ccms_type_text":"National
        Health Service","ccms_type_code":"NHS"},{"name":"Airedale NHS Foundatio[...]
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/organisation_types/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6f0aecf3c20f8f5e70a8bda15e4b2f63"
    body:
      encoding: UTF-8
      string: '[{"ccms_code":"CHAR","description":"Charity"},{"ccms_code":"CO","description":"Court"},{"ccms_code":"GOVT","description":"Government
        Department"},{"ccms_code":"HMO","description":"HM Prison or Young Offender
        Institute"},{"ccms_code":"HOA","description":"Housing Association"},{"ccms_code":"IRC","description":"Immigration
        Removal Centre"},{"ccms_code":"LTD","description":"Limited Company"},{"ccms_code":"LLP","description":"Limited
        Liability Partnership"},{"ccms_code":"LA","description":"Local Authority"},{"ccms_code":"NHS","description":"National
        Health Service"},{"ccms_code":"PART","description":"Partnership"},{"ccms_code":"POLICE","description":"Police
        Authority"},{"ccms_code":"PLC","description":"Public Limited Company"},{"ccms_code":"SOLE","description":"Sole
        Trader"}]'
  recorded_at: Fri, 31 Jan 2025 16:23:41 GMT
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/organisation_types/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6f0aecf3c20f8f5e70a8bda15e4b2f63"
    body:
      encoding: UTF-8
      string: '[{"ccms_code":"CHAR","description":"Charity"},{"ccms_code":"CO","description":"Court"},{"ccms_code":"GOVT","description":"Government
        Department"},{"ccms_code":"HMO","description":"HM Prison or Young Offender
        Institute"},{"ccms_code":"HOA","description":"Housing Association"},{"ccms_code":"IRC","description":"Immigration
        Removal Centre"},{"ccms_code":"LTD","description":"Limited Company"},{"ccms_code":"LLP","description":"Limited
        Liability Partnership"},{"ccms_code":"LA","description":"Local Authority"},{"ccms_code":"NHS","description":"National
        Health Service"},{"ccms_code":"PART","description":"Partnership"},{"ccms_code":"POLICE","description":"Police
        Authority"},{"ccms_code":"PLC","description":"Public Limited Company"},{"ccms_code":"SOLE","description":"Sole
        Trader"}]'
  recorded_at: Fri, 31 Jan 2025 16:23:42 GMT
recorded_with: VCR 6.3.1
