---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-UHT-BHU","submission_date":"2020-03-05","matter_proceeding_type":"domestic_abuse"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aeb21dd8d6c51740c1dddf2bc422c7b7"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"objects":[{"id":"656aad34-cab7-41e4-9a22-ae5ddb629dd2","client_reference_id":"L-UHT-BHU","remote_ip":{"family":2,"addr":1377660346,"mask_addr":4294967295},"created_at":"2020-03-05T15:36:45.261Z","updated_at":"2020-03-05T15:36:45.261Z","submission_date":"2020-03-05","matter_proceeding_type":"domestic_abuse","assessment_result":"pending"}],"errors":[]}'
  recorded_at: Thu, 05 Mar 2020 15:36:45 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/656aad34-cab7-41e4-9a22-ae5ddb629dd2/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1980-01-10","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"efb4e823dbce2ccd2cf2dff7d7ee9c34"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"793e6e67-7b66-4981-90dd-b5ed7c0d3657","assessment_id":"656aad34-cab7-41e4-9a22-ae5ddb629dd2","date_of_birth":"1980-01-10","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":true,"created_at":"2020-03-05T15:36:45.437Z","updated_at":"2020-03-05T15:36:45.437Z","self_employed":false}],"errors":[],"success":true}'
  recorded_at: Thu, 05 Mar 2020 15:36:45 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/656aad34-cab7-41e4-9a22-ae5ddb629dd2/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[{"description":"Money not in a bank account","value":"10000.0"}],"non_liquid_capital":[{"description":"Land","value":"50000.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c3bd438e4985e6f7e18ec87eb65e1578"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"id":"6c710233-1507-4d20-a102-036d9bc6e554","assessment_id":"656aad34-cab7-41e4-9a22-ae5ddb629dd2","total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"0.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","capital_contribution":"0.0","lower_threshold":"0.0","upper_threshold":"0.0","assessment_result":"pending","created_at":"2020-03-05T15:36:45.264Z","updated_at":"2020-03-05T15:36:45.264Z"},"errors":[],"success":true}'
  recorded_at: Thu, 05 Mar 2020 15:36:45 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/656aad34-cab7-41e4-9a22-ae5ddb629dd2/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7eb7dee5a8f69a7b4580e1e2bd9fa86a"
    body:
      encoding: ASCII-8BIT
      string: '{"vehicles":[],"errors":[],"success":true}'
  recorded_at: Thu, 05 Mar 2020 15:36:45 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/656aad34-cab7-41e4-9a22-ae5ddb629dd2/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":"200000.0","outstanding_mortgage":"100000.0","percentage_owned":"50.0","shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0fe0f0708604c261b7d93dc47ebecd73"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"e6e6a639-6f37-45e6-96a2-bdfe3d8059eb","value":"200000.0","outstanding_mortgage":"100000.0","percentage_owned":"50.0","main_home":true,"shared_with_housing_assoc":false,"created_at":"2020-03-05T15:36:45.807Z","updated_at":"2020-03-05T15:36:45.807Z","capital_summary_id":"6c710233-1507-4d20-a102-036d9bc6e554","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","assessed_equity":"0.0","main_home_equity_disregard":"0.0"},{"id":"ba54a751-843c-4818-b1f5-6840f2559128","value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"created_at":"2020-03-05T15:36:45.812Z","updated_at":"2020-03-05T15:36:45.812Z","capital_summary_id":"6c710233-1507-4d20-a102-036d9bc6e554","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","assessed_equity":"0.0","main_home_equity_disregard":"0.0"}],"errors":[],"success":true}'
  recorded_at: Thu, 05 Mar 2020 15:36:45 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/656aad34-cab7-41e4-9a22-ae5ddb629dd2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ea7f29fa55fe6f3e0292ca8e57e55eb4"
    body:
      encoding: ASCII-8BIT
      string: '{"assessment_result":"contribution_required","applicant":{"receives_qualifying_benefit":true,"age_at_submission":40},"capital":{"total_liquid":"10000.0","total_non_liquid":"50000.0","pensioner_capital_disregard":"0.0","total_capital":"60000.0","capital_contribution":"57000.0","liquid_capital_items":[{"description":"Money
        not in a bank account","value":"10000.0"}],"non_liquid_capital_items":[{"description":"Land","value":"50000.0"}]},"property":{"total_mortgage_allowance":"100000.0","total_property":"0.0","main_home":{"value":"200000.0","transaction_allowance":"6000.0","allowable_outstanding_mortgage":"100000.0","shared_with_housing_assoc":false,"percentage_owned":"50.0","net_equity":"47000.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","percentage_owned":"0.0","assessed_equity":"0.0"}]},"vehicles":{"total_vehicle":"0.0","vehicles":[]}}'
  recorded_at: Thu, 05 Mar 2020 15:36:46 GMT
recorded_with: VCR 5.1.0
