---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/7dfa3515-8643-45b3-8505-6a6f8acdeb47/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1992-09-16","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c290336e2f3d22a7244b211f074dd727"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"e6af69e5-4bd5-4216-b887-18ef7726bfaf","assessment_id":"7dfa3515-8643-45b3-8505-6a6f8acdeb47","date_of_birth":"1992-09-16","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"created_at":"2020-04-06T16:10:58.073Z","updated_at":"2020-04-06T16:10:58.073Z","self_employed":false}],"errors":[],"success":true}'
  recorded_at: Mon, 06 Apr 2020 16:10:58 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/7dfa3515-8643-45b3-8505-6a6f8acdeb47/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[],"non_liquid_capital":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"786a7e6a9cd834121a00fc4a4ad23954"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"id":"6054a37e-8bb8-41dd-a80e-70da6e76315a","assessment_id":"7dfa3515-8643-45b3-8505-6a6f8acdeb47","total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"0.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","capital_contribution":"0.0","lower_threshold":"0.0","upper_threshold":"0.0","assessment_result":"pending","created_at":"2020-04-06T16:10:57.897Z","updated_at":"2020-04-06T16:10:57.897Z"},"errors":[],"success":true}'
  recorded_at: Mon, 06 Apr 2020 16:10:58 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/7dfa3515-8643-45b3-8505-6a6f8acdeb47/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7eb7dee5a8f69a7b4580e1e2bd9fa86a"
    body:
      encoding: ASCII-8BIT
      string: '{"vehicles":[],"errors":[],"success":true}'
  recorded_at: Mon, 06 Apr 2020 16:10:58 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/7dfa3515-8643-45b3-8505-6a6f8acdeb47/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ea2c7ae4c24abfd033005b9a4ea0e6d"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"4d376fa0-e971-44bc-8328-209cd8d5655a","value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"created_at":"2020-04-06T16:10:58.695Z","updated_at":"2020-04-06T16:10:58.695Z","capital_summary_id":"6054a37e-8bb8-41dd-a80e-70da6e76315a","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","assessed_equity":"0.0","main_home_equity_disregard":"0.0"},{"id":"3f66a7ff-f0fc-436e-8c1b-e77efa61d9ce","value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"created_at":"2020-04-06T16:10:58.703Z","updated_at":"2020-04-06T16:10:58.703Z","capital_summary_id":"6054a37e-8bb8-41dd-a80e-70da6e76315a","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","assessed_equity":"0.0","main_home_equity_disregard":"0.0"}],"errors":[],"success":true}'
  recorded_at: Mon, 06 Apr 2020 16:10:58 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/7dfa3515-8643-45b3-8505-6a6f8acdeb47/dependants
    body:
      encoding: UTF-8
      string: '{"dependants":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27498de3719718d23b04ac9d8f287108"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[],"errors":[],"success":true}'
  recorded_at: Mon, 06 Apr 2020 16:10:58 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/7dfa3515-8643-45b3-8505-6a6f8acdeb47/state_benefits
    body:
      encoding: UTF-8
      string: '{"state_benefits":[{"name":"benefits","payments":[{"date":"2020-03-07","amount":186589.11},{"date":"2020-02-06","amount":264511.86},{"date":"2020-01-07","amount":900861.45}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"700c1bbd836e8ceb1643d35a7c126c8a"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"874b86c5-6924-4119-8742-eb991e951451","gross_income_summary_id":"3060c52b-416f-47a7-ad02-982d497c0c5a","state_benefit_type_id":"ac07b00a-407a-439c-b42a-22b1a92cea31","name":"benefits","created_at":"2020-04-06T16:10:59.007Z","updated_at":"2020-04-06T16:10:59.007Z","monthly_value":"0.0"}],"errors":[],"success":true}'
  recorded_at: Mon, 06 Apr 2020 16:10:59 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/7dfa3515-8643-45b3-8505-6a6f8acdeb47/other_incomes
    body:
      encoding: UTF-8
      string: '{"other_incomes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27498de3719718d23b04ac9d8f287108"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[],"errors":[],"success":true}'
  recorded_at: Mon, 06 Apr 2020 16:10:59 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/7dfa3515-8643-45b3-8505-6a6f8acdeb47
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"068887a4fabe002c5925eb4cfabd437f"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"2","timestamp":"2020-04-06T16:10:59.585+00:00","success":true,"assessment":{"id":"7dfa3515-8643-45b3-8505-6a6f8acdeb47","client_reference_id":"L-4K9-MD1","submission_date":"2020-04-06","matter_proceeding_type":"domestic_abuse","assessment_result":"contribution_required","applicant":{"date_of_birth":"1992-09-16","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"monthly_other_income":"0.0","monthly_state_benefits":"450654.14","total_gross_income":"450654.14","upper_threshold":"999999999999.0","assessment_result":"eligible","state_benefits":[{"name":"benefits","monthly_value":"450654.14","excluded_from_income_assessment":false,"state_benefit_payments":[{"payment_date":"2020-03-07","amount":"186589.11"},{"payment_date":"2020-02-06","amount":"264511.86"},{"payment_date":"2020-01-07","amount":"900861.45"}]}],"other_income":[]},"disposable_income":{"outgoings":{"childcare_costs":[],"housing_costs":[],"maintenance_costs":[]},"childcare_allowance":"0.0","dependant_allowance":"0.0","maintenance_allowance":"0.0","gross_housing_costs":"0.0","housing_benefit":"0.0","net_housing_costs":"0.0","total_outgoings_and_allowances":"0.0","total_disposable_income":"450654.14","lower_threshold":"315.0","upper_threshold":"999999999999.0","assessment_result":"contribution_required","income_contribution":"315148.55"},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"0.0","assessed_equity":"0.0"}]}},"total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"100000.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","lower_threshold":"3000.0","upper_threshold":"999999999999.0","assessment_result":"eligible","capital_contribution":"0.0"}}}'
  recorded_at: Mon, 06 Apr 2020 16:10:59 GMT
[...]
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-M3X-WXW","submission_date":"2020-04-14","matter_proceeding_type":"domestic_abuse"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e37cea0e3ef59beb24da379e7762468"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"objects":[{"id":"2de5235c-38ed-46c6-83bb-d22fa3b633aa","client_reference_id":"L-M3X-WXW","remote_ip":{"family":2,"addr":1453664575,"mask_addr":4294967295},"created_at":"2020-04-14T11:21:37.791Z","updated_at":"2020-04-14T11:21:37.791Z","submission_date":"2020-04-14","matter_proceeding_type":"domestic_abuse","assessment_result":"pending"}],"errors":[]}'
  recorded_at: Tue, 14 Apr 2020 11:21:37 GMT
[...]
- request:
    method: post
    uri: http://localhost:3001/assessments/ef6b280d-7f07-4e72-89f7-9b8a09f19754/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1975-07-03","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab9d89615436c5108e6f7d394a961fca"
    body:
      encoding: UTF-8
      string: '{"objects":[{"id":"32671d73-99f3-48b3-bad7-fafda7dc5dbf","assessment_id":"ef6b280d-7f07-4e72-89f7-9b8a09f19754","date_of_birth":"1975-07-03","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"created_at":"2020-04-15T16:15:51.166Z","updated_at":"2020-04-15T16:15:51.166Z","self_employed":false}],"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:15:51 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments/ef6b280d-7f07-4e72-89f7-9b8a09f19754/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[],"non_liquid_capital":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"39a87bef9354fdc204e4db27e86a04c7"
    body:
      encoding: UTF-8
      string: '{"objects":{"id":"d655b277-54cd-437a-ad73-6d03b6e3b6f3","assessment_id":"ef6b280d-7f07-4e72-89f7-9b8a09f19754","total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"0.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","capital_contribution":"0.0","lower_threshold":"0.0","upper_threshold":"0.0","assessment_result":"pending","created_at":"2020-04-15T16:15:51.110Z","updated_at":"2020-04-15T16:15:51.110Z"},"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:15:51 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments/ef6b280d-7f07-4e72-89f7-9b8a09f19754/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7eb7dee5a8f69a7b4580e1e2bd9fa86a"
    body:
      encoding: UTF-8
      string: '{"vehicles":[],"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:15:51 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments/ef6b280d-7f07-4e72-89f7-9b8a09f19754/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      [...]
- request:
    method: post
    uri: http://localhost:3001/assessments/ef6b280d-7f07-4e72-89f7-9b8a09f19754/dependants
    body:
      encoding: UTF-8
      string: '{"dependants":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27498de3719718d23b04ac9d8f287108"
    body:
      encoding: UTF-8
      string: '{"objects":[],"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:15:51 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments/ef6b280d-7f07-4e72-89f7-9b8a09f19754/state_benefits
    body:
      encoding: UTF-8
      string: '{"state_benefits":[{"name":"benefits","payments":[{"date":"2020-01-16","amount":791961.22},{"date":"2020-02-15","amount":476524.17},{"date":"2020-03-16","amount":973665.41}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de28b016ba0ca7d1cfe63fe12fef2fd8"
    body:
      encoding: UTF-8
      string: '{"objects":[{"id":"38ea1657-b909-4209-b949-9df9434c4e19","gross_income_summary_id":"fef1dc20-e910-4079-8ea2-09aabe108b0f","state_benefit_type_id":"a7d2b46c-29b7-4075-ba38-59a92d955d88","name":"benefits","created_at":"2020-04-15T16:15:51.338Z","updated_at":"2020-04-15T16:15:51.338Z","monthly_value":"0.0"}],"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:15:51 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments/ef6b280d-7f07-4e72-89f7-9b8a09f19754/other_incomes
    body:
      encoding: UTF-8
      string: '{"other_incomes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27498de3719718d23b04ac9d8f287108"
    body:
      encoding: UTF-8
      string: '{"objects":[],"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:15:51 GMT
- request:
    method: get
    uri: http://localhost:3001/assessments/ef6b280d-7f07-4e72-89f7-9b8a09f19754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"34ea544c7385168a14cd28e948f25971"
    body:
      encoding: UTF-8
      string: '{"version":"2","timestamp":"2020-04-15T17:15:51.[...]
- request:
    method: post
    uri: http://localhost:3001/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-155-5M3","submission_date":"2020-04-22","matter_proceeding_type":"domestic_abuse"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86de0d46ddcdf616b0794777c8a8d27a"
    body:
      encoding: UTF-8
      string: '{"success":true,"objects":[{"id":"59518e59-6b4f-444d-9526-ee5ec9fccff9","client_reference_id":"L-155-5M3","remote_ip":{"family":30,"addr":1,"mask_addr":340282366920938463463374607431768211455},"created_at":"2020-04-22T11:42:53.201Z","updated_at":"2020-04-22T11:42:53.201Z","submission_date":"2020-04-22","matter_proceeding_type":"domestic_abuse","assessment_result":"pending"}],"errors":[]}'
  recorded_at: Wed, 22 Apr 2020 11:42:53 GMT
[...]
- request:
    method: post
    uri: http://localhost:3001/assessments/59518e59-6b4f-444d-9526-ee5ec9fccff9/outgoings
    body:
      encoding: UTF-8
      string: '{"outgoings":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6dbe68311f899e447371ac5fc7308692"
    body:
      encoding: UTF-8
      string: '{"outgoings":[],"success":true,"errors":[]}'
  recorded_at: Wed, 22 Apr 2020 11:42:53 GMT
[...]
- request:
    method: get
    uri: http://localhost:3001/assessments/59518e59-6b4f-444d-9526-ee5ec9fccff9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d06f78deb03e7b3892b5e4d8d52643f9"
    body:
      encoding: UTF-8
      string: '{"version":"2","timestamp":"2020-04-22T12:42:53.772+01:00","success":true,"assessment":{"id":"59518e59-6b4f-444d-9526-ee5ec9fccff9","client_reference_id":"L-155-5M3","submission_date":"2020-04-22","matter_proceeding_type":"domestic_abuse","assessment_result":"contribution_required","applicant":{"date_of_birth":"1974-03-15","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"monthly_other_income":"0.0","monthly_state_benefits":"823871.24","total_gross_income":"823871.24","upper_threshold":"999999999999.0","assessment_result":"eligible","monthly_income_equivalents":{"friends_or_family":"0.0","maintenance_in":"0.0","property_or_lodger":"0.0","student_loan":"0.0","pension":"0.0"},"state_benefits":[{"name":"benefits","monthly_value":"823871.24","excluded_from_income_assessment":false,"state_benefit_payments":[{"payment_date":"2020-01-23","amount":"710079.67"},{"payment_date":"2020-02-22","amount":"836980.85"},{"payment_date":"2020-03-23","amount":"924553.19"}]}],"other_income":[]},"disposable_income":{"outgoings":{"childcare_costs":[],"housing_costs":[],"maintenance_costs":[]},"monthly_outgoing_equivalents":null,"childcare_allowance":"0.0","dependant_allowance":"0.0","maintenance_allowance":"0.0","gross_housing_costs":"0.0","housing_benefit":"0.0","net_housing_costs":"0.0","total_outgoings_and_allowances":"0.0","total_disposable_income":"823871.24","lower_threshold":"315.0","upper_threshold":"999999999999.0","assessment_result":"contribution_required","income_contribution":"576400.52"},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"0.0","assessed_equity":"0.0"}]}},"total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"100000.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","lower_threshold":"3000.0","upper_threshold":"999999999999.0","assessment_result":"eligible","capital_contribution":"0.0"}}}'
  recorded_at: Wed, 22 Apr 2020 11:42:53 GMT
recorded_with: VCR 5.1.0
