---
http_interactions:
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?key=OvltQCeDASvuxteFuyaScEhO6GTKq05d&postcode=DA74NG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Status:
      - success
      Tx-Id:
      - 1540894600473:473
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?postcode=DA74NG",
            "query" : "postcode=DA74NG",
            "offset" : 0,
            "totalresults" : 11,
            "format" : "JSON",
            "dataset" : "DPA",
            "lr" : "EN,CY",
            "maxresults" : 100,
            "epoch" : "61",
            "output_srs" : "EPSG:27700"
          },
          "results" : [ {
            "DPA" : {
              "UPRN" : "100020211558",
              "UDPRN" : "6248161",
              "ADDRESS" : "1, LONSDALE ROAD, BEXLEYHEATH, DA7 4NG",
              "BUILDING_NUMBER" : "1",
              "THOROUGHFARE_NAME" : "LONSDALE ROAD",
              "POST_TOWN" : "BEXLEYHEATH",
              "POSTCODE" : "DA7 4NG",
              "RPC" : "1",
              "X_COORDINATE" : 548894.0,
              "Y_COORDINATE" : 176139.0,
              "STATUS" : "APPROVED",
              "LOGICAL_STATUS_CODE" : "1",
              "CLASSIFICATION_CODE" : "RD02",
              "CLASSIFICATION_CODE_DESCRIPTION" : "Detached",
              "LOCAL_CUSTODIAN_CODE" : 5120,
              "LOCAL_CUSTODIAN_CODE_DESCRIPTION" : "BEXLEY",
              "POSTAL_ADDRESS_CODE" : "D",
              "POSTAL_ADDRESS_CODE_DESCRIPTION" : "A record which is linked to PAF",
              "BLPU_STATE_CODE_DESCRIPTION" : "Unknown/Not applicable",
              "TOPOGRAPHY_LAYER_TOID" : "osgb1000000095093",
              "LAST_UPDATE_DATE" : "10/02/2016",
              "ENTRY_DATE" : "19/03/2001",
              "LANGUAGE" : "EN",
              "MATCH" : 1.0,
              "MATCH_DESCRIPTION" : "EXACT"
            }
          }, {
            "DPA" : {
              "UPRN" : "100020211559",
              "UDPRN" : "6248164",
              "ADDRESS" : "2, LONSDALE ROAD, BEXLEYHEATH, DA7 4NG",
              "BUILDING_NUMBER" : "2",
              "THOROUGHFARE_NAME" : "LONSDALE ROAD",
              "POST_TOWN" : "BEXLEYHEATH",
              "POSTCODE" : "DA7 4NG",
              "RPC" : "1",
              "X_COORDINATE" : 548861.0,
              "Y_COORDINATE" : 176156.0,
              "S[...]
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"test@test.com","template_id":"570e1b9d-6238-45fd-b75c-96f2f39db8e9","personalisation":{"application_url":"http://www.example.com/citizens/legal_aid_applications/6d5a2feb-142b-4bb7-ad54-6cd94843bb20","client_name":"Test
        User","ref_number":"6d5a2feb-142b-4bb7-ad54-6cd94843bb20"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJjZjgxNmEzNC1mMmJkLTQxMjItOTQ0ZS00YjY4MjhhM2UzNTIiLCJpYXQiOjE1NDA4OTQ2MDF9.oLUe8A-Oc3beyZv3Gmhdj8f4aOzqy5BpJA4FnxGuy_0
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 5fd62251-a75d-4549-7ea9-96f0cef09a01
    body:
      encoding: UTF-8
      string: '{"errors":[{"error":"BadRequestError","message":"Template not found"}],"status_code":400}

'
  recorded_at: Tue, 30 Oct 2018 10:16:42 GMT
recorded_with: VCR 4.0.0
