---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-TNU-LDV","submission_date":"2020-07-02","matter_proceeding_type":"domestic_abuse"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7485d96af67de565041ad99511008b5d"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"assessment_id":"cf29d15e-653b-4e71-a00d-842f9ffc9941","errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:38 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/cf29d15e-653b-4e71-a00d-842f9ffc9941/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1956-02-17","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:38 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/cf29d15e-653b-4e71-a00d-842f9ffc9941/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[],"non_liquid_capital":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:38 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/cf29d15e-653b-4e71-a00d-842f9ffc9941/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:38 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/cf29d15e-653b-4e71-a00d-842f9ffc9941/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:38 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/cf29d15e-653b-4e71-a00d-842f9ffc9941/dependants
    body:
      encoding: UTF-8
      string: '{"dependants":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:38 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/cf29d15e-653b-4e71-a00d-842f9ffc9941/outgoings
    body:
      encoding: UTF-8
      string: '{"outgoings":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:38 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/cf29d15e-653b-4e71-a00d-842f9ffc9941/state_benefits
    body:
      encoding: UTF-8
      string: '{"state_benefits":[{"name":"Child Benefit","payments":[{"date":"2020-04-03","amount":658525.38,"client_id":"8502becb-6569-47eb-ba49-b7b2e3f5dc15"},{"date":"2020-05-03","amount":280036.61,"client_id":"2a665b87-e74b-4efc-83fa-000e9d316257"},{"date":"2020-06-02","amount":127527.77,"client_id":"a01dc94e-0ddf-491f-b731-98f16ef945f4"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:39 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/cf29d15e-653b-4e71-a00d-842f9ffc9941/other_incomes
    body:
      encoding: UTF-8
      string: '{"other_incomes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:39 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/cf29d15e-653b-4e71-a00d-842f9ffc9941/irregular_incomes
    body:
      encoding: UTF-8
      string: '{"payments":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:39 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/cf29d15e-653b-4e71-a00d-842f9ffc9941
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f723baa042e067482fe3517718865db"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"2","timestamp":"2020-07-02T12:00:39.935+00:00","success":true,"assessment":{"id":"cf29d15e-653b-4e71-a00d-842f9ffc9941","client_reference_id":"L-TNU-LDV","submission_date":"2020-07-02","matter_proceeding_type":"domestic_abuse","assessment_result":"contribution_required","applicant":{"date_of_birth":"1956-02-17","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"monthly_other_income":"0.0","monthly_state_benefits":"355363.25","total_gross_income":"355363.25","upper_threshold":"999999999999.0","assessment_result":"eligible","monthly_income_equivalents":{"friends_or_family":"0.0","maintenance_in":"0.0","property_or_lodger":"0.0","pension":"0.0","student_loan":"0.0"},"monthly_outgoing_equivalents":{"child_care":"0.0","maintenance_out":"0.0","rent_or_mortgage":"0.0","legal_aid":"0.0"},"state_benefits":[{"name":"Child
        Benefit","monthly_value":"355363.25","excluded_from_income_assessment":false,"state_benefit_payments":[{"payment_date":"2020-04-03","amount":"658525.38"},{"payment_date":"2020-05-03","amount":"280036.61"},{"payment_date":"2020-06-02","amount":"127527.77"}]}],"other_income":[],"irregular_income":{"payments":[]}},"disposable_income":{"monthly_outgoing_equivalents":{"child_care":"0.0","maintenance_out":"0.0","rent_or_mortgage":"0.0","legal_aid":"0.0"},"childcare_allowance":"0.0","deductions":{"dependants_allowance":"0.0","disregarded_state_benefits":0.0},"dependant_allowance":"0.0","maintenance_allowance":"0.0","gross_housing_costs":"0.0","housing_benefit":"0.0","net_housing_costs":"0.0","total_outgoings_and_allowances":"0.0","total_disposable_income":"355363.25","lower_threshold":"315.0","upper_threshold":"999999999999.0","assessment_result":"contribution_required","income_contribution":"248444.93"},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"0.0","assessed_equity":"0.0"}]}},"total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"100000.0","total_capital":"0.0","pensioner_capital_disregard":"100000.0","assessed_capital":"-100000.0","lower_threshold":"3000.0","upper_threshold":"999999999999.0","assessment_result":"eligible","capital_contribution":"0.0"},"remarks":{"state_benefit_payment":{"amount_variation":["8502becb-6569-47eb-ba49-b7b2e3f5dc15","2a665b87-e74b-4efc-83fa-000e9d316257","a01dc94e-0ddf-491f-b731-98f16ef945f4"]}}}}'
  recorded_at: Thu, 02 Jul 2020 12:00:39 GMT
recorded_with: VCR 6.0.0
