---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-CX4-YYV","submission_date":"2020-03-05","matter_proceeding_type":"domestic_abuse"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc91ab9f130b3c313b1e0e5d20b96b0c"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"objects":[{"id":"edea2350-91b9-4c9c-b621-6a643994db7b","client_reference_id":"L-CX4-YYV","remote_ip":{"family":2,"addr":1377660346,"mask_addr":4294967295},"created_at":"2020-03-05T15:38:24.265Z","updated_at":"2020-03-05T15:38:24.265Z","submission_date":"2020-03-05","matter_proceeding_type":"domestic_abuse","assessment_result":"pending"}],"errors":[]}'
  recorded_at: Thu, 05 Mar 2020 15:38:24 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/edea2350-91b9-4c9c-b621-6a643994db7b/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1980-01-10","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97c697beffa6517b356937149cf295d7"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"74a1d35c-0815-42a0-a6ab-374fde25f258","assessment_id":"edea2350-91b9-4c9c-b621-6a643994db7b","date_of_birth":"1980-01-10","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":true,"created_at":"2020-03-05T15:38:24.472Z","updated_at":"2020-03-05T15:38:24.472Z","self_employed":false}],"errors":[],"success":true}'
  recorded_at: Thu, 05 Mar 2020 15:38:24 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/edea2350-91b9-4c9c-b621-6a643994db7b/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[{"description":"Money not in a bank account","value":"1000.0"}],"non_liquid_capital":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f3a592b98778c8964bc4c482e8cc82c"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"id":"5164eb68-9712-466a-85b2-4da0382cad13","assessment_id":"edea2350-91b9-4c9c-b621-6a643994db7b","total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"0.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","capital_contribution":"0.0","lower_threshold":"0.0","upper_threshold":"0.0","assessment_result":"pending","created_at":"2020-03-05T15:38:24.348Z","updated_at":"2020-03-05T15:38:24.348Z"},"errors":[],"success":true}'
  recorded_at: Thu, 05 Mar 2020 15:38:24 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/edea2350-91b9-4c9c-b621-6a643994db7b/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7eb7dee5a8f69a7b4580e1e2bd9fa86a"
    body:
      encoding: ASCII-8BIT
      string: '{"vehicles":[],"errors":[],"success":true}'
  recorded_at: Thu, 05 Mar 2020 15:38:24 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/edea2350-91b9-4c9c-b621-6a643994db7b/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":"150000.0","outstanding_mortgage":"100000.0","percentage_owned":"50.0","shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15054e26b519e78ecb18097ee021214c"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"f871caaa-ba4a-4b1d-b4f5-5adfdb08d984","value":"150000.0","outstanding_mortgage":"100000.0","percentage_owned":"50.0","main_home":true,"shared_with_housing_assoc":false,"created_at":"2020-03-05T15:38:24.927Z","updated_at":"2020-03-05T15:38:24.927Z","capital_summary_id":"5164eb68-9712-466a-85b2-4da0382cad13","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","assessed_equity":"0.0","main_home_equity_disregard":"0.0"},{"id":"904c8021-ab41-4ff9-9b69-395581623fa6","value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"created_at":"2020-03-05T15:38:24.931Z","updated_at":"2020-03-05T15:38:24.931Z","capital_summary_id":"5164eb68-9712-466a-85b2-4da0382cad13","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","assessed_equity":"0.0","main_home_equity_disregard":"0.0"}],"errors":[],"success":true}'
  recorded_at: Thu, 05 Mar 2020 15:38:24 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/edea2350-91b9-4c9c-b621-6a643994db7b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82d5d4c6559b6e5c5483df993f1492f4"
    body:
      encoding: ASCII-8BIT
      string: '{"assessment_result":"eligible","applicant":{"receives_qualifying_benefit":true,"age_at_submission":40},"capital":{"total_liquid":"1000.0","total_non_liquid":"0.0","pensioner_capital_disregard":"0.0","total_capital":"1000.0","capital_contribution":"0.0","liquid_capital_items":[{"description":"Money
        not in a bank account","value":"1000.0"}],"non_liquid_capital_items":[]},"property":{"total_mortgage_allowance":"100000.0","total_property":"0.0","main_home":{"value":"150000.0","transaction_allowance":"4500.0","allowable_outstanding_mortgage":"100000.0","shared_with_housing_assoc":false,"percentage_owned":"50.0","net_equity":"22750.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","percentage_owned":"0.0","assessed_equity":"0.0"}]},"vehicles":{"total_vehicle":"0.0","vehicles":[]}}'
  recorded_at: Thu, 05 Mar 2020 15:38:25 GMT
recorded_with: VCR 5.1.0
