---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"apply-for-legal-aid@digital.justice.gov.uk","template_id":"ac458f81-b7dd-4b2c-944c-3f17d2f2392c","personalisation":{"created_at":"Mon,
        28 Jan 2019 14:02:56 +0000","user_data":"Generic Linux - Chrome 71.0.3578.98
        - Provider","done_all_needed":"","satisfaction":"","improvement_suggestion":"Foo
        bar"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NDg2ODQxNzZ9.q2GyamGNlMqGjn68gBEpUE9eexJ3PPKzJuhYnxs_T_U
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 3a01a41c-f5ed-4ccf-5971-8d82ac7ac862
    body:
      encoding: UTF-8
      string: '{"errors":[{"error":"BadRequestError","message":"Can\u2019t send to
        this recipient using a team-only API key"}],"status_code":400}

'
  recorded_at: Mon, 28 Jan 2019 14:02:56 GMT
recorded_with: VCR 4.0.0
