---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-JJ6-JUB","submission_date":"2022-08-17"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be071f429dc3a7d614f070c3a525b803"
    body:
      encoding: UTF-8
      string: '{"success":true,"assessment_id":"7b8d75e6-bb04-4bc0-8662-78bf9ffad29b","errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:54 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/proceeding_types
    body:
      encoding: UTF-8
      string: '{"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:54 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1974-11-16","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:54 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[{"description":"Online current accounts","value":"302428.6"},{"description":"Online
        savings accounts","value":"699560.77"}],"non_liquid_capital":[{"description":"Land","value":"50000.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:54 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:54 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:54 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/explicit_remarks
    body:
      encoding: UTF-8
      string: '{"explicit_remarks":[{"category":"policy_disregards","details":["england_infected_blood_support"]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:54 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/dependants
    body:
      encoding: UTF-8
      string: '{"dependants":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:55 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/outgoings
    body:
      encoding: UTF-8
      string: '{"outgoings":[{"name":"rent_or_mortgage","payments":[{"payment_date":"2022-07-17","amount":587.61,"client_id":"7bb79314-51a3-421c-b5e6-2946545c3a45"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:55 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/state_benefits
    body:
      encoding: UTF-8
      string: '{"state_benefits":[{"name":"child_benefit","payments":[{"date":"2022-05-19","amount":13239.97,"client_id":"cdc59930-f235-474a-b684-0a43f78dd704"},{"date":"2022-06-18","amount":875293.7,"client_id":"2a14f622-8b23-4756-a20a-343531f0625d"},{"date":"2022-07-18","amount":366190.66,"client_id":"88e90537-9d2a-4ff2-9bb0-60988fd4c3ec"}]},{"name":"manually_chosen","payments":[{"date":"2022-06-03","amount":57.34,"client_id":"d920e89b-d159-4bc2-9cb6-4a515f9940cb"},{"date":"2022-06-17","amount":57.34,"client_id":"4c3f74c6-0019-4d9a-b4ae-e8fdef29b360"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:55 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/other_incomes
    body:
      encoding: UTF-8
      string: '{"other_incomes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:55 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/irregular_incomes
    body:
      encoding: UTF-8
      string: '{"payments":[{"income_type":"student_loan","frequency":"annual","amount":0.0}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:55 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/employments
    body:
      encoding: UTF-8
      string: '{"employment_income":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:55 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b/cash_transactions
    body:
      encoding: UTF-8
      string: '{"income":[{"category":"benefits","payments":[{"date":"2022-05-01","amount":100.0,"client_id":"1f2db5a7-6a35-4111-abb5-b91d49dbc367"},{"date":"2022-06-01","amount":100.0,"client_id":"a5e71113-e885-4d21-99b8-46dea0384175"},{"date":"2022-07-01","amount":100.0,"client_id":"d5bc668b-54a2-403e-97a0-ea5fedca6130"}]}],"outgoings":[{"category":"rent_or_mortgage","payments":[{"date":"2022-05-01","amount":100.0,"client_id":"03ed3729-6d5d-42ac-9f50-ec98e8cf5f96"},{"date":"2022-06-01","amount":100.0,"client_id":"bac5900f-2af3-4ef8-8c56-cd5e83b37752"},{"date":"2022-07-01","amount":100.0,"client_id":"f5b79a5c-a708-483b-a327-3cf58c2bac35"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Wed, 17 Aug 2022 06:23:56 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/7b8d75e6-bb04-4bc0-8662-78bf9ffad29b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"570cc4dd958d97a681563d0639f42ad8"
    body:
      encoding: UTF-8
      string: '{"version":"5","timestamp":"2022-08-17T06:23:57.432Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":1048989.37,"income_contribution":292349.31,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required"}]},"gross_income":{"total_gross_income":418379.67,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"eligible"}]},"disposable_income":{"dependant_allowance":0.0,"gross_housing_costs":295.87,"housing_benefit":0.0,"net_housing_costs":295.87,"maintenance_allowance":0.0,"total_outgoings_and_allowances":295.87,"total_disposable_income":418083.8,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"income_contribution":292349.31,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"contribution_required"}]},"capital":{"total_liquid":1001989.37,"total_non_liquid":50000.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":1051989.37,"pensioner_capital_disregard":0.0,"capital_contribution":1048989.37,"assessed_capital":1051989.37,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"contribution_required"}]}},"assessment":{"id":"7b8d75e6-bb04-4bc0-8662-78bf9ffad29b","client_reference_id":"L-JJ6-JUB","submission_date":"2022-08-17","applicant":{"date_of_birth":"1974-11-16","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":418379.67,"cash_transactions":100.0,"bank_transactions":[{"name":"manually_chosen","monthly_value":38.23,"excluded_from_income_assessment":false},{"name":"Child
        Benefit","monthly_value":418241.44,"excluded_from_income_assessment":false}]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":295.87,"maintenance_out":0.0,"legal_aid":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":195.87,"maintenance_out":0.0,"legal_aid":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":100.0,"maintenance_out":0.0,"legal_aid":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Online
        current accounts","value":302428.6},{"description":"Online savings accounts","value":699560.77}],"non_liquid":[{"description":"Land","value":50000.0}],"vehicles":[],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"main_home_equity_disregard":100000.0,"assessed_equity":0.0},"additional_properties":[{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"main_home_equity_disregard":0.0,"assessed_equity":0.0}]}}},"remarks":{"state_benefit_payment":{"amount_variation":["cdc59930-f235-474a-b684-0a43f78dd704","2a14f622-8b23-4756-a20a-343531f0625d","88e90537-9d2a-4ff2-9bb0-60988fd4c3ec"],"unknown_frequency":["d920e89b-d159-4bc2-9cb6-4a515f9940cb","4c3f74c6-0019-4d9a-b4ae-e8fdef29b360","cdc59930-f235-474a-b684-0a43f78dd704","2a14f622-8b23-4756-a20a-343531f0625d","88e90537-9d2a-4ff2-9bb0-60988fd4c3ec"]},"outgoings_housing_cost":{"unknown_frequency":["7bb79314-51a3-421c-b5e6-2946545c3a45"]},"policy_disregards":["england_infected_blood_support"]}}}'
  recorded_at: Wed, 17 Aug 2022 06:23:57 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"77edf2e6-ef06-4e3a-ae93-7fe2e3226e3a","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7577c02808f9c10c873b38edda5c9b62"
    body:
      encoding: UTF-8
      string: '{"request_id":"77edf2e6-ef06-4e3a-ae93-7fe2e3226e3a","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA001","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Wed, 17 Aug 2022 06:23:58 GMT
recorded_with: VCR 6.1.0
