---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-R4N-WR0","submission_date":"2020-05-29","matter_proceeding_type":"domestic_abuse"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10767b81dc546377bbe7a9a50abe98c1"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"objects":[{"id":"b8895ab6-67b0-4a0b-949b-4eeb70e0b153","client_reference_id":"L-R4N-WR0","remote_ip":{"family":2,"addr":1367788061,"mask_addr":4294967295},"created_at":"2020-05-29T14:11:53.464Z","updated_at":"2020-05-29T14:11:53.464Z","submission_date":"2020-05-29","matter_proceeding_type":"domestic_abuse","assessment_result":"pending","remarks":{}}],"assessment_id":"b8895ab6-67b0-4a0b-949b-4eeb70e0b153","errors":[]}'
  recorded_at: Fri, 29 May 2020 14:11:53 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/b8895ab6-67b0-4a0b-949b-4eeb70e0b153/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1986-06-03","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Fri, 29 May 2020 14:11:53 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/b8895ab6-67b0-4a0b-949b-4eeb70e0b153/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[],"non_liquid_capital":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Fri, 29 May 2020 14:11:54 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/b8895ab6-67b0-4a0b-949b-4eeb70e0b153/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Fri, 29 May 2020 14:11:54 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/b8895ab6-67b0-4a0b-949b-4eeb70e0b153/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Fri, 29 May 2020 14:11:54 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/b8895ab6-67b0-4a0b-949b-4eeb70e0b153/dependants
    body:
      encoding: UTF-8
      string: '{"dependants":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Fri, 29 May 2020 14:11:56 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/b8895ab6-67b0-4a0b-949b-4eeb70e0b153/outgoings
    body:
      encoding: UTF-8
      string: '{"outgoings":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Fri, 29 May 2020 14:11:56 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/b8895ab6-67b0-4a0b-949b-4eeb70e0b153/state_benefits
    body:
      encoding: UTF-8
      string: '{"state_benefits":[{"name":"Manually chosen","payments":[{"date":"2020-02-29","amount":389673.46,"client_id":"130f35dc-43a6-4a5b-ac76-02dda8d6f942"},{"date":"2020-03-30","amount":961498.97,"client_id":"49633e01-8e56-4a52-b3e9-e73c0b5ac837"},{"date":"2020-04-29","amount":67550.97,"client_id":"e09cccb2-ad65-426f-83ab-a820b5ce44ad"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Fri, 29 May 2020 14:11:56 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/b8895ab6-67b0-4a0b-949b-4eeb70e0b153/other_incomes
    body:
      encoding: UTF-8
      string: '{"other_incomes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Fri, 29 May 2020 14:11:56 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/b8895ab6-67b0-4a0b-949b-4eeb70e0b153
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1431b228d0c8efba5876344bcd33c048"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"2","timestamp":"2020-05-29T14:11:57.205+00:00","success":true,"assessment":{"id":"b8895ab6-67b0-4a0b-949b-4eeb70e0b153","client_reference_id":"L-R4N-WR0","submission_date":"2020-05-29","matter_proceeding_type":"domestic_abuse","assessment_result":"contribution_required","applicant":{"date_of_birth":"1986-06-03","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"monthly_other_income":"0.0","monthly_state_benefits":"472907.8","total_gross_income":"472907.8","upper_threshold":"999999999999.0","assessment_result":"eligible","monthly_income_equivalents":{"friends_or_family":"0.0","maintenance_in":"0.0","property_or_lodger":"0.0","student_loan":"0.0","pension":"0.0"},"monthly_outgoing_equivalents":{"child_care":"0.0","maintenance_out":"0.0","rent_or_mortgage":"0.0","legal_aid":"0.0"},"state_benefits":[{"name":"Manually
        chosen","monthly_value":"472907.8","excluded_from_income_assessment":false,"state_benefit_payments":[{"payment_date":"2020-04-29","amount":"67550.97"},{"payment_date":"2020-03-30","amount":"961498.97"},{"payment_date":"2020-02-29","amount":"389673.46"}]}],"other_income":[]},"disposable_income":{"monthly_outgoing_equivalents":{"child_care":"0.0","maintenance_out":"0.0","rent_or_mortgage":"0.0","legal_aid":"0.0"},"childcare_allowance":"0.0","deductions":{"dependants_allowance":"0.0","disregarded_state_benefits":0.0},"dependant_allowance":"0.0","maintenance_allowance":"0.0","gross_housing_costs":"0.0","housing_benefit":"0.0","net_housing_costs":"0.0","total_outgoings_and_allowances":"0.0","total_disposable_income":"472907.8","lower_threshold":"315.0","upper_threshold":"999999999999.0","assessment_result":"contribution_required","income_contribution":"330726.11"},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"0.0","assessed_equity":"0.0"}]}},"total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"100000.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","lower_threshold":"3000.0","upper_threshold":"999999999999.0","assessment_result":"eligible","capital_contribution":"0.0"},"remarks":{"state_benefit_payment":{"amount_variation":["e09cccb2-ad65-426f-83ab-a820b5ce44ad","49633e01-8e56-4a52-b3e9-e73c0b5ac837","130f35dc-43a6-4a5b-ac76-02dda8d6f942"]}}}}'
  recorded_at: Fri, 29 May 2020 14:11:57 GMT
recorded_with: VCR 6.0.0
