---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/40c373ab-d591-491c-923e-e328599f60e9/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1956-11-15","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"af18491af034fe3adea4edf1536fe73d"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"f4c7b9ad-4d48-42a6-bf89-6832ab7bcbac","assessment_id":"40c373ab-d591-491c-923e-e328599f60e9","date_of_birth":"1956-11-15","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"created_at":"2020-04-07T06:39:34.695Z","updated_at":"2020-04-07T06:39:34.695Z","self_employed":false}],"errors":[],"success":true}'
  recorded_at: Tue, 07 Apr 2020 06:39:34 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/40c373ab-d591-491c-923e-e328599f60e9/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[],"non_liquid_capital":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23a0b1f9cd697a22f9544687e369c8b4"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"id":"810f1926-7acc-4480-a6db-d154e60c1d1a","assessment_id":"40c373ab-d591-491c-923e-e328599f60e9","total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"0.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","capital_contribution":"0.0","lower_threshold":"0.0","upper_threshold":"0.0","assessment_result":"pending","created_at":"2020-04-07T06:39:34.427Z","updated_at":"2020-04-07T06:39:34.427Z"},"errors":[],"success":true}'
  recorded_at: Tue, 07 Apr 2020 06:39:34 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/40c373ab-d591-491c-923e-e328599f60e9/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7eb7dee5a8f69a7b4580e1e2bd9fa86a"
    body:
      encoding: ASCII-8BIT
      string: '{"vehicles":[],"errors":[],"success":true}'
  recorded_at: Tue, 07 Apr 2020 06:39:35 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/40c373ab-d591-491c-923e-e328599f60e9/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10565d0afb24ace5c816752f67e94e76"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"c2086697-6876-4996-8f73-c533d3ed3f05","value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"created_at":"2020-04-07T06:39:35.286Z","updated_at":"2020-04-07T06:39:35.286Z","capital_summary_id":"810f1926-7acc-4480-a6db-d154e60c1d1a","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","assessed_equity":"0.0","main_home_equity_disregard":"0.0"},{"id":"8fc42c49-0b20-41e3-a70d-47ca9b4cb9d0","value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"created_at":"2020-04-07T06:39:35.293Z","updated_at":"2020-04-07T06:39:35.293Z","capital_summary_id":"810f1926-7acc-4480-a6db-d154e60c1d1a","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","assessed_equity":"0.0","main_home_equity_disregard":"0.0"}],"errors":[],"success":true}'
  recorded_at: Tue, 07 Apr 2020 06:39:35 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/40c373ab-d591-491c-923e-e328599f60e9/dependants
    body:
      encoding: UTF-8
      string: '{"dependants":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27498de3719718d23b04ac9d8f287108"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[],"errors":[],"success":true}'
  recorded_at: Tue, 07 Apr 2020 06:39:35 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/40c373ab-d591-491c-923e-e328599f60e9/state_benefits
    body:
      encoding: UTF-8
      string: '{"state_benefits":[{"name":"benefits","payments":[{"date":"2020-03-08","amount":213009.08},{"date":"2020-02-07","amount":987773.75},{"date":"2020-01-08","amount":624719.93}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9619a3d399ebe1e1e9b2ff9ca6af12ae"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"34a2f17d-362c-4679-ae8b-850d0ddb7ed0","gross_income_summary_id":"4f69f69a-cde0-4fd9-9b90-8f496151bb8f","state_benefit_type_id":"ac07b00a-407a-439c-b42a-22b1a92cea31","name":"benefits","created_at":"2020-04-07T06:39:35.694Z","updated_at":"2020-04-07T06:39:35.694Z","monthly_value":"0.0"}],"errors":[],"success":true}'
  recorded_at: Tue, 07 Apr 2020 06:39:35 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/40c373ab-d591-491c-923e-e328599f60e9/other_incomes
    body:
      encoding: UTF-8
      string: '{"other_incomes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27498de3719718d23b04ac9d8f287108"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[],"errors":[],"success":true}'
  recorded_at: Tue, 07 Apr 2020 06:39:35 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/40c373ab-d591-491c-923e-e328599f60e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d79fc9a1f569e8b7e67fb24337af58e7"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"2","timestamp":"2020-04-07T06:39:36.116+00:00","success":true,"assessment":{"id":"40c373ab-d591-491c-923e-e328599f60e9","client_reference_id":"L-26A-5FA","submission_date":"2020-04-07","matter_proceeding_type":"domestic_abuse","assessment_result":"contribution_required","applicant":{"date_of_birth":"1956-11-15","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"monthly_other_income":"0.0","monthly_state_benefits":"608500.92","total_gross_income":"608500.92","upper_threshold":"999999999999.0","assessment_result":"eligible","state_benefits":[{"name":"benefits","monthly_value":"608500.92","excluded_from_income_assessment":false,"state_benefit_payments":[{"payment_date":"2020-03-08","amount":"213009.08"},{"payment_date":"2020-02-07","amount":"987773.75"},{"payment_date":"2020-01-08","amount":"624719.93"}]}],"other_income":[]},"disposable_income":{"outgoings":{"childcare_costs":[],"housing_costs":[],"maintenance_costs":[]},"childcare_allowance":"0.0","dependant_allowance":"0.0","maintenance_allowance":"0.0","gross_housing_costs":"0.0","housing_benefit":"0.0","net_housing_costs":"0.0","total_outgoings_and_allowances":"0.0","total_disposable_income":"608500.92","lower_threshold":"315.0","upper_threshold":"999999999999.0","assessment_result":"contribution_required","income_contribution":"425641.29"},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"0.0","assessed_equity":"0.0"}]}},"total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"100000.0","total_capital":"0.0","pensioner_capital_disregard":"100000.0","assessed_capital":"-100000.0","lower_threshold":"3000.0","upper_threshold":"999999999999.0","assessment_result":"eligible","capital_contribution":"0.0"}}}'
  recorded_at: Tue, 07 Apr 2020 06:39:36 GMT
[...]
- request:
    method: post
    uri: http://localhost:3001/assessments/6ea212a8-0169-42e6-a5df-3142da03ce33/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1991-09-17","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e1b19670d8c63c24e1c25d5bda7b24a"
    body:
      encoding: UTF-8
      string: '{"objects":[{"id":"3e50010a-d85b-4681-8f74-62105b9aa405","assessment_id":"6ea212a8-0169-42e6-a5df-3142da03ce33","date_of_birth":"1991-09-17","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"created_at":"2020-04-15T16:12:36.768Z","updated_at":"2020-04-15T16:12:36.768Z","self_employed":false}],"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:12:36 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments/6ea212a8-0169-42e6-a5df-3142da03ce33/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[],"non_liquid_capital":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"af657fba7af2a7a66c69df0472329e71"
    body:
      encoding: UTF-8
      string: '{"objects":{"id":"81b74f82-4cec-40b4-9057-71f120eaa56d","assessment_id":"6ea212a8-0169-42e6-a5df-3142da03ce33","total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"0.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","capital_contribution":"0.0","lower_threshold":"0.0","upper_threshold":"0.0","assessment_result":"pending","created_at":"2020-04-15T16:12:36.678Z","updated_at":"2020-04-15T16:12:36.678Z"},"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:12:36 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments/6ea212a8-0169-42e6-a5df-3142da03ce33/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7eb7dee5a8f69a7b4580e1e2bd9fa86a"
    body:
      encoding: UTF-8
      string: '{"vehicles":[],"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:12:36 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments/6ea212a8-0169-42e6-a5df-3142da03ce33/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      [...]
- request:
    method: post
    uri: http://localhost:3001/assessments/6ea212a8-0169-42e6-a5df-3142da03ce33/dependants
    body:
      encoding: UTF-8
      string: '{"dependants":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27498de3719718d23b04ac9d8f287108"
    body:
      encoding: UTF-8
      string: '{"objects":[],"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:12:36 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments/6ea212a8-0169-42e6-a5df-3142da03ce33/state_benefits
    body:
      encoding: UTF-8
      string: '{"state_benefits":[{"name":"benefits","payments":[{"date":"2020-01-16","amount":525144.73},{"date":"2020-02-15","amount":501941.35},{"date":"2020-03-16","amount":690275.85}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4adf7625135f9938f293a29574882e1b"
    body:
      encoding: UTF-8
      string: '{"objects":[{"id":"0b7452ec-7a60-450a-9ee6-fc267aaba893","gross_income_summary_id":"443a1060-8b3b-42c8-8fee-dd5cc9b89187","state_benefit_type_id":"a7d2b46c-29b7-4075-ba38-59a92d955d88","name":"benefits","created_at":"2020-04-15T16:12:37.039Z","updated_at":"2020-04-15T16:12:37.039Z","monthly_value":"0.0"}],"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:12:37 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments/6ea212a8-0169-42e6-a5df-3142da03ce33/other_incomes
    body:
      encoding: UTF-8
      string: '{"other_incomes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27498de3719718d23b04ac9d8f287108"
    body:
      encoding: UTF-8
      string: '{"objects":[],"errors":[],"success":true}'
  recorded_at: Wed, 15 Apr 2020 16:12:37 GMT
- request:
    method: get
    uri: http://localhost:3001/assessments/6ea212a8-0169-42e6-a5df-3142da03ce33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5494a0d4f5731699d55937ce5503947e"
    body:
      encoding: UTF-8
      string: '{"version":"2","timestamp":"2020-04-15T17:12:37.[...]
[...]
- request:
    method: post
    uri: http://localhost:3001/assessments/016232b7-706c-4bdc-8ca0-5cfd9d45c876/outgoings
    body:
      encoding: UTF-8
      string: '{"outgoings":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6dbe68311f899e447371ac5fc7308692"
    body:
      encoding: UTF-8
      string: '{"outgoings":[],"success":true,"errors":[]}'
  recorded_at: Wed, 22 Apr 2020 11:42:06 GMT
[...]
- request:
    method: get
    uri: http://localhost:3001/assessments/016232b7-706c-4bdc-8ca0-5cfd9d45c876
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a9dae633f4e12dd32a4475320b4ae11b"
    body:
      encoding: UTF-8
      string: '{"version":"2","timestamp":"2020-04-22T12:42:07.052+01:00","success":true,"assessment":{"id":"016232b7-706c-4bdc-8ca0-5cfd9d45c876","client_reference_id":"L-D1X-0W3","submission_date":"2020-04-22","matter_proceeding_type":"domestic_abuse","assessment_result":"contribution_required","applicant":{"date_of_birth":"1978-09-23","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"monthly_other_income":"0.0","monthly_state_benefits":"183602.78","total_gross_income":"183602.78","upper_threshold":"999999999999.0","assessment_result":"eligible","monthly_income_equivalents":{"friends_or_family":"0.0","maintenance_in":"0.0","property_or_lodger":"0.0","student_loan":"0.0","pension":"0.0"},"state_benefits":[{"name":"manually_chosen","monthly_value":"183602.78","excluded_from_income_assessment":false,"state_benefit_payments":[{"payment_date":"2020-01-23","amount":"184215.94"},{"payment_date":"2020-02-22","amount":"5144.56"},{"payment_date":"2020-03-23","amount":"361447.84"}]}],"other_income":[]},"disposable_income":{"outgoings":{"childcare_costs":[],"housing_costs":[],"maintenance_costs":[]},"monthly_outgoing_equivalents":null,"childcare_allowance":"0.0","dependant_allowance":"0.0","maintenance_allowance":"0.0","gross_housing_costs":"0.0","housing_benefit":"0.0","net_housing_costs":"0.0","total_outgoings_and_allowances":"0.0","total_disposable_income":"183602.78","lower_threshold":"315.0","upper_threshold":"999999999999.0","assessment_result":"contribution_required","income_contribution":"128212.6"},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"0.0","assessed_equity":"0.0"}]}},"total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"100000.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","lower_threshold":"3000.0","upper_threshold":"999999999999.0","assessment_result":"eligible","capital_contribution":"0.0"}}}'
  recorded_at: Wed, 22 Apr 2020 11:42:07 GMT
- request:
    method: post
    uri: http://localhost:3001/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-L24-D19","submission_date":"2020-04-23","matter_proceeding_type":"domestic_abuse"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9eecff071ecef470905b8ec752d9aa9c"
    body:
      encoding: UTF-8
      string: '{"success":true,"objects":[{"id":"b4ca42f2-78e8-4a0b-b9bc-0310fac8a6d7","client_reference_id":"L-L24-D19","remote_ip":{"family":30,"addr":1,"mask_addr":340282366920938463463374607431768211455},"created_at":"2020-04-23T09:06:41.389Z","updated_at":"2020-04-23T09:06:41.389Z","submission_date":"2020-04-23","matter_proceeding_type":"domestic_abuse","assessment_result":"pending"}],"errors":[]}'
  recorded_at: Thu, 23 Apr 2020 09:06:41 GMT
[...]
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/832e4b4f-2fc2-4329-bd65-b95d9fb5ad2f/outgoings
    body:
      encoding: UTF-8
      string: '{"outgoings":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6dbe68311f899e447371ac5fc7308692"
    body:
      encoding: ASCII-8BIT
      string: '{"outgoings":[],"success":true,"errors":[]}'
  recorded_at: Thu, 23 Apr 2020 10:27:39 GMT
[...]
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-MXR-BD9","submission_date":"2020-05-15","matter_proceeding_type":"domestic_abuse"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f7d851760d68904846365fbf01b6a29f"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"objects":[{"id":"e75b45ca-f928-4da5-8301-66f34b6605d9","client_reference_id":"L-MXR-BD9","remote_ip":{"family":2,"addr":1377660346,"mask_addr":4294967295},"created_at":"2020-05-15T11:22:07.685Z","updated_at":"2020-05-15T11:22:07.685Z","submission_date":"2020-05-15","matter_proceeding_type":"domestic_abuse","assessment_result":"pending"}],"errors":[]}'
  recorded_at: Fri, 15 May 2020 11:22:07 GMT
[...]
- request:
    method: get
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/e75b45ca-f928-4da5-8301-66f34b6605d9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95e2d992dfb04d6daea75746bfab1b43"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"2","timestamp":"2020-05-15T11:22:09.811+00:00","success":true,"assessment":{"id":"e75b45ca-f928-4da5-8301-66f34b6605d9","client_reference_id":"L-MXR-BD9","submission_date":"2020-05-15","matter_proceeding_type":"domestic_abuse","assessment_result":"contribution_required","applicant":{"date_of_birth":"1990-08-20","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"monthly_other_income":"0.0","monthly_state_benefits":"487041.37","total_gross_income":"487041.37","upper_threshold":"999999999999.0","assessment_result":"eligible","monthly_income_equivalents":{"friends_or_family":"0.0","maintenance_in":"0.0","property_or_lodger":"0.0","student_loan":"0.0","pension":"0.0"},"monthly_outgoing_equivalents":{"child_care":"0.0","maintenance_out":"0.0","rent_or_mortgage":"0.0","legal_aid":"0.0"},"state_benefits":[{"name":"Manually
        chosen","monthly_value":"487041.37","excluded_from_income_assessment":false,"state_benefit_payments":[{"payment_date":"2020-04-15","amount":"374892.46"},{"payment_date":"2020-03-16","amount":"792393.34"},{"payment_date":"2020-02-15","amount":"293838.32"}]}],"other_income":[]},"disposable_income":{"monthly_outgoing_equivalents":{"child_care":"0.0","maintenance_out":"0.0","rent_or_mortgage":"0.0","legal_aid":"0.0"},"childcare_allowance":"0.0","deductions":{"dependants_allowance":"0.0","disregarded_state_benefits":0.0},"dependant_allowance":"0.0","maintenance_allowance":"0.0","gross_housing_costs":"0.0","housing_benefit":"0.0","net_housing_costs":"0.0","total_outgoings_and_allowances":"0.0","total_disposable_income":"487041.37","lower_threshold":"315.0","upper_threshold":"999999999999.0","assessment_result":"contribution_required","income_contribution":"340619.61"},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"0.0","assessed_equity":"0.0"}]}},"total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"100000.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","lower_threshold":"3000.0","upper_threshold":"999999999999.0","assessment_result":"eligible","capital_contribution":"0.0"}}}'
  recorded_at: Fri, 15 May 2020 11:22:09 GMT
recorded_with: VCR 5.1.0
