---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-U8X-3T8","submission_date":"2020-07-02","matter_proceeding_type":"domestic_abuse"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"107763cd4358b0f5cf6eb13bb1b17d22"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"assessment_id":"0dd7330e-a1b9-422d-a1ff-05a5dfbab505","errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:30 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/0dd7330e-a1b9-422d-a1ff-05a5dfbab505/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1983-03-09","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:30 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/0dd7330e-a1b9-422d-a1ff-05a5dfbab505/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[],"non_liquid_capital":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:31 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/0dd7330e-a1b9-422d-a1ff-05a5dfbab505/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:31 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/0dd7330e-a1b9-422d-a1ff-05a5dfbab505/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"shared_with_housing_assoc":false},"additional_properties":[{"value":0,"outstanding_mortgage":0,"percentage_owned":0,"shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:31 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/0dd7330e-a1b9-422d-a1ff-05a5dfbab505/dependants
    body:
      encoding: UTF-8
      string: '{"dependants":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:31 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/0dd7330e-a1b9-422d-a1ff-05a5dfbab505/outgoings
    body:
      encoding: UTF-8
      string: '{"outgoings":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:32 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/0dd7330e-a1b9-422d-a1ff-05a5dfbab505/state_benefits
    body:
      encoding: UTF-8
      string: '{"state_benefits":[{"name":"Manually chosen","payments":[{"date":"2020-04-03","amount":23137.46,"client_id":"4cae86ec-7e10-4918-ad7e-c4699bc099d8"},{"date":"2020-05-03","amount":686365.6,"client_id":"c1e6c370-6c8f-435b-a68e-7847ba8b2bf3"},{"date":"2020-06-02","amount":938386.71,"client_id":"eb0c7874-c4c1-4056-aea3-55011d3adc5f"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:32 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/0dd7330e-a1b9-422d-a1ff-05a5dfbab505/other_incomes
    body:
      encoding: UTF-8
      string: '{"other_incomes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:32 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/0dd7330e-a1b9-422d-a1ff-05a5dfbab505/irregular_incomes
    body:
      encoding: UTF-8
      string: '{"payments":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[]}'
  recorded_at: Thu, 02 Jul 2020 12:00:32 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/0dd7330e-a1b9-422d-a1ff-05a5dfbab505
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22ef1350bf7c27ac8dab6cd3a9ad1f3e"
    body:
      encoding: ASCII-8BIT
      string: '{"version":"2","timestamp":"2020-07-02T12:00:33.470+00:00","success":true,"assessment":{"id":"0dd7330e-a1b9-422d-a1ff-05a5dfbab505","client_reference_id":"L-U8X-3T8","submission_date":"2020-07-02","matter_proceeding_type":"domestic_abuse","assessment_result":"contribution_required","applicant":{"date_of_birth":"1983-03-09","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"monthly_other_income":"0.0","monthly_state_benefits":"549296.59","total_gross_income":"549296.59","upper_threshold":"999999999999.0","assessment_result":"eligible","monthly_income_equivalents":{"friends_or_family":"0.0","maintenance_in":"0.0","property_or_lodger":"0.0","pension":"0.0","student_loan":"0.0"},"monthly_outgoing_equivalents":{"child_care":"0.0","maintenance_out":"0.0","rent_or_mortgage":"0.0","legal_aid":"0.0"},"state_benefits":[{"name":"Manually
        chosen","monthly_value":"549296.59","excluded_from_income_assessment":false,"state_benefit_payments":[{"payment_date":"2020-04-03","amount":"23137.46"},{"payment_date":"2020-05-03","amount":"686365.6"},{"payment_date":"2020-06-02","amount":"938386.71"}]}],"other_income":[],"irregular_income":{"payments":[]}},"disposable_income":{"monthly_outgoing_equivalents":{"child_care":"0.0","maintenance_out":"0.0","rent_or_mortgage":"0.0","legal_aid":"0.0"},"childcare_allowance":"0.0","deductions":{"dependants_allowance":"0.0","disregarded_state_benefits":0.0},"dependant_allowance":"0.0","maintenance_allowance":"0.0","gross_housing_costs":"0.0","housing_benefit":"0.0","net_housing_costs":"0.0","total_outgoings_and_allowances":"0.0","total_disposable_income":"549296.59","lower_threshold":"315.0","upper_threshold":"999999999999.0","assessment_result":"contribution_required","income_contribution":"384198.26"},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[{"value":"0.0","outstanding_mortgage":"0.0","percentage_owned":"0.0","main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","main_home_equity_disregard":"0.0","assessed_equity":"0.0"}]}},"total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"100000.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","lower_threshold":"3000.0","upper_threshold":"999999999999.0","assessment_result":"eligible","capital_contribution":"0.0"},"remarks":{"state_benefit_payment":{"amount_variation":["4cae86ec-7e10-4918-ad7e-c4699bc099d8","c1e6c370-6c8f-435b-a68e-7847ba8b2bf3","eb0c7874-c4c1-4056-aea3-55011d3adc5f"]}}}}'
  recorded_at: Thu, 02 Jul 2020 12:00:33 GMT
recorded_with: VCR 6.0.0
