---
http_interactions:
  - request:
      method: get
      uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?key=<ORDNANACE_SURVEY_API_KEY>&postcode=DA74NG
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        Status:
          - success
        Tx-Id:
          - 1553100704719:719
      body:
        encoding: UTF-8
        string: |-
          {
            "header" : {
              "uri" : "https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?postcode=DA74NG",
              "query" : "postcode=DA74NG",
              "offset" : 0,
              "totalresults" : 11,
              "format" : "JSON",
              "dataset" : "DPA",
              "lr" : "EN,CY",
              "maxresults" : 100,
              "epoch" : "65",
              "output_srs" : "EPSG:27700"
            },
            "results" : [ {
              "DPA" : {
                "UPRN" : "100020211558",
                "UDPRN" : "6248161",
                "ADDRESS" : "1, LONSDALE ROAD, BEXLEYHEATH, DA7 4NG",
                "BUILDING_NUMBER" : "1",
                "THOROUGHFARE_NAME" : "LONSDALE ROAD",
                "POST_TOWN" : "BEXLEYHEATH",
                "POSTCODE" : "DA7 4NG",
                "RPC" : "2",
                "X_COORDINATE" : 548894.0,
                "Y_COORDINATE" : 176139.0,
                "STATUS" : "APPROVED",
                "LOGICAL_STATUS_CODE" : "1",
                "CLASSIFICATION_CODE" : "RD02",
                "CLASSIFICATION_CODE_DESCRIPTION" : "Detached",
                "LOCAL_CUSTODIAN_CODE" : 5120,
                "LOCAL_CUSTODIAN_CODE_DESCRIPTION" : "BEXLEY",
                "POSTAL_ADDRESS_CODE" : "D",
                "POSTAL_ADDRESS_CODE_DESCRIPTION" : "A record which is linked to PAF",
                "BLPU_STATE_CODE_DESCRIPTION" : "Unknown/Not applicable",
                "TOPOGRAPHY_LAYER_TOID" : "osgb1000000095093",
                "LAST_UPDATE_DATE" : "10/02/2016",
                "ENTRY_DATE" : "19/03/2001",
                "LANGUAGE" : "EN",
                "MATCH" : 1.0,
                "MATCH_DESCRIPTION" : "EXACT"
              }
            }, {
              "DPA" : {
                "UPRN" : "100020211559",
                "UDPRN" : "6248164",
                "ADDRESS" : "2, LONSDALE ROAD, BEXLEYHEATH, DA7 4NG",
                "BUILDING_NUMBER" : "2",
                "THOROUGHFARE_NAME" : "LONSDALE ROAD",
                "POST_TOWN" : "BEXLEYHEATH",
                "POSTCODE" : "DA7 4NG",
                "RPC" : "1",
                "X_COORDINATE" : 548861.0,
                "Y_COORDINATE" : [...]
  - request:
      method: get
      uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?key=<ORDNANACE_SURVEY_API_KEY>&lr=EN&postcode=DA74NG
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        Status:
          - success
        Tx-Id:
          - 1554979882597:597
      body:
        encoding: UTF-8
       [...]
  - request:
      method: post
      uri: https://benefitchecker.dev.legalservices.gov.uk/lsx/lsc-services/benefitChecker?wsdl
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"
          xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:check><clientReference>ecc70842-986d-476d-81d9-a6f5fa8e772f</clientReference><nino>JA293483B</nino><surname>PAUL</surname><dateOfBirth>19611210</dateOfBirth><dateOfAward>20190411</dateOfAward><lscServiceName><BC_LSC_SERVICE_NAME></lscServiceName><clientOrgId><BC_CLIENT_ORG_ID></clientOrgId><clientUserId><BC_CLIENT_USER_ID></clientUserId></wsdl:check></env:Body></env:Envelope>
      headers:
        Soapaction:
          - '"check"'
        Content-Type:
          - text/xml;charset=UTF-8
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - text/xml;charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><benefitCheckerResponse
          xmlns="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"><ns1:originalClientRef
          xmlns:ns1="http://lsc.gov.uk/benefitchecker/data/1.0">ecc70842-986d-476d-81d9-a6f5fa8e772f</ns1:originalClientRef><ns2:benefitCheckerStatus
          xmlns:ns2="http://lsc.gov.uk/benefitchecker/data/1.0">No</ns2:benefitCheckerStatus><ns3:confirmationRef
          xmlns:ns3="http://lsc.gov.uk/benefitchecker/data/1.0">T1554979885423</ns3:confirmationRef></benefitCheckerResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Thu, 11 Apr 2019 10:51:25 GMT
recorded_with: VCR 4.0.0