---
http_interactions:
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?key=<ORDNANACE_SURVEY_API_KEY>&postcode=DA74NG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Status:
      - success
      Tx-Id:
      - 1543415737955:955
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?postcode=DA74NG",
            "query" : "postcode=DA74NG",
            "offset" : 0,
            "totalresults" : 11,
            "format" : "JSON",
            "dataset" : "DPA",
            "lr" : "EN,CY",
            "maxresults" : 100,
            "epoch" : "62",
            "output_srs" : "EPSG:27700"
          },
          "results" : [ {
            "DPA" : {
              "UPRN" : "100020211558",
              "UDPRN" : "6248161",
              "ADDRESS" : "1, LONSDALE ROAD, BEXLEYHEATH, DA7 4NG",
              "BUILDING_NUMBER" : "1",
              "THOROUGHFARE_NAME" : "LONSDALE ROAD",
              "POST_TOWN" : "BEXLEYHEATH",
              "POSTCODE" : "DA7 4NG",
              "RPC" : "1",
              "X_COORDINATE" : 548894.0,
              "Y_COORDINATE" : 176139.0,
              "STATUS" : "APPROVED",
              "LOGICAL_STATUS_CODE" : "1",
              "CLASSIFICATION_CODE" : "RD02",
              "CLASSIFICATION_CODE_DESCRIPTION" : "Detached",
              "LOCAL_CUSTODIAN_CODE" : 5120,
              "LOCAL_CUSTODIAN_CODE_DESCRIPTION" : "BEXLEY",
              "POSTAL_ADDRESS_CODE" : "D",
              "POSTAL_ADDRESS_CODE_DESCRIPTION" : "A record which is linked to PAF",
              "BLPU_STATE_CODE_DESCRIPTION" : "Unknown/Not applicable",
              "TOPOGRAPHY_LAYER_TOID" : "osgb1000000095093",
              "LAST_UPDATE_DATE" : "10/02/2016",
              "ENTRY_DATE" : "19/03/2001",
              "LANGUAGE" : "EN",
              "MATCH" : 1.0,
              "MATCH_DESCRIPTION" : "EXACT"
            }
          }, {
            "DPA" : {
              "UPRN" : "100020211559",
              "UDPRN" : "6248164",
              "ADDRESS" : "2, LONSDALE ROAD, BEXLEYHEATH, DA7 4NG",
              "BUILDING_NUMBER" : "2",
              "THOROUGHFARE_NAME" : "LONSDALE ROAD",
              "POST_TOWN" : "BEXLEYHEATH",
              "POSTCODE" : "DA7 4NG",
              "RPC" : "1",
              "X_COORDINATE" : 548861.0,
              "Y_COORDINATE" : 176156.0,
              "S[...]
- request:
    method: get
    uri: https://benefitchecker.dev.legalservices.gov.uk/lsx/lsc-services/benefitChecker?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="https://lsc.gov.uk/benefitchecker/service/1.0" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://lsc.gov.uk/benefitchecker/service/1.0" xmlns:intf="https://lsc.gov.uk/benefitchecker/service/1.0" xmlns:tns1="http://lsc.gov.uk/benefitchecker/data/1.0" xmlns:tns2="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->
         <wsdl:types>
          <schema elementFormDefault="qualified" targetNamespace="http://lsc.gov.uk/benefitchecker/data/1.0" xmlns="http://www.w3.org/2001/XMLSchema">
           <complexType name="benefitCheckerRequest">
            <sequence>
             <element name="clientOrgId" type="xsd:string"/>
             <element name="clientUserId" type="xsd:string"/>
             <element name="clientReference" type="xsd:string"/>
             <element name="lscServiceName" type="xsd:string"/>
             <element name="nino" type="xsd:string"/>
             <element name="surname" type="xsd:string"/>
             <element name="dateOfBirth" type="xsd:string"/>
             <element name="dateOfAward" nillable="true" type="xsd:string"/>
            </sequence>
           </complexType>
           <complexType name="benefitCheckerResponse">
            <sequence>
             <element name="originalClientRef" type="xsd:string"/>
             <element name="benefitCheckerStatus" type="xsd:string"/>
             <element name="confirmationRef" type="xsd:string"/>
            </sequence>
           </complexType>
           <complexType name="benefitCheckerFaultException">
            <sequence>
             <element name="MessageCode" nillable="true" type="xsd:string"/>
             <element name="MessageText" nillable="true" type="xsd:string"/>
            </sequence>
           </complexType>
          </schema>
          <schema elementFormDefault="qualified" targetNamespace="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check" xmlns="http://www.w3.org/2001/XMLSchema">
           <import namespace="http://lsc.gov.uk/benefitchecker/data/1.0"/>
           <element name="benefitCheckerRequest" type="tns1:benefitCheckerRequest"/>
           <element name="benefitCheckerResponse" type="tns1:benefitCheckerResponse"/>
           <element name="benefitCheckerFaultException" type="tns1:benefitCheckerFaultException"/>
          </schema>
         </wsdl:types>

           <wsdl:message name="BenefitCheckerFaultException">

              <wsdl:part element="tns2:benefitCheckerFaultException" name="benefitCheckerFaultException"/>

           </wsdl:message>

           <wsdl:message name="checkRequest">

              <wsdl:part element="tns2:benefitCheckerRequest" name="benefitCheckerRequest"/>

           </wsdl:message>

           <wsdl:message name="checkResponse">

              <wsdl:part element="tns2:benefitCheckerResponse" name="benefitCheckerResponse"/>

           </wsdl:message>

           <wsdl:portType name="benefitChecker">

              <wsdl:operation name="check" parameterOrder="benefitCheckerRequest">

                 <wsdl:input message="impl:checkRequest" name="checkRequest"/>

                 <wsdl:output message="impl:checkResponse" name="checkResponse"/>

                 <wsdl:fault message="impl:BenefitCheckerFaultException" name="BenefitCheckerFaultException"/>

              </wsdl:operation>

           </wsdl:portType>

           <wsdl:binding name="benefitCheckerSoapBinding" type="impl:benefitChecker">

              <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

              <wsdl:operation name="check">

                 <wsdlsoap:operation soapAction=""/>

                 <wsdl:input name="checkRequest">

                    <wsdlsoap:body use="literal"/>

                 </wsdl:input>

                 <wsdl:output name="checkResponse">

                    <wsdlsoap:body use="literal"/>

                 </wsdl:output>

                 <wsdl:fault name="BenefitCheckerFaultException">

                    <wsdlsoap:fault name="BenefitCheckerFaultException" use="literal"/>

                 </wsdl:fault>

              </wsdl:operation>

           </wsdl:binding>

           <wsdl:service name="benefitCheckerWS">

              <wsdl:port binding="impl:benefitCheckerSoapBinding" name="benefitChecker">

                 <wsdlsoap:address location="https://benefitchecker.dev.legalservices.gov.uk/lsx/lsc-services/benefitChecker"/>

              </wsdl:port>

           </wsdl:service>

        </wsdl:definitions>
  recorded_at: Wed, 28 Nov 2018 14:35:38 GMT
- request:
    method: post
    uri: https://benefitchecker.dev.legalservices.gov.uk/lsx/lsc-services/benefitChecker
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns2="https://lsc.gov.uk/benefitchecker/service/1.0"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"><soapenv:Body><ins0:benefitCheckerRequest><ins0:clientReference>e05bce11-b8ef-4a08-bfc0-4f2dbc95745a</ins0:clientReference><ins0:nino>CB987654A</ins0:nino><ins0:surname>USER</ins0:surname><ins0:dateOfBirth>19990403</ins0:dateOfBirth><ins0:dateOfAward>20181128</ins0:dateOfAward><ins0:lscServiceName><BC_LSC_SERVICE_NAME></ins0:lscServiceName><ins0:clientOrgId><BC_CLIENT_ORG_ID></ins0:clientOrgId><ins0:clientUserId><BC_CLIENT_USER_ID></ins0:clientUserId></ins0:benefitCheckerRequest></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - '"check"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><benefitCheckerResponse
        xmlns="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"><ns1:originalClientRef
        xmlns:ns1="http://lsc.gov.uk/benefitchecker/data/1.0">e05bce11-b8ef-4a08-bfc0-4f2dbc95745a</ns1:originalClientRef><ns2:benefitCheckerStatus
        xmlns:ns2="http://lsc.gov.uk/benefitchecker/data/1.0">Undetermined</ns2:benefitCheckerStatus><ns3:confirmationRef
        xmlns:ns3="http://lsc.gov.uk/benefitchecker/data/1.0">T1543415738301</ns3:confirmationRef></benefitCheckerResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 28 Nov 2018 14:35:38 GMT
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?key=<ORDNANACE_SURVEY_API_KEY>&postcode=SW1H9AJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Status:
      - success
      Tx-Id:
      - 1543415739214:214
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?postcode=SW1H9AJ",
            "query" : "postcode=SW1H9AJ",
            "offset" : 0,
            "totalresults" : 0,
            "format" : "JSON",
            "dataset" : "DPA",
            "lr" : "EN,CY",
            "maxresults" : 100,
            "epoch" : "62",
            "output_srs" : "EPSG:27700"
          }
        }
  recorded_at: Wed, 28 Nov 2018 14:35:39 GMT
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?key=<ORDNANACE_SURVEY_API_KEY>&lr=EN&postcode=SW1H9AJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Tx-Id:
      - 1589383401805:805
      Status:
      - success
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?lr=EN&postcode=SW1H9AJ",
            "query" : "postcode=SW1H9AJ",
            "offset" : 0,
            "totalresults" : 0,
            "format" : "JSON",
            "dataset" : "DPA",
            "lr" : "EN",
            "maxresults" : 100,
            "epoch" : "75",
            "output_srs" : "EPSG:27700"
          }
        }
  recorded_at: Wed, 13 May 2020 15:23:21 GMT
recorded_with: VCR 5.1.0
