---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.apps.live-1.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"2189011a-501b-466c-9274-983a1799456f","proceeding_types":["DA005","DA001","DA003"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"34227aefdb31fe6536079af11359474a"
    body:
      encoding: UTF-8
      string: '{"request_id":"2189011a-501b-466c-9274-983a1799456f","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA005","tasks":{"chances_of_success":[]}},{"ccms_code":"DA001","tasks":{"chances_of_success":[]}},{"ccms_code":"DA003","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Fri, 16 Apr 2021 15:52:20 GMT
recorded_with: VCR 6.0.0
