---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.apps.live-1.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"17a007f7-a2fe-4d21-8afe-8270445119e8","proceeding_types":["DA005","DA002","DA003"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2a77cb9b3c0b3f6e5f3fe4ce825f61a1"
    body:
      encoding: UTF-8
      string: '{"request_id":"17a007f7-a2fe-4d21-8afe-8270445119e8","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA005","tasks":{"chances_of_success":[]}},{"ccms_code":"DA002","tasks":{"chances_of_success":[]}},{"ccms_code":"DA003","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Tue, 13 Apr 2021 14:31:57 GMT
recorded_with: VCR 6.0.0
