---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.apps.live-1.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"108490aa-6ea6-49a1-8756-5262b8b7db68","proceeding_types":["DA005","DA002","DA003"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc078541bc679b4e416a6eba839c5d03"
    body:
      encoding: UTF-8
      string: '{"request_id":"108490aa-6ea6-49a1-8756-5262b8b7db68","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA005","tasks":{"chances_of_success":[]}},{"ccms_code":"DA002","tasks":{"chances_of_success":[]}},{"ccms_code":"DA003","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Tue, 13 Apr 2021 14:31:56 GMT
recorded_with: VCR 6.0.0
