---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.apps.live-1.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"fa00cdfa-36dc-411b-8129-65b5dc9e56ab","proceeding_types":["DA005","DA001","DA003"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf4bb0b1637cb442597df3eab07649fa"
    body:
      encoding: UTF-8
      string: '{"request_id":"fa00cdfa-36dc-411b-8129-65b5dc9e56ab","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA005","tasks":{"chances_of_success":[]}},{"ccms_code":"DA001","tasks":{"chances_of_success":[]}},{"ccms_code":"DA003","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Fri, 16 Apr 2021 15:52:19 GMT
recorded_with: VCR 6.0.0
