---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.apps.live-1.cloud-platform.service.justice.gov.uk/merits_tasks
    body:
      encoding: UTF-8
      string: '{"request_id":"9629b99a-5455-4833-85a1-b65157d676d5","proceeding_types":["DA005","DA002","DA003"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b8b710e7cdcb32d67ec5ae00a0fbde57"
    body:
      encoding: UTF-8
      string: '{"request_id":"9629b99a-5455-4833-85a1-b65157d676d5","success":true,"application":{"tasks":{"latest_incident_details":[],"opponent_details":[],"statement_of_case":[]}},"proceeding_types":[{"ccms_code":"DA005","tasks":{"chances_of_success":[]}},{"ccms_code":"DA002","tasks":{"chances_of_success":[]}},{"ccms_code":"DA003","tasks":{"chances_of_success":[]}}]}'
  recorded_at: Tue, 13 Apr 2021 14:31:57 GMT
recorded_with: VCR 6.0.0
