---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"L-YB0-M31","submission_date":"2019-09-26","matter_proceeding_type":"domestic_abuse"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e87d75bbc5c726c5650e16b1361562c0"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"objects":[{"id":"82c29e5a-58ff-4fc1-8d3e-fab96505893e","client_reference_id":"L-YB0-M31","remote_ip":{"family":2,"addr":1380268825,"mask_addr":4294967295},"created_at":"2019-09-26T10:17:16.895Z","updated_at":"2019-09-26T10:17:16.895Z","submission_date":"2019-09-26","matter_proceeding_type":"domestic_abuse","assessment_result":"pending"}],"errors":[]}'
  recorded_at: Thu, 26 Sep 2019 10:17:16 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/82c29e5a-58ff-4fc1-8d3e-fab96505893e/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1975-09-12","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b4757162b738d03ce1bc79055ae6184"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"5e32f804-1b2f-4361-ab47-251c83a65b24","assessment_id":"82c29e5a-58ff-4fc1-8d3e-fab96505893e","date_of_birth":"1975-09-12","involvement_type":"applicant","has_partner_opponent":false,"receives_qualifying_benefit":false,"created_at":"2019-09-26T10:17:17.066Z","updated_at":"2019-09-26T10:17:17.066Z"}],"errors":[],"success":true}'
  recorded_at: Thu, 26 Sep 2019 10:17:17 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/82c29e5a-58ff-4fc1-8d3e-fab96505893e/capitals
    body:
      encoding: UTF-8
      string: '{"bank_accounts":[{"description":"Off-line bank accounts","value":"256813.96"},{"description":"Cash","value":"929463.53"},{"description":"Signatory
        on other person''s account","value":"247263.33"},{"description":"National
        savings","value":"631488.6"},{"description":"Shares in PLC","value":"30317.69"},{"description":"PEPs,
        unit trusts, capital bonds and government stocks","value":"267758.38"},{"description":"Life
        assurance and endowment policies not linked to a mortgage","value":"961122.07"}],"non_liquid_capital":[{"description":"Timeshare
        property","value":"98807.39"},{"description":"Land","value":"825874.26"},{"description":"Valuable
        items","value":"406113.56"},{"description":"Inherited assets","value":"512724.02"},{"description":"Money
        owed to applicant","value":"758681.72"},{"description":"Trusts","value":"914692.73"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19ac0337bcb049ee395ff7dab5dec3ef"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"id":"02e0714f-0543-4ff3-bb73-500bdc46889d","assessment_id":"82c29e5a-58ff-4fc1-8d3e-fab96505893e","total_liquid":"0.0","total_non_liquid":"0.0","total_vehicle":"0.0","total_property":"0.0","total_mortgage_allowance":"0.0","total_capital":"0.0","pensioner_capital_disregard":"0.0","assessed_capital":"0.0","capital_contribution":"0.0","lower_threshold":"0.0","upper_threshold":"0.0","capital_assessment_result":"pending","created_at":"2019-09-26T10:17:16.900Z","updated_at":"2019-09-26T10:17:16.900Z"},"errors":[],"success":true}'
  recorded_at: Thu, 26 Sep 2019 10:17:17 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/82c29e5a-58ff-4fc1-8d3e-fab96505893e/vehicles
    body:
      encoding: UTF-8
      string: '{"vehicles":[{"value":"4069.0","loan_amount_outstanding":"873.0","date_of_purchase":"2002-10-01","in_regular_use":true}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d5f43da6ce2ba2878a37119cb1f3f31f"
    body:
      encoding: ASCII-8BIT
      string: '{"vehicles":[{"id":"89fd2145-3e5b-48a6-a0eb-75d389b93f79","value":"4069.0","loan_amount_outstanding":"873.0","date_of_purchase":"2002-10-01","in_regular_use":true,"created_at":"2019-09-26T10:17:17.494Z","updated_at":"2019-09-26T10:17:17.494Z","capital_summary_id":"02e0714f-0543-4ff3-bb73-500bdc46889d","included_in_assessment":false,"assessed_value":"0.0"}],"errors":[],"success":true}'
  recorded_at: Thu, 26 Sep 2019 10:17:17 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/82c29e5a-58ff-4fc1-8d3e-fab96505893e/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":"727864.08","outstanding_mortgage":"188024.24","percentage_owned":"43.75","shared_with_housing_assoc":false},"additional_properties":[{"value":"897453.03","outstanding_mortgage":"73722.46","percentage_owned":"66.32","shared_with_housing_assoc":false}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6dd27fc7c654cc37fc064a1f572bde6"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":"7d5d1825-0de3-4ed5-a5e9-b1c366daa842","value":"727864.08","outstanding_mortgage":"188024.24","percentage_owned":"43.75","main_home":true,"shared_with_housing_assoc":false,"created_at":"2019-09-26T10:17:17.688Z","updated_at":"2019-09-26T10:17:17.688Z","capital_summary_id":"02e0714f-0543-4ff3-bb73-500bdc46889d","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","assessed_equity":"0.0","main_home_equity_disregard":"0.0"},{"id":"c7d5f438-76f6-4e7d-89e3-f5a03ca0d24a","value":"897453.03","outstanding_mortgage":"73722.46","percentage_owned":"66.32","main_home":false,"shared_with_housing_assoc":false,"created_at":"2019-09-26T10:17:17.701Z","updated_at":"2019-09-26T10:17:17.701Z","capital_summary_id":"02e0714f-0543-4ff3-bb73-500bdc46889d","transaction_allowance":"0.0","allowable_outstanding_mortgage":"0.0","net_value":"0.0","net_equity":"0.0","assessed_equity":"0.0","main_home_equity_disregard":"0.0"}],"errors":[],"success":true}'
  recorded_at: Thu, 26 Sep 2019 10:17:17 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.apps.live-1.cloud-platform.service.justice.gov.uk/assessments/82c29e5a-58ff-4fc1-8d3e-fab96505893e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bfd127548bb99e85b4fabfc4e65c2609"
    body:
      encoding: ASCII-8BIT
      string: '{"assessment_result":"not_eligible","applicant":{"receives_qualifying_benefit":false,"age_at_submission":44},"capital":{"total_liquid":"3324227.56","total_non_liquid":"3516893.68","pensioner_capital_disregard":"0.0","total_capital":"7566954.53","capital_contribution":"0.0","liquid_capital_items":[{"description":"Off-line
        bank accounts","value":"256813.96"},{"description":"Cash","value":"929463.53"},{"description":"Signatory
        on other person''s account","value":"247263.33"},{"description":"National
        savings","value":"631488.6"},{"description":"Shares in PLC","value":"30317.69"},{"description":"PEPs,
        unit trusts, capital bonds and government stocks","value":"267758.38"},{"description":"Life
        assurance and endowment policies not linked to a mortgage","value":"961122.07"}],"non_liquid_capital_items":[{"description":"Timeshare
        property","value":"98807.39"},{"description":"Land","value":"825874.26"},{"description":"Valuable
        items","value":"406113.56"},{"description":"Inherited assets","value":"512724.02"},{"description":"Money
        owed to applicant","value":"758681.72"},{"description":"Trusts","value":"914692.73"}]},"property":{"total_mortgage_allowance":"100000.0","total_property":"725833.29","main_home":{"value":"727864.08","transaction_allowance":"21835.92","allowable_outstanding_mortgage":"26277.54","percentage_owned":"43.75","net_equity":"297390.9","main_home_equity_disregard":"100000.0","assessed_equity":"197390.9","shared_with_housing_assoc":false},"additional_properties":[{"value":"897453.03","transaction_allowance":"26923.59","allowable_outstanding_mortgage":"73722.46","percentage_owned":"66.32","assessed_equity":"528442.39"}]},"vehicles":{"total_vehicle":"0.0","vehicles":[{"in_regular_use":true,"value":"4069.0","loan_amount_outstanding":"873.0","date_of_purchase":"2002-10-01","included_in_assessment":false,"assessed_value":"0.0"}]}}'
  recorded_at: Tue, 01 Oct 2019 16:22:12 GMT
recorded_with: VCR 5.0.0
