<div class="moj-datepicker" data-module="moj-date-picker">
  <div class="govuk-form-group">

    <div class="govuk-form-group">
      <%= form.govuk_text_field(
            attribute_name,
            **kwargs,
            class: "moj-js-datepicker-input",
          ) %>
    </div>
  </div>
</div>
