---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/filter
    body:
      encoding: UTF-8
      string: '{"current_proceedings":["DA001"],"allowed_categories":["MAT"],"search_term":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7964e9e7d7835b395d2ef19824527277"
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"ccms_code":"DA002","meaning":"Protection
        from harassment act 1997 under section 5 - vary or discharge","description":"to
        be represented on an application to vary or discharge an order under section
        5 Protection from Harassment Act 1997 where the parties are associated persons
        (as defined by Part IV Family Law Act 1996).","full_s8_only":false,"sca_core":false,"sca_related":false,"non_means_tested_plf":false,"ccms_category_law":"Family","ccms_category_law_code":"MAT","ccms_matter_code":"MINJN","ccms_matter":"domestic
        abuse (DA)"},{"ccms_code":"DA003","meaning":"Harassment - injunction","description":"to
        be represented in an action for an injunction under section 3 Protection from
        Harassment Act 1997.","full_s8_only":false,"sca_core":false,"sca_related":false,"non_means_tested_plf":false,"ccms_category_law":"Family","ccms_category_law_code":"MAT","ccms_matter_code":"MINJN","ccms_matter":"domestic
        abuse (DA)"},{"ccms_code":"DA004","meaning":"Non-molestation order","des[...]
[...]
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/DA004
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"134c006d151f82b397c0f27ceb33a746"
    body:
      encoding: UTF-8
      string: '{"success":true,"ccms_code":"DA004","meaning":"Non-molestation order","ccms_category_law_code":"MAT","ccms_matter_code":"MINJN","name":"nonmolestation_order","description":"to
        be represented on an application for a non-molestation order.","full_s8_only":false,"sca_core":false,"sca_related":false,"ccms_category_law":"Family","ccms_matter":"domestic
        abuse (DA)","cost_limitations":{"substantive":{"start_date":"1970-01-01","value":"25000.0"},"delegated_functions":{"start_date":"2021-09-13","value":"2250.0"}},"default_scope_limitations":{"substantive":{"code":"AA019","meaning":"Injunction
        FLA-to final hearing","description":"As to proceedings under Part IV Family
        Law Act 1996 limited to all steps up to and including obtaining and serving
        a final order and in the event of breach leading to the exercise of a power
        of arrest to representation on the consideration of the breach by the court
        (but excluding applying for a warrant of arrest, if not attached, and representation
        in contempt proceedings)."},"delegated_functions":{"code":"CV117","meaning":"Interim
        order inc. return date","description":"Limited to all steps necessary to apply
        for an interim order; where application is made without notice to include
        representation on the return date."}},"service_levels":[{"level":3,"name":"Full
        Representation","stage":8,"proceeding_default":true}]}'
  recorded_at: Fri, 14 Mar 2025 09:21:55 GMT
[...]
- request:
    method: get
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/client_involvement_types/DA004
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"634b8c627a1b078b5d1fffcb51ca2121"
    body:
      encoding: UTF-8
      string: '{"success":true,"client_involvement_type":[{"ccms_code":"A","description":"Applicant/claimant/petitioner"},{"ccms_code":"D","description":"Defendant/respondent"},{"ccms_code":"W","description":"Subject
        of proceedings (child)"},{"ccms_code":"I","description":"Intervenor"},{"ccms_code":"Z","description":"Joined
        party"}]}'
  recorded_at: Fri, 14 Mar 2025 09:21:57 GMT
[...]
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_type_defaults
    body:
      encoding: UTF-8
      string: '{"proceeding_type_ccms_code":"DA004","delegated_functions_used":false,"client_involvement_type":"A"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"05375658d64485716c2575dd3e911e59"
    body:
      encoding: UTF-8
      string: '{"success":true,"requested_params":{"proceeding_type_ccms_code":"DA004","delegated_functions_used":false,"client_involvement_type":"A"},"default_level_of_service":{"level":3,"name":"Full
        Representation","stage":8},"default_scope":{"code":"AA019","meaning":"Injunction
        FLA-to final hearing","description":"As to proceedings under Part IV Family
        Law Act 1996 limited to all steps up to and including obtaining and serving
        a final order and in the event of breach leading to the exercise of a power
        of arrest to representation on the consideration of the breach by the court
        (but excluding applying for a warrant of arrest, if not attached, and representation
        in contempt proceedings).","additional_params":[]}}'
  recorded_at: Fri, 14 Mar 2025 09:21:59 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_type_defaults
    body:
      encoding: UTF-8
      string: '{"proceeding_type_ccms_code":"DA004","delegated_functions_used":false,"client_involvement_type":"A"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"05375658d64485716c2575dd3e911e59"
    body:
      encoding: UTF-8
      string: '{"success":true,"requested_params":{"proceeding_type_ccms_code":"DA004","delegated_functions_used":false,"client_involvement_type":"A"},"default_level_of_service":{"level":3,"name":"Full
        Representation","stage":8},"default_scope":{"code":"AA019","meaning":"Injunction
        FLA-to final hearing","description":"As to proceedings under Part IV Family
        Law Act 1996 limited to all steps up to and including obtaining and serving
        a final order and in the event of breach leading to the exercise of a power
        of arrest to representation on the consideration of the breach by the court
        (but excluding applying for a warrant of arrest, if not attached, and representation
        in contempt proceedings).","additional_params":[]}}'
  recorded_at: Fri, 14 Mar 2025 09:22:00 GMT
recorded_with: VCR 6.3.1
