
#clear-search-div {
  padding-left: 0;
  padding-top: 5px;
}

div.proceeding-item {
  margin-top: 20px;
  padding: 0px;
  border-bottom: 1px solid #ccc;
}

div.no-results {
  margin-left: 0px;
  font-family: "nta", Arial;
  font-size: 19px;
  padding-bottom: 20px;
}
