.organisation-item {
  display: none;

  .control-column {
    text-align: right;
  }
}

.hover {
  padding-top: 2px;
  background-color: #e7f4fb;
  cursor: pointer;
}

.highlight {
  margin-right: 1px;
  padding: 2px 0 0;
  border-bottom: 3px solid #ffdd00;
  background-color: #fff2d3;
}

.selected-organisation-types {
  .control-column {
    @include govuk-media-query($from: desktop) {
      text-align: right;
    }
  }
}

.govuk-link-right {
  float: right;
}
