.proceeding-item {
  display: none;
  &.no-script {
    display: block;
  }
  .control-column {
    text-align: right;
  }
}

.hover {
  background-color: #e7f4fb;
  cursor: pointer;
  padding-top: 2px;
}
