// stylelint-disable selector-max-id

%highlight {
  margin-right: 1px;
  padding: 2px 0 0;
  border-bottom: 3px solid govuk-colour("yellow");
  background-color: mix(govuk-colour("white"), govuk-colour("yellow"), 50%);
}

#search-field {
  display: none;
}

.proceeding-item {
  display: block;

  .control-column {
    text-align: right;
  }
}

.organisation-item,
.country-item {
  mark {
    @extend %highlight;
  }
}

.js-enabled {
  #search-field {
    display: block;
  }

  .proceeding-item,
  .organisation-item,
  .country-item,
  #country-list .govuk-error-message {
    display: none;
  }
}

.hover {
  padding-top: 2px;
  background-color: #e7f4fb;
  cursor: pointer;
}

.highlight {
  @extend %highlight
}

.selected-proceeding-types,
.selected-organisation-types {
  .control-column {
    @include govuk-media-query($from: desktop) {
      text-align: right;
    }
  }
}

.govuk-link-right {
  @extend %govuk-body-m;
  float: right;
}

// stylelint-enable selector-max-id
