<div><%= t("shared.cost_of_living.text") %></div>
<div class="govuk-list">
  <ul class="govuk-list">
    <% t("shared.cost_of_living.list").each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
</div>
