<%= govuk_details(summary_text: t("shared.cost_of_living_and_disregarded_benefits.title")) do %>
  <h2 class="govuk-heading-m"><%= t("shared.cost_of_living.header") %></h2>
  <%= render "shared/means/cost_of_living_section" %>
  <%= render "shared/means/disregarded_benefits_section" %>
<% end %>
