<h2 class="govuk-heading-s"><%= t("shared.disregarded_benefits.header") %></h2>
<p class="govuk-body"><%= t("shared.disregarded_benefits.text") %></p>
<% %w[carer_disability low_income other].each do |category| %>
  <h2 class="govuk-heading-s"><%= t("shared.disregarded_benefits.#{category}.heading") %></h2>
  <div class="govuk-list">
    <ul class="govuk-list">
      <% t("shared.disregarded_benefits.#{category}.list").each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </div>
<% end %>
