<%
  single_proceeding_link = providers_legal_aid_application_proceedings_types_path(legal_aid_application_id: @legal_aid_application)
  multi_proceeding_link = providers_legal_aid_application_has_other_proceedings_path(legal_aid_application_id: @legal_aid_application)
  change_link = Setting.allow_multiple_proceedings? ? multi_proceeding_link : single_proceeding_link
%>

<div class="govuk-grid-row selected-proceeding-type">
  <div class="govuk-grid-column-two-thirds text-column">
    <h3 class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-4"><%= proceeding_type.meaning %></h3>
    <span class="govuk-caption-m">
      <%= proceeding_type.ccms_category_law %> &gt; <%= proceeding_type.ccms_matter %>
    </span>
  </div>
  <div class="govuk-grid-column-one-third control-column">
    <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-4">
      <%= link_to_accessible(
            t('generic.change'),
            change_link,
            class: 'govuk-link change-link',
            suffix: 'proceeding'
          ) %>
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full text-column">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-top-1 govuk-!-padding-bottom-1">
  </div>
</div>
