<div id="<%= proceeding_type.code %>" class="govuk-grid-row proceeding-item" tabindex="0">
  <%= form.govuk_radio_button(
          :id,
          proceeding_type.id,
          label: {text: proceeding_type.meaning},
          hint: {text: "#{proceeding_type.ccms_category_law} (#{proceeding_type.ccms_matter})"}
      ) %>
</div>
