<%= page_template page_title: "[Welsh] Help us improve the Apply for legal aid service", show_errors_for: @feedback, back_link: back_button do %>

  <p class="govuk-body">
    We’ll use your answers to help improve the service. Anything you provide will be confidential and will not be shared outside the
    Ministry of Justice.
  </p>

  <p class="govuk-body">
    Findings from this research will not contain any personal information.
    <%= govuk_link_to("See how we protect your personal information", "https://docs.google.com/document/d/e/2PACX-1vSry_IGP6aBrhW2m-MbkXpujwjcuO7fnyjRQM0aM6H7TIn8JTA34WU5G7TUqM-1uJ3TDHISg5oOMWpq/pub", target: "_blank") %>.
  </p>

  <p class="govuk-body">
    Do not include personal information in your answers.
  </p>

  <%= render partial: "form" %>
<% end %>
