<%= page_template page_title: t('.title'), back_link: back_button do %>
  <p class="govuk-body">
    <%= link_to t('.link'), back_path, class: 'govuk-link govuk-link--no-visited-state' %>
  </p>
<% end %>
