<%= provider_basic_page(page_title: t('.title'), back_link: { path: :back }) do %>
  <p class="govuk-body">
    <%= link_to t('.link'), :back, class: "govuk-link govuk-link--no-visited-state" %>
  </p>
<% end %>
