---
http_interactions:
- request:
    method: post
    uri: https://benefitchecker.stg.legalservices.gov.uk/lsx/lsc-services/benefitChecker?wsdl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?> <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"> <env:Body> <wsdl:check>
        <wsdl:clientReference>e115405a-e400-44d6-be8f-b47f24c4b65f</wsdl:clientReference>
        <wsdl:nino>JA293483A</wsdl:nino> <wsdl:surname>WALKER</wsdl:surname> <wsdl:dateOfBirth>19800110</wsdl:dateOfBirth>
        <wsdl:dateOfAward>20250612</wsdl:dateOfAward> <wsdl:lscServiceName><BC_LSC_SERVICE_NAME></wsdl:lscServiceName>
        <wsdl:clientOrgId><BC_CLIENT_ORG_ID></wsdl:clientOrgId> <wsdl:clientUserId><BC_CLIENT_USER_ID></wsdl:clientUserId>
        </wsdl:check> </env:Body> </env:Envelope>
    headers:
      Soapaction:
      - "#POST"
      Content-type:
      - text/xml
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><benefitCheckerResponse
        xmlns="https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"><ns1:originalClientRef
        xmlns:ns1="http://lsc.gov.uk/benefitchecker/data/1.0">e115405a-e400-44d6-be8f-b47f24c4b65f</ns1:originalClientRef><ns2:benefitCheckerStatus
        xmlns:ns2="http://lsc.gov.uk/benefitchecker/data/1.0">Yes</ns2:benefitCheckerStatus><ns3:confirmationRef
        xmlns:ns3="http://lsc.gov.uk/benefitchecker/data/1.0">T1749728911742</ns3:confirmationRef></benefitCheckerResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 12 Jun 2025 11:48:31 GMT
recorded_with: VCR 6.3.1
