name: Check anonymise rules
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-anonymise-rules:
    name: Check anonymise rules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: ruby/setup-ruby@v1
      - name: Setup Faker
        run: gem install faker
      - name: Run check
        run: ./scripts/migration_hook.rb
