name: Delete UAT release

on:
  pull_request:
    types:
      - closed

jobs:
  delete_uat_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Delete UAT release action
        id: delete_uat
        uses: ministryofjustice/laa-civil-apply-delete-uat-release@23e404138cfb4442ec62d8a13dfccc5355231b17
        with:
          release_name_prefix: "apply-"
          delete_all_pvc: true
          k8s_cluster: ${{ secrets.K8S_GHA_UAT_CLUSTER_NAME }}
          k8s_cluster_cert: ${{ secrets.K8S_GHA_UAT_CLUSTER_CERT }}
          k8s_namespace: ${{ secrets.K8S_GHA_UAT_NAMESPACE }}
          k8s_token: ${{ secrets.K8S_GHA_UAT_TOKEN }}

      - name: Delete UAT RDS database
        shell: bash
        id: delete_uat_db
        run: |
          bin/uat_drop_db ${{ steps.delete_uat.outputs.release-name }}

      - name: Result
        shell: bash
        run: echo ${{ steps.delete_uat.outputs.delete-message }}
