<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_pack_tag 'styles', media: 'all' %>
    <%#= wicked_pdf_stylesheet_link_tag 'application' %>
    <%#= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= render 'layouts/govuk_base64_fonts.html' %>
  </head>

  <body class="govuk-template__body ">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
