<!DOCTYPE html>
<html lang="en" class="govuk-template--rebranded">
  <head>
    <meta charset="utf-8">
    <title><%= t("layouts.application.header.title") %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body class="govuk-template__body" style="padding-left: 3em; padding-top: 3em;">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
