<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <%= apply_webpacker_stylesheet_pack_tag('styles') %>
    <%= render 'layouts/govuk_base64_fonts' %>
  </head>

  <body class="govuk-template__body" style="padding-left: 3em; padding-top: 3em;">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
