---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"a577582b-3e60-44a4-885c-d4b12bf23958","personalisation":{"applicant_name":"Anissa
        Medhurst","provider":"86b5e941-bb2a-4105-bfc0-2c2ab24e99a5","application_ref":"L-WHU-TWE","requested_at":"11:25
        10-Feb-2020"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1ODEzMzM5NDJ9.dqet0kRhrLRnaw3PVOjuyt7tPus7A-QtOiVRLbIuY8A
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 0cac3a63-c9db-4a98-7747-131e58e3fea3
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Applicant is requesting a new link to access
        their application\r\n\r\n* name: Anissa Medhurst\r\n* provider: 86b5e941-bb2a-4105-bfc0-2c2ab24e99a5\r\n*
        application reference: L-WHU-TWE\r\n* requested: 11:25 10-Feb-2020","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid \u2013 Applicant request for new link"},"id":"6f19c733-b0fa-4c7c-a372-bd3c03b1e324","reference":null,"scheduled_for":null,"template":{"id":"a577582b-3e60-44a4-885c-d4b12bf23958","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/a577582b-3e60-44a4-885c-d4b12bf23958","version":1},"uri":"https://api.notifications.service.gov.uk/v2/notifications/6f19c733-b0fa-4c7c-a372-bd3c03b1e324"}

        '
  recorded_at: Mon, 10 Feb 2020 11:25:42 GMT
recorded_with: VCR 5.0.0
