---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simulate-delivered@notifications.service.gov.uk","template_id":"a577582b-3e60-44a4-885c-d4b12bf23958","personalisation":{"applicant_name":"Latoya
        Price","provider":"91ae15fd-6732-4951-9ce9-8e8883399b00","application_ref":"L-72M-CLH","requested_at":"10:38
        10-Jun-2019"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNjNkZTE0My0yZDM0LTQ0NTQtYjFmYy0yZjQxNjI0ZjI3NzEiLCJpYXQiOjE1NjAxNjMxMzF9.vkRB7ZfP8cHb9rIcyAdmre5u1gvDg2JKuqTQ9MkxuLE
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - e144d0c9-28d2-4474-7e30-062fdecbaf20
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Applicant is requesting a new link to access
        their application\r\n\r\n* name: Latoya Price\r\n* provider: 91ae15fd-6732-4951-9ce9-8e8883399b00\r\n*
        application reference: L-72M-CLH\r\n* requested: 10:38 10-Jun-2019","from_email":"apply.for.legal.aid.development@notifications.service.gov.uk","subject":"Apply
        for Legal Aid \u2013 Applicant request for new link"},"id":"4989d506-4627-4704-a08f-810ced314225","reference":null,"scheduled_for":null,"template":{"id":"a577582b-3e60-44a4-885c-d4b12bf23958","uri":"https://api.notifications.service.gov.uk/services/163de143-2d34-4454-b1fc-2f41624f2771/templates/a577582b-3e60-44a4-885c-d4b12bf23958","version":1},"uri":"https://api.notifications.service.gov.uk/v2/notifications/4989d506-4627-4704-a08f-810ced314225"}

        '
  recorded_at: Mon, 10 Jun 2019 10:38:51 GMT
recorded_with: VCR 5.0.0
